[2020-10-28 02:05] veshu opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-10-28 02:23] veshu opened #2 "[$25]Remove Mock Project API"
per title. it should use real topcoder API to find the project.

[2020-10-28 02:24] veshu opened #3 "[$60]Update unit tests dependency"
Currently it requires database and es to run the unit tests. Such dependencies should be mocked.

[2020-10-28 02:49] veshu opened #4 "setup circle ci or github actions"
setup circle ci or github actions for lint, tests and deploy

[2020-10-28 14:30] veshu opened #5 "[$30]Dockerize the application"
* Create the docker file to build and run the app
* update the readme

[2020-11-03 08:35] #2 closed, assigned to dengzikun

[2020-11-03 08:35] #3 closed, assigned to dengzikun

[2020-11-03 08:35] #5 closed, assigned to dengzikun

[2020-11-27 02:24] veshu opened #14 "[$75]Validate for Valid Users"
Currently, JobCandidate POST fails If a user issue exists on v5/users with below message

[code]

This means the userId (who is posting the job) is created and part of v3 API but not available on v5/user.
Hence follow the below steps for creating v5/users and then create a job candidate. Verify for PUT/PATCH too.

Steps need to do
1. Create user on Ubahn
1. Map the user with org

See https://githu

[2020-11-27 02:25] veshu opened #15 "[$50]Validate for Valid Skills"
Before Job POST Check skills from Jobs post body if skills (via v5/skills) exists, If skills don’t then respond back with “not valid skills <skills ID>” else continue posting for jobs. Verify for PUT/PATCH also.

[2020-11-27 02:25] veshu commented on #15
Contest https://www.topcoder.com/challenges/30153995 has been created for this ticket.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-11-27 02:28] veshu commented on #15
@imcaizheng Could you please assign to you.

[2020-11-27 02:35] veshu opened #16 "[$50]Fix weekly-count for taas-teams"
http://api.topcoder-dev.com/v5/taas-teams
Currently, teams are listed but the calculation for the weekly count is coming as zero. This has to be fixed

Branch: Dev

[2020-11-27 02:36] veshu commented on #16
Contest https://www.topcoder.com/challenges/30154003 has been created for this ticket.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-11-27 02:44] veshu commented on #14
Contest https://www.topcoder.com/challenges/30154009 has been created for this ticket.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-11-27 08:08] imcaizheng commented on #15
@veshu OK, I will fix these issues in 16 hrs.

[2020-11-27 08:09] veshu commented on #14
Contest https://www.topcoder.com/challenges/30154009 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-11-27 08:10] veshu commented on #15
Contest https://www.topcoder.com/challenges/30153995 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-11-27 08:10] veshu commented on #16
Contest https://www.topcoder.com/challenges/30154003 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-11-27 10:28] imcaizheng commented on #15
Fixed. See https://github.com/topcoder-platform/taas-apis/pull/17

[2020-11-27 14:26] nkumar-topcoder commented on #15
@imcaizheng  Please create PR for branch integration-test-fix. (for other issues too)

cc: @veshu

[2020-11-27 15:42] imcaizheng commented on #15
@nkumar-topcoder OK, target branch changed to `integration-test-fix`.

[2020-11-27 15:52] imcaizheng commented on #15
Updated PR here: https://github.com/topcoder-platform/taas-apis/pull/18

[2020-11-27 19:13] imcaizheng commented on #14
Fixed. See https://github.com/topcoder-platform/taas-apis/pull/19

[2020-11-27 22:27] imcaizheng commented on #16
@veshu
I am not quite sure if current implementation of weekly count is correct or not.

I tried to extract the business logic about the weekly count from the source code, as follows:

For a team, for every resource bookings of the team, only when the resource booking was started before the first day of current week and is to be ended after the last day of current week, the customer rate of the re

[2020-11-28 02:26] veshu commented on #16
@imcaizheng if the startdate and end date overlaps the current then only show.
So for this week any resources whose startdate is less the weekEndDate and end date is greater than weekStartDate should be considered

[2020-11-28 09:11] imcaizheng commented on #16
@veshu
Thanks for clarification. PR submitted. See https://github.com/topcoder-platform/taas-apis/pull/20

[2020-12-01 02:30] #15 closed

[2020-12-01 02:31] veshu commented on #15
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153995<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-01 20:25] wdprice opened #22 "[$50] Add "Workload" field to v5/jobs"
The following field to be added to v5/jobs model and all relevant API definitions:

Field Name: Workload
Field Type: string

This field will function as a picklist in the UI. Available values: Full-time, Fractional

Updates required to API & supporting documentation.

[2020-12-01 20:26] wdprice commented on #22
FYI @nkumar-topcoder  @RishiRajSahu

[2020-12-01 21:16] maxceem commented on #22
Hi @imcaizheng

Would you be interested to handle this task? We have to add this field and update all the documentation like Postman and Swagger files.

[2020-12-01 21:33] imcaizheng commented on #22
@maxceem
Yeah, you can assign the task to me.

I would like to ask a few questions about the workload field:
a) is workload a required field?
b) what is the default value for the workload field? Full-time or Fractional?
c) I think we should also update some joi schemas in taas-es-processor to handle this additional field.
See https://github.com/topcoder-platform/taas-es-processor/blob/dev/src/serv

[2020-12-01 21:47] maxceem commented on #22
@wdprice could you please, help me with a) and b) above as I'm not sure what are our needs there yet.

c) good catch. Yes, we need to update the ES processor as well.

[2020-12-02 05:54] veshu commented on #22
Contest https://www.topcoder.com/challenges/30155264 has been created for this ticket.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 05:54] veshu commented on #22
Contest https://www.topcoder.com/challenges/30155264 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 05:55] nkumar-topcoder opened #23 "[$60] allow normal topcoder members to create jobs"
a) Currently, v5/jobs validates for bookingmanager role for job creation. This should be changed to allow for all Topcoder Members "Topcoder User" roles.
b) update POST /v5/jobs to allow all auth user access(include bookingmanager and connectmember as well as normal auth user)
c) update PATCH/PUT/DELETE /v5/jobs/:jobId to allow normal auth user to access the job he/she created. bookingmanager and

[2020-12-02 05:55] veshu commented on #23
@nkumar-topcoder, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 05:56] veshu commented on #23
@nkumar-topcoder, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 05:56] veshu commented on #23
@nkumar-topcoder, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 05:57] veshu commented on #23
@nkumar-topcoder, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 06:00] veshu commented on #23
Contest https://www.topcoder.com/challenges/30155268 has been created for this ticket.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 06:00] veshu commented on #23
Contest https://www.topcoder.com/challenges/30155268 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 06:42] maxceem commented on #22
@nkumar-topcoder I think I would handle this task without `tcx` this time as this repository is configured to be used with **veshu**'s account. I can see there are still some tasks not closed, so I don't want to attach my account to this repo yet.

[2020-12-02 07:14] #14 closed

[2020-12-02 07:15] veshu commented on #14
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154009<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 07:15] veshu commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154003<br/><br/>```This is an automated message for veshu via Topcoder X```

[2020-12-02 07:17] veshu opened #24 "[$10]test"
test

[2020-12-02 07:18] maxceem commented on #24
Contest https://www.topcoder.com/challenges/30155295 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-02 07:18] veshu commented on #22
@maxceem I changed to your handle and closed the existing. Tested with another test issue. It is working for your handle. Thanks

[2020-12-02 07:19] veshu commented on #24
@maxceem you are set.Thanks

[2020-12-02 07:19] #24 closed

[2020-12-02 07:19] maxceem commented on #24
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-02 07:24] maxceem commented on #24
Cool, thank you @veshu!

[2020-12-02 10:14] imcaizheng commented on #23
Fixed with PR https://github.com/topcoder-platform/taas-apis/pull/21

[2020-12-02 10:36] imcaizheng commented on #23
PR https://github.com/topcoder-platform/taas-apis/pull/25 updates swagger doc.

[2020-12-02 10:49] SathyaJayabal opened #26 "GET resourceBookings does not return member rate"
GET resourceBookings does not return member rate
<img width="584" alt="Screenshot 2020-12-02 at 4 17 54 PM" src="https://user-images.githubusercontent.com/58783823/100863031-f6d9e000-34b9-11eb-8e07-c617505e2a52.png">

This is the resource booking that was created with member rate
<img width="710" alt="Screenshot 2020-12-02 at 4 18 33 PM" src="https://user-images.githubusercontent.com/58783823/1008

[2020-12-02 10:56] SathyaJayabal opened #27 "[$75] "GET /taas-teams" must support `perPage`, `page`, `sortBy`, `sortOrder`, and `name` params"
GET taas-teams must support perPage and page params.

[2020-12-02 11:08] nkumar-topcoder commented on #16
@wdprice
Check the logic for weekly count above. As this involves $ calculation :-)
1. I would prefer, weekly count to be counting the (first resource booking start date - last resource booking end date)/7.  If it comes in decimal ex: 25/7 = 3.51. above 0.5 round-off 4 weeks. Below 0.5 round-down to week as 3 weeks.
2. Business logic wise backdate of resource is possible, right ? If I backdate and

[2020-12-02 11:09] nkumar-topcoder commented on #26
@SathyaJayabal this as per design. We only display customer rate.
this can be closed

[2020-12-02 11:23] nkumar-topcoder commented on #23
@imcaizheng
1) I am posting as tc member for job candidates. Note that this member is already v5/users. Ideally Jobcandidate POSTING Should not be allowed for tc member. In this case - message should display as “ not allowed or authorised” But message “conflict” is coming.

2) the log shows that, it’s POST v5/users, not sure why is it posting again ?
   a) My guess its trying to recreate a same us

[2020-12-02 11:54] #26 closed

[2020-12-02 15:35] wdprice commented on #22
Apologies for delayed response. I don't think it needs to be required, and it can default to Full-Time

[2020-12-02 15:37] maxceem commented on #22
@imcaizheng let me know if there is anything else to confirm, otherwise, this can be implemented.

[2020-12-02 15:42] imcaizheng commented on #22
@maxceem ok, will make a PR for the dev branch.

[2020-12-02 15:46] imcaizheng commented on #23
@nkumar-topcoder
1. currently POST /jobCandidates can be accessed by all TC members as the source code suggests, see https://github.com/topcoder-platform/taas-apis/blob/feature/integration-test-fix/src/services/JobCandidateService.js#L56-L65

    We could apply access rules on the operation if you think it is needed.

2.

    I don't think so. When we validate for v5/skills, we are using ubahn M2M

[2020-12-02 15:46] maxceem commented on #22
@imcaizheng could you please use `feature/integration-test-fix` branch for work. It has your recent changes merged.

[2020-12-02 15:48] nkumar-topcoder commented on #22
thanks  @maxceem .
 @imcaizheng it's **integration-test-fix** branch.
I plan to PR from this branch to Dev when logical closure of issues.

[2020-12-02 15:49] imcaizheng commented on #22
Yes, that is the last thing I need confirmed.

[2020-12-02 15:53] nkumar-topcoder commented on #23
@imcaizheng
1. you are right, any tc member can post for a job. Functionality wise this is right. no changes needed.
2. agreed.
3. ok fine, thank you.

[2020-12-02 16:24] imcaizheng commented on #16
@nkumar-topcoder
It is because weekEndDate is not correctly calculated. See PR https://github.com/topcoder-platform/taas-apis/pull/28

[2020-12-02 16:58] maxceem opened #29 "Cannot get team "9050" by id"
Using our DEV API I can get a list of teams:

![image](https://user-images.githubusercontent.com/146016/100904637-e2084700-34cf-11eb-9a5b-27915ab18e05.png)

 But when I'm getting this team by id `9050`, I get an error `"Not Found"`, though I can get all other teams by id.

![image](https://user-images.githubusercontent.com/146016/100904748-ffd5ac00-34cf-11eb-9745-319e46c465bd.png)

I try with admi

[2020-12-02 17:42] maxceem opened #30 "Populate "resourceBooking" response with "job.description""
When we are showing the list of "resourceBooking" in UI, we are also showing the "job.description" and need "job.skills" to calculate the percentage of matching skills:

![image](https://user-images.githubusercontent.com/146016/100909925-f8b19c80-34d5-11eb-874a-77c6f1e237f7.png)

As resources might belong to different jobs, getting multiple jobs client-side might cause too many requests. Instead,

[2020-12-02 20:22] imcaizheng commented on #22
@maxceem
PR uploaded. Please check https://github.com/topcoder-platform/taas-apis/pull/31 and https://github.com/topcoder-platform/taas-es-processor/pull/1

[2020-12-03 03:20] nkumar-topcoder commented on #29
@maxceem This could because invalid data for user or skills (uuid) posted for testing purpose earlier. When app tries to pull invalid skills (skill name) to display, it's unable to fetch. Hence the error.
cannot GET /v5/skills/4ca63bb6-f515-4ab0-a6bc-c2d8531e084f (404).

Now, we have strict skills validation during Job posting. I recommend creating a new project with valid skills. The following or

[2020-12-03 03:25] nkumar-topcoder commented on #22
@imcaizheng
clarification - before PR merge. For adding new field "workload" this needs alter table to add column at **postgres** ? Or this has been taken care ?
For ES we just need to re-run create-index script right ?

Please note that we already have data's at both pg and es

[2020-12-03 03:45] nkumar-topcoder commented on #16
@veshu need your input.

We have weekly count vs weekly cost and time remaining in week. can you pls clarify how these calculated and displayed at frontend.

@maxceem @imcaizheng

[2020-12-03 04:03] SathyaJayabal opened #32 "Clarification: Do we need the ability to filter taas-teams based on user id?"
Clarification: Do we need to add  the ability to filter taas-teams based on user id, or the GET taas-teams should return only the teams for the specific user token.

For this page, we will need only taas teams belonging to the specific user.
https://mfe.topcoder-dev.com/taas/myteams

[2020-12-03 04:36] nkumar-topcoder commented on #32
Yes, that get point specific to pull aggregate data

[2020-12-03 04:38] nkumar-topcoder commented on #16
Going by our earlier challenge
https://www.topcoder.com/challenges/742acfca-da8f-447c-b700-67298ac9a8c4
 weeklycost and weeklycount got mixed up ?

[2020-12-03 04:44] SathyaJayabal commented on #32
So the GET point will only return teams the user has access to?

[2020-12-03 05:45] veshu commented on #16
@nkumar-topcoder

what does weekly count mean?
Currently, the weekly cost is the sum of all resources that are billed this week.
what is time remaining in week field?

[2020-12-03 06:01] SathyaJayabal opened #33 "[$50]`JobCandidate` and `ResourceBooking` job and user consistency validation"
Create Resource Booking: Validate job candidate object present for given userid and jobid

[2020-12-03 06:04] nkumar-topcoder commented on #16
The weekly count is output of  {{URL}}/taas-teams/{projectid}
that's what i meant weeklycost and weeklycount mix up

{
    "id":,
    "name": "",
    "weeklyCount": 2913,
    "resources": [
        {
            "id": "5bd69a82-c2cb-476f-9462-0883d3b28b90",
            "handle": "",
            "firstName": "Mekhi",

[2020-12-03 06:13] veshu commented on #16
oh @nkumar-topcoder we can rename that field to `weeklyCost`

[2020-12-03 06:15] imcaizheng commented on #22
@nkumar-topcoder
It is not took care by the PR. You may manually add the column in PG and update the index in ES as follows:

1. to add the "workload" column to the "bookings.jobs" table and update existing "job" data:
[code]
2. to update the "job" index and update existing "job" documents:
[code]

[2020-12-03 07:27] nkumar-topcoder commented on #22
@imcaizheng .
postgres went well, ES having issue while posting
type":"illegal_argument_exception","reason":"Variable [full] is not defined."}
![image](https://user-images.githubusercontent.com/33625707/100977393-efbcdb80-3566-11eb-9774-96997da588a3.png)

[2020-12-03 07:45] nkumar-topcoder commented on #32
@SathyaJayabal yes, atleast for now. You can close this

[2020-12-03 07:50] nkumar-topcoder commented on #22
i think i missed creating ES workload index.

[2020-12-03 08:05] #32 closed

[2020-12-03 08:13] SathyaJayabal opened #34 "GET taas-teams field WeeklyCount should be WeeklyCost"
GET taas-teams field `WeeklyCount` should be `WeeklyCost`  as per swagger and FE
https://github.com/topcoder-platform/taas-apis/blob/ff33c16a5da531982f213bb4a07522c50bae0a33/docs/swagger.yaml#L1843

<img width="339" alt="Screenshot 2020-12-03 at 1 39 33 PM" src="https://user-images.githubusercontent.com/58783823/100981921-72489980-356d-11eb-941e-4ace9015a4eb.png">
<img width="365" alt="Screenshot

[2020-12-03 08:39] maxceem commented on #30
Regarding matching. I can see that API returns the` skillMatched` value. Though in UI when we hover `more` link we are also showing which skill are matched and which are not, like this:

![image](https://user-images.githubusercontent.com/146016/100984753-ca72a200-3553-11eb-9502-8a1171ec944c.png)

To show this, we need to know the list of the skills which are required by the job. And the list of sk

[2020-12-03 09:03] SathyaJayabal opened #35 "Clarification: Topcoder member is able to create jobs for projects they do not have access to"
User: tester1234/ appirio123

This user does not access to any taas-teams and the GET taas-teams returns empty for this user.
But the user is able to create jobs within any project.

Is this expected behaviour?
I see this has been added through https://github.com/topcoder-platform/taas-apis/issues/23, but should the member be able to add jobs only to projects they are a part of ?

@nkumar-topcoder

[2020-12-03 09:11] imcaizheng commented on #22
Could you please escape the single quote around "full-time" and try again?

like this:

[code]

[2020-12-03 09:46] maxceem commented on #29
Ok closing this issue as it's an issue with incorrect dev data (most likely).

[2020-12-03 09:46] #29 closed

[2020-12-03 09:48] #34 closed

[2020-12-03 09:50] maxceem opened #36 "[$50] Return field "jobId" inside "resources" into GET /taas-teams/:id"
![image](https://user-images.githubusercontent.com/146016/100993002-82f11380-355d-11eb-9eae-fef19765f577.png)

[2020-12-03 09:50] SathyaJayabal commented on #34
tracked here
https://github.com/topcoder-platform/taas-apis/issues/16#issuecomment-737690381

[2020-12-03 09:51] maxceem commented on #36
@imcaizheng this should be trivial to add, right?

[2020-12-03 09:53] SathyaJayabal commented on #35
They are also able to create a job candidate. Only when trying to create a resource booking for the project using the job, do they get `unauthorized` error.

[2020-12-03 10:19] maxceem commented on #36
@imcaizheng could you please let me know your email or your handle on Slack. Or send it to my email `maxceem@gmail.com`. Have some other task if you are interested.

[2020-12-03 10:26] maxceem commented on #22
@nkumar-topcoder did this help?

[2020-12-03 11:11] nkumar-topcoder commented on #35
@SathyaJayabal yes, this is as per design

[2020-12-03 11:13] nkumar-topcoder commented on #30
@maxceem
if this simple fix let's add as task. else we can take this as new scope in next version

cc: @wdprice

[2020-12-03 11:14] nkumar-topcoder commented on #27
@maxceem can you pls take a look this.

[2020-12-03 11:16] maxceem commented on #30
@nkumar-topcoder after discussing with you on the call, we came up to the idea, that we have almost everything we need already. We only have to add `jobId` to the resources.

So I've created a new issue for this https://github.com/topcoder-platform/taas-apis/issues/36.

And I'm closing this one.

[2020-12-03 11:16] #30 closed

[2020-12-03 11:24] #35 closed

[2020-12-03 11:55] maxceem opened #37 "[$50] Return "skills" field by /taas-teams/:id/jobs/:id endpoint"
Endpoint `/taas-teams/:id/jobs/:id` currently reutns only `id`, `desctiption` and `candidates`.

It should also return `skills` so on this page we know the list of skills required by the job:

![image](https://user-images.githubusercontent.com/146016/101014881-38789280-356f-11eb-8f33-3b40979bc511.png)

Currently, the response looks like this:

![image](https://user-images.githubusercontent.com/146

[2020-12-03 12:20] nkumar-topcoder commented on #22
@maxceem
No, I check with others guess scripts for ES might not be supported at AWS ES. I am not sure. Can you just check around for other topcoder ES deployment please.

But, i did deploy - only new job creation will have default value for workload

@imcaizheng
local ES is it working

[2020-12-03 12:22] maxceem commented on #22
@nkumar-topcoder I don't have access to any Topcoder ES.

[2020-12-03 12:59] imcaizheng commented on #37
PR created https://github.com/topcoder-platform/taas-apis/pull/38

[2020-12-03 13:00] imcaizheng commented on #36
PR created https://github.com/topcoder-platform/taas-apis/pull/38

[2020-12-03 13:08] imcaizheng commented on #36
I noticed some jobIds inside the resources field may not be found in the jobs field.
I believe it is because some resourceBookings are created with non-exist jobId, considering we don't apply validation to check if the jobId inside request body exists or not before creating a resourceBooking.

[2020-12-03 13:18] maxceem commented on #37
@imcaizheng sorry I didn't clarify it. But we need to return skills as objects `{ id, name }`, the same like we do when getting a team. Because we need to show the names of the skills required by the job.

![image](https://user-images.githubusercontent.com/146016/101022887-a8404a80-357a-11eb-8507-a7ced50434fe.png)

But as implemented in PR only ids are returned:

![image](https://user-images.githu

[2020-12-03 13:39] imcaizheng commented on #37
@maxceem
Updated PR https://github.com/topcoder-platform/taas-apis/pull/39

[2020-12-03 13:54] maxceem commented on #37
Contest https://www.topcoder.com/challenges/30155648 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 13:54] maxceem commented on #37
Contest https://www.topcoder.com/challenges/30155648 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 13:57] maxceem commented on #36
Contest https://www.topcoder.com/challenges/30155649 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 13:57] maxceem commented on #36
Contest https://www.topcoder.com/challenges/30155649 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 13:59] maxceem commented on #37
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 14:17] #36 closed

[2020-12-03 14:17] maxceem commented on #36
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155649<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 14:47] maxceem commented on #37
@imcaizheng Tcx failed to process the payment. Could you please agree on these terms https://www.topcoder.com/challenges/terms/detail/564a981e-6840-4a5c-894e-d5ad22e9cd6f.

So I can process a payment for you manually. Thanks.

[2020-12-03 15:13] imcaizheng commented on #37
@maxceem Agreed.

[2020-12-03 15:40] maxceem commented on #37
Processed the payment manually via https://www.topcoder.com/challenges/30155652/?type=develop

[2020-12-03 15:40] #37 closed

[2020-12-03 15:40] maxceem commented on #37
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-03 15:45] maxceem commented on #27
I had look understood the issue, and would update with details tomorrow.

[2020-12-03 19:19] maxceem opened #40 "[$100] Support M2M tokens"
We need to allow calling TaaS API using M2M tokens.

- We can follow Challenge API as an example for implementation https://github.com/topcoder-platform/challenge-api/blob/develop/app-routes.js

- We should be able to configs scopes per route like this https://github.com/topcoder-platform/challenge-api/blob/develop/src/routes.js#L20

- Support and config scopes per entity:
  - For teams: `read:taa

[2020-12-03 20:12] maxceem commented on #40
@imcaizheng you may pick it up if you are interested.

[2020-12-03 23:09] imcaizheng commented on #23
@nkumar-topcoder

Your guess is right.
It is possible the handle stored in your token was already used to create an ubahn user and associated with an userId other than the userId stored in your token.
So when the getUserId function tried to use the userId stored in your token to find an existing ubahn user, it got no record. It then attempted to create new ubahn user with the handle stored in your

[2020-12-04 08:54] maxceem commented on #27
Internally `GET /taas-teams` endpoint calls Projects API `GET /projects`.
Projects API support sorting, pagination, and filtering by name: `https://api.topcoder-dev.com/v5/projects/?sort=lastActivityAt+desc&perPage=20&page=1&name=*test*`.

1. `GET /taas-teams` should support pagination params `page` and `perPage` (pass to Projects API)
2. `GET /taas-teams` should support sorting params `sortBy` an

[2020-12-04 09:06] maxceem commented on #27
@imcaizheng you may pick it up if it looks good for you.

[2020-12-04 09:08] maxceem commented on #22
@nkumar-topcoder I guess all is good with this now. I think we are good with the default for only new records in DEV. Can we close this issue?

[2020-12-04 09:22] maxceem opened #41 "Add "customerRate" and "memberRate" fields to the "Job" model"
As per design, we have to show the rate for open positions (jobs)

![image](https://user-images.githubusercontent.com/146016/101145342-52bf7880-3622-11eb-9ef4-cdc248a1d68c.png)

But we don't have any place to store it in the Jobs model. So we have to add
- "customerRate" field
- "memberRate" field (I guess we could also need it to match jobs with member rates later)

@nkumar-topcoder what do you t

[2020-12-04 09:37] nkumar-topcoder commented on #41
@maxceem those 2 rates are available at resourceBooking model.

[2020-12-04 09:43] maxceem opened #42 "[$30] Change status when user is booked"
![image](https://user-images.githubusercontent.com/146016/101159101-8bb51880-3635-11eb-906f-fd1d900f607c.png)

When we are updating the status of ResourceBooking to `assigned` the corresponding `JobCandidate` record (with the same `userId` and `jobId` should be updated with the status `selected`.

[2020-12-04 09:56] nkumar-topcoder commented on #41
@maxceem we need to discuss on this, the rate has to come from RateMaster table and should be associated with Job model (JobID, JobDescription). This gives us flexibility to change cust. and member rate at TaaS admin app (future roadmap).

[2020-12-04 11:12] maxceem commented on #33
Task:
1. When creating a new `JobCandidate` we have to make sure, that `jobId` and `userId` are valid (exists) or return an error.
    - the same check should be when we `PUT` or `PATCH`
2. The same when we are creating a `ResourceBooking`
    - the same check should be when we `PUT` or `PATCH`

[2020-12-04 11:14] maxceem commented on #33
@imcaizheng ready for pick up if you like.

[2020-12-04 11:16] #22 closed

[2020-12-04 11:17] maxceem commented on #22
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155264<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-04 11:24] maxceem commented on #33
Hold on. Have to clarify one more requirement.

@nkumar-topcoder should we also check the status of `JobCandidate`? I guess we should not allow creating `ResourceBooking` for `JobCandidate` if `JobCandidate` is already has `selected` status. What do you think?

[2020-12-04 11:36] maxceem commented on #42
@imcaizheng ready for pick up.

[2020-12-04 13:39] imcaizheng commented on #40
@maxceem
PR created https://github.com/topcoder-platform/taas-apis/pull/43

There is a minor issue, when GET /taas-teams/:id with m2m token, it would fail with the following message:

[code]

Beside that, other endpoints work well with m2m access. Will look into that issue later.

[2020-12-04 13:39] nkumar-topcoder commented on #33
Good catch, but only based on selected status for the particular  userid,
job id and enddate. if candidate is selected, then we have reference to
jobid we need to check when his assignment ending.
I think this needs discussion

On Fri, 4 Dec 2020, 4:55 pm maxceem <notifications@github.com wrote:

[2020-12-04 13:44] maxceem commented on #40
Thanks, @imcaizheng.

I think project service returns an error because it requires M2M token to have proper scopes `all:projects`, `read:projects`. And for other Project API endpoints, you may check required scopes here https://htmlpreview.github.io/?https://github.com/topcoder-platform/tc-project-service/blob/develop/docs/permissions.html.

[2020-12-04 19:40] imcaizheng commented on #27
PR created https://github.com/topcoder-platform/taas-apis/pull/44

[2020-12-04 21:57] imcaizheng commented on #42
@maxceem PR created https://github.com/topcoder-platform/taas-apis/pull/45

[2020-12-05 00:06] imcaizheng commented on #40
@maxceem
I tried to capture the token generated from `helper.getM2Mtoken()` https://github.com/topcoder-platform/taas-apis/blob/feature/integration-test-fix/src/common/helper.js#L206
but I cannot find `read:projects` or `all:projects` inside the payload of the token. Here is the payload:
[code]
Do you have any idea how to configure AUTH0 related parameters to get tokens that can access /v5/project

[2020-12-05 10:22] maxceem commented on #40
Thanks for the details @imcaizheng. I would check If we have any good way of testing it.

To configure AUTH0 token we would need to ask the Topcoder infrastructure team, so this may take some time.

[2020-12-07 07:57] nkumar-topcoder commented on #42
@imcaizheng

1. Is the update to **selected** status for the **jobcandidate**  for Elastic Search is also taken care ?
2. What happens if the userid and jobid doesn't exists ?

CC @maxceem

[2020-12-07 08:21] imcaizheng commented on #42
@nkumar-topcoder
1. yes. Internally the `JobCandidateService.partiallyUpdateJobCandidate()` function would be called after a resourceBooking is assigned, so the candidate would be updated in both db and es.
2. no candidates would be updated when a candidate with same userId and jobId is not found.
3. when there are more than one candidate with same userId and jobId found, all the candidates would

[2020-12-07 09:56] maxceem opened #46 "Avoid conflicts for Topcoder/ubahn users"
Follow up from https://github.com/topcoder-platform/taas-apis/issues/23#issuecomment-738434981

Sometimes we get conflict error during ensuring user exists in ubahn (when we create it):

![image](https://user-images.githubusercontent.com/146016/101336538-471ebc80-3883-11eb-9b01-12a9dbdc4fe9.png)

It is possible the handle stored in your token was already used to create an ubahn user and associated

[2020-12-07 09:57] maxceem commented on #23
The fix for the issue in this ticket works good.
To track and discuss more the issue with `conflict` error during user ubahn creating I've created a separate issue https://github.com/topcoder-platform/taas-apis/issues/46

[2020-12-07 09:58] #23 closed

[2020-12-07 09:58] maxceem commented on #23
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155268<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 10:04] maxceem opened #47 "Rename field "weeklyCount" to "weeklyCost""
Follow up from https://github.com/topcoder-platform/taas-apis/issues/16#issuecomment-737690381

`/taas-teams` and `​/taas-teams​/{id}` should return "weeklyCost" field instead of "weeklyCount" as per swagger file.

[2020-12-07 10:04] maxceem commented on #16
Closing this issue as it's done per description and created a new one to handle renaming https://github.com/topcoder-platform/taas-apis/issues/47

[2020-12-07 10:04] #16 closed

[2020-12-07 10:55] maxceem commented on #27
Contest https://www.topcoder.com/challenges/30156198 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 10:55] maxceem commented on #27
Contest https://www.topcoder.com/challenges/30156198 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 11:00] nkumar-topcoder commented on #42
@imcaizheng you have point, i shall get back on this.

[2020-12-07 11:01] maxceem commented on #42
Contest https://www.topcoder.com/challenges/30156199 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 11:01] maxceem commented on #42
Contest https://www.topcoder.com/challenges/30156199 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 11:01] maxceem commented on #40
Contest https://www.topcoder.com/challenges/30156200 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 11:01] maxceem commented on #40
Contest https://www.topcoder.com/challenges/30156200 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-07 11:31] maxceem commented on #27
Works good.

The only thing, I guess we shouldn't add `result` when we return arrays in the response because as per swagger we have to return arrays of records directly, like:
[code]

instead of
[code]

So I removed `result` for all the "list" endpoints https://github.com/topcoder-platform/taas-apis/commit/f3328f79158b327cc22a1d26fdee807a5b21e068

@imcaizheng please, let me know if missed somethin

[2020-12-07 11:54] imcaizheng commented on #27
@maxceem other operations such as `GET /jobs`, `GET /jobCandidates` and `GET /resourceBookings` return data with the `result` field, I think it may make API clients a little happy by letting `GET /taas-teams` to return data the same way, also considering the taas-teams endpoints were developed after the jobs, jobCandidates and resourceBookings endpionts. I would prefer to change the swagger spec i

[2020-12-07 13:48] maxceem commented on #27
Thanks, @imcaizheng.

@nkumar-topcoder as per swagger and implementation all `list` endpoints return data in `result` field:

![image](https://user-images.githubusercontent.com/146016/101357964-e1dac380-38a2-11eb-8fdf-053d3f37cc84.png)

While endpoints which return single records, return data directly without `result` field:

![image](https://user-images.githubusercontent.com/146016/101358044-f919

[2020-12-07 17:01] nkumar-topcoder commented on #27
@maxceem
not sure ,  @veshu can help us here. pls reach out to him (offline on slack).
feel free to implement as deemed fit. thanks

[2020-12-07 21:11] maxceem commented on #27
Ok, I believe there should not be `result` in responses, so I've removed it in endpoints and in Swagger.

[2020-12-07 21:11] #27 closed

[2020-12-07 21:12] maxceem commented on #27
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156198<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-08 08:38] maxceem commented on #40
@imcaizheng could you, please, let me know what secret did you use to sign the tokens in Postman file?

[2020-12-08 08:54] maxceem commented on #40
Works great for me locally.
Would merge it as soon as merge conflicts are resulted.

Issue with getting the team by id should be resolved when we add scope `read:projects` to the Auth0 config which we use in TaaS API on DEV so this method https://github.com/topcoder-platform/taas-apis/blob/feature/integration-test-fix/src/common/helper.js#L198-L200 returns a token which is allowed to call Projects

[2020-12-08 10:18] maxceem commented on #47
Fixed by https://github.com/topcoder-platform/taas-apis/commit/44a26d2725ce355f8aa0971e69860db3b04fbf36

Also, in TaaS App https://github.com/topcoder-platform/taas-app/commit/5b18673f59e3006d725562756c36eaf04992bf67

[2020-12-08 10:30] maxceem commented on #40
@nkumar-topcoder I've resolved conflicts and merged to DEV for testing.

[2020-12-08 10:34] maxceem commented on #47
Deployed and verified in DEV

![image](https://user-images.githubusercontent.com/146016/101472817-c1b60d80-3951-11eb-9667-e476a79fd79d.png)

[2020-12-08 10:34] #47 closed

[2020-12-08 11:15] imcaizheng commented on #40
@maxceem I guess you already found out the secret is `mysecret`. It can be found at `config/default.js`, assigned to the `AUTH_SECRET` parameter.

[2020-12-08 11:51] maxceem commented on #40
It has been tested e2e, and Connect App (using Projects API) creates Jobs in TaaS API using M2M token and it works great.

Thanks, @imcaizheng.

[2020-12-08 11:51] #40 closed

[2020-12-08 11:52] maxceem commented on #40
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156200<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-08 12:09] #42 closed

[2020-12-08 12:10] maxceem commented on #42
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156199<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-08 20:46] wdprice opened #49 "Weekly cost not calculating in taas-teams API"
See response from taas-teams API:

![image](https://user-images.githubusercontent.com/6014049/101539473-942a8d80-396c-11eb-96f6-025989984d09.png)

Expected value is 13.

[2020-12-08 20:58] wdprice opened #50 "Long load times for taas-teams/:id/jobs/:id"
Long running API call, presumably due to ubahn API calls. Need to review the structure of the calls to ubahn APIs.

![image](https://user-images.githubusercontent.com/6014049/101540503-1a939f00-396e-11eb-92b4-26641d1314af.png)

[2020-12-08 21:15] wdprice commented on #50
@nkumar-topcoder - it may be worth reviewing the API calls with @callmekatootie to see if we're leveraging the elsatic.co implementation in ubahn effectively.

[2020-12-09 08:21] nkumar-topcoder commented on #49
@wdprice
Verified the full output for this projects, For all Jobs the dates are past and for the last one ("id": "49d7d7x-......)  has  correct dates but status is "sourcing". Only "assigned" status has weeklycost displayed.Update status it should reflect.

[2020-12-09 10:57] callmekatootie commented on #50
At [this](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L246) line, when you fetch the user's details, you could pass the query param `enrich` with a value of `true`. This will give you the user's details as well as the skill.

Thus, at [this line](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L266) you no longer have to f

[2020-12-09 14:14] maxceem commented on #50
Thank you, @callmekatootie your advice helped a LOT! Loading time has been reduced from **~20 seconds** to **~1 second**. Huge performance gain.

[2020-12-09 14:29] maxceem commented on #50
Done via commits 1998370272ed2d8bbbb9d65ee0d06cb68d224826 and 91c98df98d28b04ba3d658c9f8a2dfbba1f2dba9.

[2020-12-09 14:39] maxceem opened #51 "[$60] TaaS Teams return not all resources."
1. Create a demo data using Postman `Create Demo Data For Team` folder:

    ![image](https://user-images.githubusercontent.com/146016/101642650-ea1a3680-3a3b-11eb-98aa-f68a4434af4c.png)

2. It creates 6 assigned resources.

3. But if we load the team, it shows some arbitrary number of resources from 0 till 6.

Example team: https://mfe.topcoder-dev.com/taas/myteams/16771

Only is returning 3 reso

[2020-12-09 14:41] maxceem commented on #51
I've got why to filter there. It's because we use this code for getting a list of projects, not only for getting one project.

We can think what would be a good fix there.

[2020-12-10 11:12] nkumar-topcoder commented on #46
@sachin-maheshwari Can you please have a look at this please ?

[2020-12-10 12:30] sachin-maheshwari commented on #46
@nkumar-topcoder from the above description, it is not looking related to "new auth" or m2m core JS lib (for caching m2m token locally).

[2020-12-10 13:47] nkumar-topcoder commented on #51
@maxceem good catch, we need to discuss

[2020-12-14 10:36] nkumar-topcoder opened #53 "[UI] Jobcandidates status updates"
enhancement:

1. At TaaS app update jobCandidate status based on the question.
  Interested in this candidate?
Yes means “Shortlisted”, no means “rejected” status.

![image](https://user-images.githubusercontent.com/33625707/102071004-e6185b00-3e25-11eb-8129-8004ec30e747.png)

2.  Hide schedule interview button.

![image](https://user-images.githubusercontent.com/33625707/102071286-427b7a80-3e26-1

[2020-12-14 10:43] maxceem commented on #50
This is fixed and works good, so I'm closing it.
FYI @nkumar-topcoder

[2020-12-14 10:43] #50 closed

[2020-12-14 10:44] maxceem commented on #4
I guess it's done. Can we close it @nkumar-topcoder?

[2020-12-14 10:54] maxceem commented on #33
@nkumar-topcoder I've reviewed the Google Sheet about this task.

Regarding the task 3:

It feels like we can drop this requirement. I think we should let creating `ResourceBooking` even without `JobCandidate`. This would make our life more easier. Let's say we want create some new UI where we want to be able directly assigned members to the jobs. If we require existent `JobCandidate` we would nee

[2020-12-14 11:24] maxceem commented on #51
So the issue here is because we are calling `searchResourceBookings(criteria)` which returns 20 results per page by default. As we calling this method without specifying the project id, we are getting more resources for all the projects, which is more than 20. But as we get only the 1st page, we get some random set of resources.

First of all, this method should support filtering by multiple proje

[2020-12-14 11:26] maxceem commented on #51
@imcaizheng feel free to pick this up if you like.

If you have any better ideas on how to fix this issue, please let me know.

[2020-12-14 11:29] maxceem commented on #33
@imcaizheng you may pick this up if you like.

[2020-12-14 11:31] maxceem commented on #41
@nkumar-topcoder do you have any details to share on where the Job **rate** would come from, so we can show it in UI:

![](https://user-images.githubusercontent.com/146016/101145342-52bf7880-3622-11eb-9ef4-cdc248a1d68c.png)

[2020-12-14 12:00] maxceem commented on #53
Created corresponding issue in the TaaS App repository to handle it there https://github.com/topcoder-platform/taas-app/issues/25

[2020-12-14 12:11] maxceem opened #54 "[$150] Automatic status updates"
1. When we add/update any `ResourceBooking` we have to check if the corresponding `Job` has `numPositions === length(ResourceBooking with status === "assigned")`. And if so, then update the status of the `Job` to `assigned`.

2. If we change `Job` status to `cancelled`. Then we should change the status of all ~`ResourceBooking` and~ (**updated**: don't change status for ResourceBookings) `JodCandi

[2020-12-14 15:10] imcaizheng commented on #51
@maxceem How about directly querying DB for resources instead of invoking `searchResourceBookings(criteria)`? I think it is more common to retrieve data internally inside a service.

[2020-12-14 16:30] imcaizheng commented on #33
PR created https://github.com/topcoder-platform/taas-apis/pull/55

[2020-12-14 21:22] maxceem commented on #51
Thanks, @imcaizheng, I forgot to consider such an option. Though it also has its disadvantage - we would mix data from ES and from DB. I'm not sure if it could lead to real issues and data inconsistency, but it feels like not the right thing to do. Also, I've noticed that in the TaaS API we always get data from ES so far (with DB fallback). The same I can see in Challenge API https://github.com/to

[2020-12-14 21:40] imcaizheng commented on #51
@maxceem Agreed.

[2020-12-15 00:11] imcaizheng commented on #51
PR created https://github.com/topcoder-platform/taas-apis/pull/56

[2020-12-15 13:28] maxceem commented on #33
Contest https://www.topcoder.com/challenges/30158246 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-15 13:28] maxceem commented on #33
Contest https://www.topcoder.com/challenges/30158246 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-15 13:28] maxceem commented on #51
Contest https://www.topcoder.com/challenges/30158247 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-15 13:28] maxceem commented on #51
Contest https://www.topcoder.com/challenges/30158247 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-15 13:50] #33 closed

[2020-12-15 13:50] maxceem commented on #33
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158246<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-15 15:57] #4 closed

[2020-12-15 16:18] maxceem opened #58 "Unit tests"
Currently, 24 unit tests are broken:

![image](https://user-images.githubusercontent.com/146016/102241403-96a75d00-3f01-11eb-8be4-21d2296d305e.png)

1. We have to fix them.
2. We have to also decide what level of unit test coverage we would like to target for this repository.
3. After deciding on the target coverage we have to create unit tests for existent code.
4. All new tasks/fixes should be c

[2020-12-16 12:01] maxceem commented on #41
As was clarified by Will on call, we shouldn't show it for the first release, so removed in it in UI:

![image](https://user-images.githubusercontent.com/146016/102346211-29e69e00-3fa7-11eb-819d-aedf5c405aa7.png)

[2020-12-16 12:01] #41 closed

[2020-12-16 12:06] maxceem opened #60 "Teams should return resources with start/end dates"
In UI we show start/end dates for resources:

![image](https://user-images.githubusercontent.com/146016/102346605-c9a42c00-3fa7-11eb-927f-c788bdd5310a.png)

But API for getting team by id doesn't return them:

![image](https://user-images.githubusercontent.com/146016/102346637-d9237500-3fa7-11eb-85b3-b877fbaa2440.png)

[2020-12-16 12:23] maxceem opened #61 "[$35] GET /taas-teams/:projectId/job/:jobId should return 404 if job is not found"
At the moment endpoint `GET /taas-teams/:projectId/job/:jobId` returns an empty object when job is not found

![image](https://user-images.githubusercontent.com/146016/102348117-11c44e00-3faa-11eb-8883-8b2ea907f428.png)

It should return error 404.
The same should be reflected in swagger.

[2020-12-16 12:26] maxceem commented on #49
I've added demo data, so now we can see that cost is calculated correctly:

![image](https://user-images.githubusercontent.com/146016/102348492-a929a100-3faa-11eb-8cc2-c7c1603587e3.png)

[2020-12-16 12:26] #49 closed

[2020-12-16 12:28] maxceem commented on #60
Done via https://github.com/topcoder-platform/taas-apis/commit/370ce9c1a924e34195228534ccfb5e62a074cba5

[2020-12-16 12:28] #60 closed

[2020-12-16 12:36] maxceem opened #62 "[$40] Team shows 6 of 0 team members"
Link to the team https://platform.topcoder-dev.com/taas/myteams/16786

![image](https://user-images.githubusercontent.com/146016/102349506-1ab61f00-3fac-11eb-9ad9-de38708ce2a5.png)

[2020-12-17 09:40] maxceem opened #63 "GET ​/taas-teams​/{id}​/jobs​/{jobId} should return JobCandidate.id"
![image](https://user-images.githubusercontent.com/146016/102470393-97083b00-405c-11eb-9e31-f477b7f650c7.png)

[2020-12-17 11:43] maxceem opened #64 "[$100] Add new endpoint for getting Topcoder Skills"
### Motivation

We need an endpoint to allow any Topcoder user to retrieve Topcoder Skills. We already have an endpoint in U-Bahn API but it has restrictions which don't allow any user to retrieve Topcoder Skills. To bypass this restistiction we will create a proxy endpoint in TaaS Api which would be allowed for any topcoder user, while internally it would call U-Bahn using M2M token.

### Require

[2020-12-17 11:43] maxceem commented on #64
Contest https://www.topcoder.com/challenges/30158832 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 11:44] maxceem commented on #64
@imcaizheng this issue is open for pick up.

[2020-12-17 11:48] maxceem commented on #63
Done via 57a80441baa84a21ecfdb39100577f857cd1c69e

[2020-12-17 11:50] #63 closed

[2020-12-17 12:17] #51 closed

[2020-12-17 12:17] maxceem commented on #51
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158247<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:18] maxceem commented on #61
Contest https://www.topcoder.com/challenges/30158835 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:18] maxceem commented on #61
@imcaizheng open for pick up.

[2020-12-17 12:18] maxceem commented on #53
Done in TaaS App repo, see for details https://github.com/topcoder-platform/taas-app/issues/25

[2020-12-17 12:18] #53 closed

[2020-12-17 12:19] maxceem commented on #54
Contest https://www.topcoder.com/challenges/30158837 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:19] maxceem commented on #54
@imcaizheng open for pickup.

[2020-12-17 12:29] maxceem commented on #62
I've checked the data. This project has jobs with `numPositions > 0`:

![image](https://user-images.githubusercontent.com/146016/102488046-22d99180-4074-11eb-823b-5423696165e7.png)

1. We have to fix this issue.
2. We have to update the logic - we should only calculate positions of jobs which status is NOT `cancelled` or `closed`.

[2020-12-17 12:33] maxceem commented on #62
Contest https://www.topcoder.com/challenges/30158839 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:33] maxceem commented on #62
@imcaizheng ready for pickup.

[2020-12-17 12:35] SathyaJayabal opened #65 "[$40] All teams must be returned for Booking manager role"
Booking Manager User: topcoderconnect/appirio123
expected: `GET/taas-teams` must return all teams and not  just the teams created by the user.
actual: `GET/taas-teams` returns  just the teams created by the user.

<img width="1440" alt="Screenshot 2020-12-17 at 4 07 56 PM" src="https://user-images.githubusercontent.com/58783823/102488256-c6856a80-4091-11eb-8faa-f017f4b06c25.png">

[2020-12-17 12:36] maxceem commented on #58
For now, we have to do:
- Fix unit tests that are failing. Don't remove the unit test if it's failing try to fix it, so it could do what it was initially created to test. If the related code has been completely removed, then the unit test could be removed.

[2020-12-17 12:38] SathyaJayabal opened #66 "[$75] 500 Internal Server error returned for the GET/taas-teams endpoints for some users"
500 Internal server error displayed for the following users/ endpoints
Users: dan_developer, tester1234 (role: topcoder member)
1.`GET /taas-teams`
2. GET /taas-teams/:id
3. GET /taas-teams/:id/jobs/:jobId
<img width="1440" alt="Screenshot 2020-12-17 at 2 15 53 PM" src="https://user-images.githubusercontent.com/58783823/102488990-dfdae680-4092-11eb-9185-2d5940c14b01.png">

User: topcoderconnect (r

[2020-12-17 12:43] maxceem commented on #65
This issue happens, because generally, users with the `bookingmanager` role cannot get all the Projects form Projects API.

To fix this issue we have to check if the user has `bookingmanager` role, then we have to retrieve projects from Projects API using M2M token, so such user would get all the projects from Projects API. The same time for other users, we have to skill user their token, so they

[2020-12-17 12:53] maxceem commented on #65
Contest https://www.topcoder.com/challenges/30158841 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:53] maxceem commented on #65
@imcaizheng ready for pickup.

[2020-12-17 12:54] maxceem commented on #66
Contest https://www.topcoder.com/challenges/30158843 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 12:54] maxceem commented on #66
@imcaizheng open for pickup.

[2020-12-17 14:49] maxceem opened #67 "Improve Local Setup Process"
### Requirements

1. Create docker-compose file which would run all dependencies for `taas-apis` using one command. It should include:
    - PostgreSQL database
    - ElasticSearch
    - Kafka with all required topics created
    - [tc-bus-api](https://github.com/topcoder-platform/tc-bus-api)
    - [taas-es-processor](https://github.com/topcoder-platform/taas-es-processor)

    Notes:
    - We can

[2020-12-17 21:59] maxceem commented on #61
Contest https://www.topcoder.com/challenges/30158835 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 21:59] maxceem commented on #62
Contest https://www.topcoder.com/challenges/30158839 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 21:59] maxceem commented on #65
Contest https://www.topcoder.com/challenges/30158841 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 21:59] maxceem commented on #66
Contest https://www.topcoder.com/challenges/30158843 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-17 23:10] imcaizheng commented on #61
PR created https://github.com/topcoder-platform/taas-apis/pull/68

[2020-12-18 00:42] imcaizheng commented on #62
@maxceem I checked in the source code and found that property `totalPositions` is returned only for `GET /taas-teams`. That is why `GET /taas-teams/:projectId` currently returns no `totalPositions`. Are we going to alter the behavior?

[2020-12-18 02:15] imcaizheng commented on #65
PR created https://github.com/topcoder-platform/taas-apis/pull/69

[2020-12-18 03:06] imcaizheng commented on #66
@SathyaJayabal Unable to login to DEV via `dan_developer/tester1234`. Is the username/password correct?

[2020-12-18 03:20] SathyaJayabal commented on #66
@imcaizheng , those are two different users. Can you message me on the community slack (sathya jayabal)  please and I will send you the passwords .

[2020-12-18 06:47] SathyaJayabal opened #70 "[$150] 403 Forbidden error returned for some users of CREATE/PUT/PATCH/DELETE calls to jobs, jobCandidates and resourceBookings endpoints"
user: TCConManager
Roles: “Topcoder User”, “Connect Manager”

403 Forbidden error returned for the following :

endpoints
[code]

500 Internal server error for the following:

endpoints
`jobs: PUT/PATCH`

[2020-12-18 07:42] SathyaJayabal commented on #70
TCConmanager is not part of v5/users.

This was fixed in https://github.com/topcoder-platform/taas-apis/pull/19, but nor working now

cc @maxceem

[2020-12-18 08:26] maxceem commented on #70
Error in log: `[2020-12-18T07:20:55.733Z] JobService createJob [31mERROR[39m : cannot POST /v5/users (403)`

[2020-12-18 08:57] maxceem commented on #62
@imcaizheng no. We only have to fix it in `GET /taas-teams`.

See this screenshot, `totalPosisitions` is not returned by `GET /taas-teams`

![image](https://user-images.githubusercontent.com/146016/102594920-88cf2300-411f-11eb-82fc-ed5e0e2dddf8.png)

Though this team has some valid jobs with `numPositions` as could be seen on this screenshot:

![image](https://user-images.githubusercontent.com/146

[2020-12-18 09:27] maxceem commented on #65
@SathyaJayabal this is fixed and ready for QA on DEV:

![image](https://user-images.githubusercontent.com/146016/102597578-8a024f00-4123-11eb-9f9b-fbe3356306bd.png)

[2020-12-18 09:36] SathyaJayabal commented on #65
verified on dev
<img width="1440" alt="Screenshot 2020-12-18 at 3 05 33 PM" src="https://user-images.githubusercontent.com/58783823/102598779-89c57c00-4142-11eb-9f68-20a83818e3fa.png">

[2020-12-18 10:08] maxceem commented on #66
@imcaizheng the error in log:

[code]

So I think the issue is with calling `helper.getUserById` using a regular user token. I think we should fix this kind of issues in a general way by using only M2M tokens for internal calls and stop using the token of users who are calling TaaS API.

For now, let's update this for `TeamService.js` only:
- Use only M2M calls for internal calls of other API endp

[2020-12-18 10:32] imcaizheng commented on #66
@maxceem That is, of course, the best solution.

[2020-12-18 12:03] maxceem commented on #70
@nkumar-topcoder as I understand regular users should not be able to do any operations with jobs, jobCandidates, resourceBookings.
Only Bookingmanager users and M2M should be able to perform all these operations.

[2020-12-18 12:34] maxceem opened #72 "Permissions"
Let's sum permission rules here.

| **Endpoint** | **Topcoder User** | **Booking Manager**  | **Connect Manager** |
|--|--|--|--|
| `GET /taas-teams` | ☑️ `Only when member of the project` | ✅ All | ✅ All |
| `GET /taas-teams/:teamId` | ☑️ `Only when member of the project` | ✅ | ✅ |
| `GET /taas-teams/:teamId/jobs/:jobId` | ☑️ `Only when member of the project` | ✅ | ✅ |
| **Jobs**  |
| `GET /jobs`

[2020-12-18 14:05] nkumar-topcoder commented on #70
@maxceem Regular tc user can create the job and view the job (they create). Same applies for job candidates.
My understanding is that imcaizheng has implemented this.
And, you understanding on Bookingmanager is right

[2020-12-18 14:37] SathyaJayabal commented on #70
@nkumar-topcoder @maxceem , at present, regular users are able to create jobs even on projects they dont have access to.
https://github.com/topcoder-platform/taas-apis/issues/35

[2020-12-19 06:01] imcaizheng commented on #66
PR created https://github.com/topcoder-platform/taas-apis/pull/73

[2020-12-19 06:41] imcaizheng commented on #62
I found the cause of the issue is similar to the one for https://github.com/topcoder-platform/taas-apis/issues/51
`GET /taas-teams` internally invoking `JobService.searchJobs({ projectIds })` to search all jobs, which is limited by pagination. We should modify the `searchJobs()` function to allow all jobs returned just like we did before.

[2020-12-19 10:06] maxceem commented on #62
@imcaizheng great. Agree, let's apply a similar fix.

[2020-12-19 10:09] imcaizheng commented on #62
PR created https://github.com/topcoder-platform/taas-apis/pull/74

[2020-12-19 10:12] maxceem commented on #64
Contest https://www.topcoder.com/challenges/30158832 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 10:13] maxceem commented on #54
Contest https://www.topcoder.com/challenges/30158837 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 11:12] maxceem commented on #66
@imcaizheng works perfectly for me. Just one trivial thing https://github.com/topcoder-platform/taas-apis/pull/73#pullrequestreview-555934077.

@SathyaJayabal this is ready for QA on DEV.

[2020-12-19 11:15] maxceem commented on #61
Works good locally and on DEV.

![image](https://user-images.githubusercontent.com/146016/102687985-34e63c00-41fc-11eb-8e49-b6d9588a4801.png)

[2020-12-19 11:15] #61 closed

[2020-12-19 11:15] maxceem commented on #61
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158835<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 11:40] maxceem commented on #62
Thanks, @imcaizheng. Works great locally and on DEV:

![image](https://user-images.githubusercontent.com/146016/102688508-c4411e80-41ff-11eb-8503-06ab04fd8a18.png)

[2020-12-19 11:41] #62 closed

[2020-12-19 11:41] maxceem commented on #62
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158839<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 11:43] maxceem commented on #65
@SathyaJayabal could you please, verify this one more time together with https://github.com/topcoder-platform/taas-apis/issues as the fix may affect this functionality also.

[2020-12-19 12:30] imcaizheng commented on #54
As a quick solution, we could handle the first requirement inside `ResourceBookingService` and handle the other requirement inside `JobService`, but I think decoupling these logic from the services could help improve readability and extensibility.

Creating another taas processor like `taas-es-processor` to accommodate the logic is a good approach but it could be a bit overhead so I would prefer t

[2020-12-19 13:52] maxceem commented on #54
Thank you for considering readability @imcaizheng. Decoupling logic is indeed very needed here.

Though there is one kind of edge cases that would be good to avoid. We have to make sure that this logic for automatic status updates is done during the request, not asynchronously after the request. Otherwise, there would be some time when we have inconsistent data. For example, imagine we have a Job

[2020-12-19 14:16] maxceem commented on #70
We have to fix permissions for Job, JobCandidates and ResourceBookings as per the next table https://github.com/topcoder-platform/taas-apis/issues/72#issue-770853036.

Note, that technically `Connect Manager` users already have access to all the projects. So we don't have to write for them a separate logic, we can use for them the same logic as for `Topcoder User` when checking if such users can a

[2020-12-19 14:26] imcaizheng commented on #54
@maxceem Even if we try to update the Job's status during the request, the job status would still be updated asynchronously after request via `taas-es-processor`. Unfortunately, based on current implementation, doing updating status synchronously does not help resolve the edge case.

IMO, The edge case is unavoidable unless we merge `taas-api` and `taas-es-processor` again, and couple the logic fo

[2020-12-19 14:36] maxceem commented on #54
Yeah, agree on that @imcaizheng.

Ok, let's go with the way you've suggested with EventEmmiter. We would keep an eye on this if this brings any issues in real usage. It would be also nice to add some good debugging logs there, to make it easier to debug what is going on in case of issues.

Also, please, move there the previously implemented logic as well https://github.com/topcoder-platform/taas-a

[2020-12-19 14:43] maxceem commented on #70
For the next cases when requested by `Topcoder User`:

- if filter param is not defined, return `403`: `Not allowed without filtering by "projectId".` (or "jobId")

   ![image](https://user-images.githubusercontent.com/146016/102691976-075bbb80-4219-11eb-8754-dfe799c1b2a2.png)

- If filter param is defined, but no access to the project, then return `403` as we do in Teams endpoints

[2020-12-19 14:45] maxceem commented on #70
Contest https://www.topcoder.com/challenges/30159302 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-19 14:47] maxceem commented on #70
@imcaizheng this is open for pick up now. This has a higher priority for us in comparison with `enhancement` issues.

[2020-12-19 15:14] maxceem commented on #70
Contest https://www.topcoder.com/challenges/30159302 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-21 04:32] SathyaJayabal commented on #66
@maxceem , verified on dev.
<img width="1440" alt="Screenshot 2020-12-21 at 9 49 26 AM" src="https://user-images.githubusercontent.com/58783823/102739597-9381f600-4373-11eb-9301-43678d145da2.png">
<img width="1440" alt="Screenshot 2020-12-21 at 9 52 09 AM" src="https://user-images.githubusercontent.com/58783823/102739601-954bb980-4373-11eb-85f1-8e2e2b790f85.png">
<img width="1440" alt="Screenshot

[2020-12-21 09:56] maxceem opened #76 "job candidate should be unique by for pair of "jobId" and "userId""

[2020-12-21 10:01] #66 closed

[2020-12-21 10:01] maxceem commented on #66
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158843<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-21 13:43] imcaizheng commented on #70
PR created https://github.com/topcoder-platform/taas-apis/pull/77

[2020-12-21 15:05] maxceem opened #78 "Make sure that customer users cannot view "memberRate""

[2020-12-22 07:01] imcaizheng commented on #54
@maxceem There is no `cancelled` status for JobCandidate. Valid status are `open`, `selected`, `shortlist`, `rejected`. I think `rejected` is close to what you mean.

[2020-12-22 08:23] imcaizheng commented on #54
PR created https://github.com/topcoder-platform/taas-apis/pull/79

[2020-12-22 10:00] maxceem commented on #54
Nice catch. I would confirm this first with PM.

agree

[2020-12-22 15:31] maxceem commented on #54
@imcaizheng I've got clarification from PM. Can we add a possible value `cancelled` for JobCandidates, and use it instead of `rejected` when Job is cancelled.

[2020-12-22 23:06] imcaizheng commented on #54
@maxceem PR is updated to use the `cancelled` value for JobCandidate, both in source code and swagger document.

[2020-12-23 01:05] imcaizheng commented on #64
PR created https://github.com/topcoder-platform/taas-apis/pull/80

[2020-12-23 04:57] sandhiyakavi commented on #65
Verified. User with Booking manager role is able to return all teams.

GET /taas-teams - returns all teams
GET /taas-teams/:teamId - Able to access any team
GET /taas-teams/:teamId/jobs/:jobId -Able to access any team

[2020-12-23 07:07] #65 closed

[2020-12-23 07:07] maxceem commented on #65
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158841<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-23 13:12] maxceem opened #81 "[$60] [config] M2M token should be allowed to create v5 users"
When I used M2M token for DEV env locally. In the situations when user doesn't exists in V5 we create it by calling:
- `POST /v5/users`
- `POST /v5/users/${userId}/externalProfiles`

At the moment the first request returns `Forbidden`.

We have to make sure that M2M config that we use on DEV and PROD allowing creating users in V5.

[2020-12-24 01:05] imcaizheng commented on #81
I think it is related the AUTH0 audience being used to create m2m token.

Initially AUTH0 audience configuration was
[code]
Recently it got changed to
[code]

To revert the configuration is a good way to go, but it would break some recent changes like in https://github.com/topcoder-platform/taas-apis/pull/73. We should fix them as well.

[2020-12-24 08:03] maxceem commented on #81
Thank you for your input @imcaizheng.

Agree, on renaming.

So do you think we can fix this issue by using m2m token with `https://u-bahn.topcoder.com` audience when requesting m2m token for `POST /v5/users` and `POST /v5/users/${userId}/externalProfiles` endpoints?

[2020-12-24 08:52] imcaizheng commented on #81
If using m2m token with `https://u-bahn.topcoder.com` audience to request m2m token,
I am able to make a successful request for `POST /v5/users` ONLY after I configure the AUTH0 credential from

[code]

to

[code]

Otherwise I would get the following error:

[code]

Despite that, we can still carry out a solution by including both audiences with their corresponding credentials, like:

[code]

It s

[2020-12-24 08:58] maxceem commented on #81
Thank you @imcaizheng. Let's ask for @nkumar-topcoder input for this.
I wonder if can reuse a single M2M config for all the calls.

[2020-12-25 12:21] maxceem commented on #70
@SathyaJayabal this is ready for testing on DEV.

We implemented this as per permissions defined in the table https://github.com/topcoder-platform/taas-apis/issues/72#issue-770853036

To test this functionality you might use a new folder in Postman collection named **Test Permission Rules**

![image](https://user-images.githubusercontent.com/146016/103134794-6bb8c800-46bc-11eb-93a0-a859c4bef2ed.pn

[2020-12-25 12:51] #64 closed

[2020-12-25 12:52] maxceem commented on #64
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158832<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-25 13:15] maxceem commented on #76
@nkumar-topcoder after the second though I guess we could skip this for now.

As I understand the same user could have multiple ResourceBooking records for the same job. For example, some user did some work for a particular job for 2 days. And after customer wants that users again and assign the same user to the same job for 3 more days using new ResourceBooking record.

So I guess this could be i

[2020-12-25 14:57] maxceem opened #82 "[$30] Remove "skillMatched" property from all the responses"
Currently, we are calculating `skillMatched` property server-side and return it in endpoints:
- `GET /taas-teams/:teamId`
- `GET /taas-teams/:teamId/jobs/:jobId`

Though I think this property is unnecessary.

Both these endpoints return the list of job skills and list of user skills. So we can calculate the number of matched skills client-side.

I suggest removing this from API (including swagger

[2020-12-26 05:01] nkumar-topcoder commented on #82
@maxceem Agreed, good catch. Please continue on client side

[2020-12-26 05:31] nkumar-topcoder commented on #81
@maxceem @imcaizheng I agree, the current Audience `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k` is meant to serve ubann and bus api related role access. Not sure why this issue is occurring. The  token can create/update  `v5/users` . Is this specific to your local access ? @imcaizheng

[2020-12-26 09:30] imcaizheng commented on #81
Here are the steps with which I could reproduce the issue. @nkumar-topcoder Please try with the steps to examine if current auth0 configuration works for you.

Firstly, to help simplify the process, add the following code snippets to the end of `src/common/helper.js` file
so function `getM2Mtoken` can be called immediately after the app starts.

[code]

1) start the app with AUTH0_AUDIENCE set to

[2020-12-26 10:10] maxceem commented on #82
Contest https://www.topcoder.com/challenges/30160369 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-26 10:10] maxceem commented on #82
@imcaizheng open for pickup.

[2020-12-26 10:18] maxceem commented on #81
Thanks @imcaizheng.

I've checked out the scope of tokens 2 and 3:

### Token 2
[code]

### Token 3
[code]

Token 3 has scopes like `all:user create:user update:user delete:user` these scopes allows creating users in v5, see https://github.com/topcoder-platform/u-bahn-api/blob/develop/src/modules/user/route.js#L9-L28.

@nkumar-topcoder can we add these scopes to the m2m Auth config for `AUTH0_CLIE

[2020-12-26 13:29] nkumar-topcoder commented on #81
@imcaizheng @maxceem all and delete user were missing  and it's given now. Pls try.

[2020-12-26 23:21] imcaizheng commented on #81
@nkumar-topcoder Are we supposed to get a new client id and client secret? If so, please sent the info to my email.

[2020-12-26 23:22] maxceem commented on #82
Contest https://www.topcoder.com/challenges/30160369 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-26 23:40] imcaizheng commented on #82
PR created https://github.com/topcoder-platform/taas-apis/pull/83

[2020-12-27 06:34] nkumar-topcoder commented on #81
@imcaizheng No, it's same `gZ6jt50H......` client. Still not working ?

[2020-12-27 06:51] imcaizheng commented on #81
@nkumar-topcoder I tried it, with the `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k` client id, but it is still not working.

This time I got the following token
[code]
The scope inside the token are listed below:
[code]

I compare the scopes of this new token to the scopes of the token generated before, and found they are the same.

[2020-12-27 07:07] nkumar-topcoder commented on #81
@imcaizheng I will connect with the team tomorrow for exact roles/scope access.
meanwhile, i have given all scopes similar to eariler `LEyCiuOrHc7UAF..` token.
pls check now

[2020-12-27 08:17] imcaizheng commented on #81
@nkumar-topcoder Currently, compared to client `LEyCiuOrHc7UAFoY0EAAhMulWSX7SrQ5`, client `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k` does not have scopes `create:user` and `create:externalProfile`.

We should at least add  scopes `create:user` and `create:externalProfile` to the client `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k` so that we can create `v5/users` and create the user's external profile.

[2020-12-27 13:30] nkumar-topcoder commented on #81
@callmekatootie we have created taas app own m2m audience, it's same as u-bhan's  scope wise. But we have issues creating v5/users. What are the prerequisite ubann `scopes` for creating v5/users

@imcaizheng If I post a job which doesn't have v5/users it does create a v5/user, i tested this when m2m PR was merged. I will re-test this on monday.

cc: @maxceem

[2020-12-27 14:00] callmekatootie commented on #81
Can you let me know the error that you get

Could you also provide a sample m2m token that is being generated / used...

[2020-12-27 16:37] nkumar-topcoder commented on #81
@callmekatootie
https://github.com/topcoder-platform/taas-apis/issues/81#issuecomment-751338505
https://github.com/topcoder-platform/taas-apis/issues/81#issuecomment-751433462

[2020-12-28 03:16] SathyaJayabal commented on #70
@maxceem , for GET taas-teams, for member user role , the following error is displayed

[2020-12-28 05:25] SathyaJayabal commented on #72
@maxceem, should the connect manager have basic topcoder user privileges for projects that they are a member of ?

Example for projects that they have created and not projects they have access to because of connect manager role.

[2020-12-28 08:50] maxceem opened #84 "[$70] Make some ResourceBooking fields not required."
Make the following fields on `ResourceBooking` be not required during all the operations:
- startDate
- endDate
- memberRate
- customerRate

Update documentation (swagger, postman) accordingly.

[2020-12-28 08:50] maxceem commented on #84
Contest https://www.topcoder.com/challenges/30160479 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-28 08:50] maxceem commented on #84
@imcaizheng this issue is open for pickup.

[2020-12-28 12:53] maxceem commented on #72
This is already working as you've described.

I. e. if Connect Manager creates a project then for that project Connect Manager user would have permissions from both columns as `Topcoder User` and as `Connect Manager`.

[2020-12-28 13:41] maxceem commented on #70
Great catch @SathyaJayabal.

This is fixed now. Could you please, try it once more.

[2020-12-28 15:16] #82 closed

[2020-12-28 15:16] maxceem commented on #82
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160369<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-28 15:22] maxceem commented on #81
@nkumar-topcoder I've checked M2M token which is generated by `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k`. It still doesn't have scopes which we need for creating users in V5 `all:user create:user update:user delete:user`.

Here is generated token:
[code]

List of scopes of this token:

[code]

[2020-12-28 15:23] callmekatootie commented on #81
Yep - I need to get back on this. Could not find time today - hope to get back asap before I call it a day today. Apologies for the delay

[2020-12-28 15:24] maxceem commented on #81
No worries, this is not super urgent.

[2020-12-28 15:52] SathyaJayabal commented on #72
@maxceem ,this was not the case. Connect manager was not able create jobs for a project they created. Let me retest again and post with examples tomorrow.

[2020-12-28 18:10] maxceem commented on #84
Contest https://www.topcoder.com/challenges/30160479 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2020-12-28 18:18] callmekatootie commented on #81
I am not sure I follow the entire thread but scope needed to create the user in u-bahn is `create:user` or `all:user`. [Reference](https://github.com/topcoder-platform/u-bahn-api/blob/develop/src/modules/user/route.js#L20)

According to [this](https://github.com/topcoder-platform/taas-apis/issues/81#issuecomment-751338505) post it looks like, using Step 3, you were able to generate the token with

[2020-12-28 18:51] imcaizheng commented on #84
PR created https://github.com/topcoder-platform/taas-apis/pull/86

[2020-12-28 19:03] imcaizheng commented on #81
@callmekatootie That fact is that we already knew the token from Step 3 can access v5/users and just want the token from Step 2 to be able to access v5/users as well.

What made us confused is that nkumar-topcoder said the token from Step 2 was already given scope `create:user` but actually it is not.

[2020-12-29 02:48] callmekatootie commented on #81
Gotcha... So the only bit to do is add either the `create:user` or `all:user` scope to that client id... @nkumar-topcoder

[2020-12-29 03:49] SathyaJayabal commented on #72
@maxceem , example for above case
user: TCConManager (roles: "Topcoder User","Connect Manager")
project/team : https://connect.topcoder-dev.com/projects/16830

User is not able to create/update jobs, candidates, resources for the project they belong to.
<img width="1440" alt="Screenshot 2020-12-29 at 9 15 50 AM" src="https://user-images.githubusercontent.com/58783823/103257372-f8ae9a80-49b6-11eb-8

[2020-12-29 04:06] SathyaJayabal commented on #70
@maxceem verified this is working as expected.

[2020-12-29 04:11] SathyaJayabal commented on #70
@maxceem
1. Connect Manager must have topcoder member privileges for projects they belong to
https://github.com/topcoder-platform/taas-apis/issues/72#issuecomment-751936833
2. Topcoder member must be able to edit candidates for jobs of projects they belong to
example:
User: Tester1234 (role: "Topcoder User")
Project: 16805
Job: d226c1d1-b38f-4ed8-82e7-36f1140f8ffe
<img width="1440" alt="Screenshot

[2020-12-29 08:00] nkumar-topcoder commented on #81
@maxceem @imcaizheng
- Option 1 - have given all permission. Pls try now.
- Option 2 - If option-1 doesn't work then change the audience to `https://u-bahn.topcoder.com` with same clientId `gZ6jt50HYHLB...` and try. Please try this locally first. Once confirm, we need to change the config environment variables + audience in the code for  `ubann` related functions like `users, skill,externalprofile

[2020-12-29 09:22] maxceem commented on #81
@nkumar-topcoder here is the new token generated by `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k`. It still doesn't have scopes we need. I guess somehow changes for scopes are not applied, maybe we need to reset something somewhere or something like that, so the scope changes are applied.

[code]

Scopes it has:

[code]

[2020-12-29 09:26] maxceem commented on #81
When changing audience to `https://u-bahn.topcoder.com` for the same client. It cannot generate a token for me and returns `Unkown Error`.

[2020-12-29 10:29] nkumar-topcoder commented on #81
@maxceem ok, i will check with team. Even though i have all access some how it's not picking the scopes.

[2020-12-29 12:00] maxceem commented on #70
@imcaizheng could you please, have a look on this. Basically, if user has permission as per any of the columns, they should be able to perform the action.
So if Connect Manager created a project than such a user is also a member of the project so should be able to perform operations as a member.

[2020-12-29 12:01] maxceem commented on #72
Thanks, @SathyaJayabal. This is a good catch, we would fix it.

[2020-12-29 13:48] imcaizheng commented on #81
@nkumar-topcoder
I tested option 1 and option 2 locally and got same result like maxceem mentioned.
1. With client `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k` the generated token doesn't contains `all:user` or `create:user`.
2. With audience `https://u-bahn.topcoder.com` it got error instead of token from AUTH0 api.

[2020-12-29 14:07] imcaizheng commented on #70
The source code indicates when updating a job candidate by regular user, the `userId` of the user have to match the value of the `userId` property of the job candidate otherwise 403 error will be returned.

That is, a regular user can only update a job candidate which is for himself. The user cannot update job candidates which are for other users.

[2020-12-30 10:49] maxceem commented on #84
I've updated the budget as we also need to create a migration script for this. Details in the review https://github.com/topcoder-platform/taas-apis/pull/86#pullrequestreview-559997674

[2020-12-30 10:56] maxceem commented on #70
@imcaizheng Ah, I missed this during the review. This logic from above is for jobs:
- regular users can only update jobs if they created that job.

But for JobCandidates we have another logic. Regular user can update JobCandidate if that user is a member of the project

![image](https://user-images.githubusercontent.com/146016/103346853-fd9a4980-4a9d-11eb-9718-404ccc393dbc.png)

So we have to fix

[2020-12-30 11:01] maxceem commented on #70
And regarding this issue https://github.com/topcoder-platform/taas-apis/issues/70#issuecomment-751939662 it's slightly different, and it also has to be fixed in all the places:
- if Connect Manager is a member of the project, then such user should have privileges from both columns as Connect Manager and as s Topcoder User who is a member of the project.
- if Connect Manger created some job, then s

[2020-12-31 03:28] imcaizheng commented on #70
Fix created https://github.com/topcoder-platform/taas-apis/pull/87

[2021-01-04 07:26] nkumar-topcoder commented on #81
@imcaizheng @maxceem
Please check the PR for m2m : https://github.com/topcoder-platform/taas-apis/pull/88
2 changes
 1. config `AUTH0_AUDIENCE=https://u-bahn.topcoder.com`
 2. helper.js line 320. Here project access should be pointing to m2m topcoder token.

This is deployed but not verified. Request you to confirm post verification
thanks @sachin-maheshwari

[2021-01-04 08:18] imcaizheng commented on #81
By using client `gZ6jt50HYHLBf4vhxjUhXPZOR7Q5lk4k` with config `AUTH0_AUDIENCE=https://u-bahn.topcoder.com`, I am able to generate an m2m token.

Example value:
[code]

And the `create:user` and `create:externalProfile` scopes are included in the payload of the token:
[code]

However, except `helper.js#L320`, some code is also broken due to `AUTH0_AUDIENCE` changed. I think we should fix them as w

[2021-01-04 10:43] maxceem opened #89 "No JobCandidates are returned when filtering by `jobId`"
I have a Job:

![image](https://user-images.githubusercontent.com/146016/103526821-2188d100-4e8a-11eb-9fdc-8a70c197207d.png)

This Job has a JobCandidate:

![image](https://user-images.githubusercontent.com/146016/103526865-2fd6ed00-4e8a-11eb-8cb3-de6bd5f1ff19.png)

But when searching for JobCandidates and filtering by `jobId` not Job Candidates are returned:

![image](https://user-images.githubus

[2021-01-04 11:26] imcaizheng commented on #89
@maxceem Did you mean the jobCandidate can be found by querying `/jobCandidates` without filters while it cannot be found filtered by `jobId`?

In case the jobCandidate cannot be found even without filters, it could be possible that `taas-es-processor` doesn't properly create the jobCandidate in ES.

Trying to reproduce the issue, I cloned the latest commit of the `taas-apis` and followed the step

[2021-01-04 11:33] maxceem commented on #89
@imcaizheng

yes.

If I get all JobCandidates without filter, I get JobCandidate record for this Job:

![image](https://user-images.githubusercontent.com/146016/103530967-18e7c900-4e91-11eb-9d52-1df119ae3f86.png)

But if I filter, then I don't get it:

![image](https://user-images.githubusercontent.com/146016/103530899-f2299280-4e90-11eb-9798-e1f8e50b4386.png)

I also, don't get it using admin use

[2021-01-04 11:42] maxceem commented on #70
@SathyaJayabal this is ready for QA on DEV.

[2021-01-04 12:05] SathyaJayabal commented on #70
@maxceem , the GET taas-teams endpoint is displaying a "forbidden error" for all user roles
<img width="1440" alt="Screenshot 2021-01-04 at 5 31 11 PM" src="https://user-images.githubusercontent.com/58783823/103533501-3d549d00-4eb3-11eb-9d2d-062931219500.png">

[2021-01-04 12:43] imcaizheng commented on #89
@maxceem I tried to run the app from PR #87 but still cannot reproduce the issue. Could you find any clue by looking at console log when querying `GET /jobCanidates`?
Also, please check whether the specific jobCandidate exists in both ES and DB.

[2021-01-04 12:49] maxceem commented on #84
@nkumar-topcoder I would need your help to apply the fix for this issue.

We need to run a migration script that we've already created.

The migration script can be run by `npm run migrate`. This script would require to define env variables for DB connection:
   - `DB_USERNAME`
   - `DB_PASSWORD`
   - `DB_NAME`
   - `DB_HOST`

So this would need to be run on both DEV and on PROD servers.

Theoreti

[2021-01-04 13:29] maxceem commented on #70
@SathyaJayabal there was some issue with configuration in the DEV environment. It's fixed now, could you please try again.

[2021-01-04 15:07] maxceem commented on #81
@nkumar-topcoder could you, please, confirm, that we have to use PROD audience `https://u-bahn.topcoder.com` not a DEV one `https://u-bahn.topcoder-dev.com`. At the moment PROD one works for me with our client.

@imcaizheng as I understand the fix we have to apply should look something like this:
1. Remove `AUTH0_AUDIENCE_FOR_BUS_API`, `getTopcoderM2MToken` and `topcoderM2M` and use `getM2Mtoken`

[2021-01-04 15:10] maxceem commented on #81
Contest https://www.topcoder.com/challenges/30161163 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 15:26] imcaizheng commented on #81
@maxceem
1. Just double check, the result config would look like:
[code]
2. I think `getM2Mtoken` should be renamed to `getM2MToken` so it looks consistent with `getM2MUbahnToken`.

[2021-01-04 15:27] maxceem commented on #81
Contest https://www.topcoder.com/challenges/30161163 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-04 16:38] imcaizheng commented on #81
PR created https://github.com/topcoder-platform/taas-apis/pull/91

[2021-01-04 17:04] nkumar-topcoder commented on #81
@maxceem
`nkumar-topcoder could you, please, confirm, that we have to use PROD audience https://u-bahn.topcoder.com not a DEV one https://u-bahn.topcoder-dev.com`
Here the uban audience for dev is confusing. For dev and prod - audience is same  that is `https://u-bahn.topcoder.com` there is no `https://u-bahn.topcoder-dev.com`

[2021-01-04 21:27] maxceem commented on #81
@imcaizheng

1. Yes. Config looks good to me.

2. That's good, thanks for this.

[2021-01-05 01:48] nkumar-topcoder commented on #81
@maxceem , @imcaizheng thanks for all your timely help.

@maxceem - i have updated dev config for`AUTH0_AUDIENCE_UBAHN`. Please merge.

[2021-01-05 05:25] SathyaJayabal commented on #70
@maxceem , this issue is still not fixed.
https://github.com/topcoder-platform/taas-apis/issues/72#issuecomment-751936833

[2021-01-05 06:36] imcaizheng commented on #70
@SathyaJayabal Postman collection had been updated. Please reload the Postman collection and environment files. Note that we don't need to refresh tokens before making requests now.

Here is a screenshot of the updated Postman collection FYI:
![updated collection](https://cdn.filestackcontent.com/GPu6P0ARRuqPIcgLYmV6)

[2021-01-05 07:30] SathyaJayabal commented on #70
@imcaizheng , I have updated  the postman collection, but we still have the issue
Can you please try with the below example (user/project)?
https://github.com/topcoder-platform/taas-apis/issues/72#issuecomment-751936833

[2021-01-05 08:09] imcaizheng commented on #70
@SathyaJayabal
I guess the issue you mean is "Forbidden" error, right? Just like:
![forbidden error](https://cdn.filestackcontent.com/SlF3OhZFRK234ujs5d31)

It is because user `TCConManager` was not found in `/v5/users` and the app would try to create the user via `POST /v5/users`. It got `Forbidden` error due to this issue https://github.com/topcoder-platform/taas-apis/issues/81.

After created u

[2021-01-05 08:23] SathyaJayabal commented on #70
@imcaizheng , Oh I see, Thanks for creating the user in v5. We will test again.

[2021-01-05 09:26] SathyaJayabal commented on #70
@maxceem @imcaizheng , permissions work as defined in https://github.com/topcoder-platform/taas-apis/issues/72#issue-770853036

[2021-01-05 09:40] maxceem commented on #81
Fix looks good to me, though I cannot verify it locally.

When I'm trying to create a Job using a user that possibly doesn't exist in U-bahn, I get an error:
[code]

The same time in log I see:
[code]

If I try to call endpoint `GET https://api.topcoder-dev.com/v5/users?enrich=true&externalProfile.organizationId=36ed815b-3da1-49f1-a043-aaed0a4e81ad&externalProfile.externalId=88774206` via user `ps

[2021-01-05 09:42] maxceem commented on #70
Thank you @SathyaJayabal and @imcaizheng! Closing this issue.

[2021-01-05 09:42] #70 closed

[2021-01-05 09:42] maxceem commented on #70
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159302<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 09:49] maxceem commented on #81
@callmekatootie Looks like this issue happens for all users now, while it worked for them previously. For any user, such a request returns an error.

[2021-01-05 09:59] callmekatootie commented on #81
@maxceem Thank you for bringing this to my attention. We are currently migrating our code base from qldb to pgsql database and we realized now that we have not copied over the GET /users query params.

Logged it here - https://github.com/topcoder-platform/u-bahn-api/issues/74. Will resolve this soon

[2021-01-05 16:57] maxceem opened #92 "[$50] Add new field "title" to the "Job" model"
We need to add a new field to the "Job" model to keep the job title:
- type: string, required, max length 64
- update swagger/postman
- create a migration script
   - for existent records populate it with the value from `description`
- update all related endpoints to support it
- update ES processor / es-mapping if needed

[2021-01-05 16:58] maxceem commented on #92
Contest https://www.topcoder.com/challenges/30161319 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-05 16:58] maxceem commented on #92
@imcaizheng this is open for pick up now.

[2021-01-06 04:41] maxceem commented on #92
Contest https://www.topcoder.com/challenges/30161319 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 07:35] maxceem commented on #81
Hey, @callmekatootie do you know how soon it could be possibly fixed? Actually it's quite critical for us 😔, as we cannot test TaaS API now, while we have a scheduled release on Jan 15.

[2021-01-06 07:37] callmekatootie commented on #81
I'll get back to you with an update later today

[2021-01-06 08:28] maxceem opened #93 "[$35] GET ​"/taas-teams" and "/taas-teams​/{id}" should return BookingResources.id and userId"
Similar to https://github.com/topcoder-platform/taas-apis/issues/63

Endpoints "/taas-teams" and "/taas-teams​/{id}" return lists of `resources`. At the moment inside such a list, we only return `id` which is `member.id`.

Both these endpoints should return `resources` where `id === BookingResource.id` and also return `userId === member.id`.

- Update swagger and postman accordingly.

[2021-01-06 08:29] maxceem commented on #93
Contest https://www.topcoder.com/challenges/30161404 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 08:29] maxceem commented on #93
@imcaizheng this is ready for pick up.

[2021-01-06 10:35] nkumar-topcoder commented on #89
@maxceem I verified, jobid that you highlighed and few other job id  doesn't exists in postgres or ES

[2021-01-06 10:39] maxceem commented on #89
@nkumar-topcoder I've tested it locally, so that Job is only in my local ES/DB.

[2021-01-06 12:36] imcaizheng commented on #92
PR created https://github.com/topcoder-platform/taas-apis/pull/95

[2021-01-06 12:36] imcaizheng commented on #92
PR for taas-es-processor https://github.com/topcoder-platform/taas-es-processor/pull/7

[2021-01-06 15:31] maxceem commented on #93
Contest https://www.topcoder.com/challenges/30161404 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 15:55] callmekatootie commented on #81
@maxceem Can you try now. The issue is resolved

[2021-01-06 16:39] imcaizheng commented on #93
PR created https://github.com/topcoder-platform/taas-apis/pull/96

[2021-01-06 16:42] imcaizheng commented on #81
@callmekatootie @maxceem I could verify the issue is resolved. All operations can be done without `Bad Request` errors like before.

[2021-01-06 17:02] maxceem commented on #81
Great! Thank you, @callmekatootie.

And thank you for verifying it @imcaizheng.

[2021-01-06 17:14] maxceem commented on #54
As per Will update, we don't have to cancel ResourceBokings on Job canceling, so I've removed that 076cc8a40b1b5f9db8aeb30a1e25ddbc30888d75

[2021-01-06 17:14] #54 closed

[2021-01-06 17:14] maxceem commented on #54
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158837<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 17:16] maxceem commented on #84
Tested on DEV, works good.

[2021-01-06 17:16] #84 closed

[2021-01-06 17:17] maxceem commented on #84
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160479<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 17:33] maxceem commented on #81
I've tested with using a user not in V5 and it works good, I can see that member `maxceem20` is created in log:
[code]

Though, if after this we are trying to find this user, it's not found. Then next URL `GET https://api.topcoder-dev.com/v5/users?enrich=true&externalProfile.organizationId=36ed815b-3da1-49f1-a043-aaed0a4e81ad&externalProfile.externalId=88774202` returns `[]`.

But if we try to cre

[2021-01-06 17:33] maxceem commented on #81
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 17:39] maxceem commented on #46
@callmekatootie sorry to disturb you again, but I guess only you could help us to find out the root of this issue quickly.

After we fixed issue https://github.com/topcoder-platform/taas-apis/issues/81 we can create new user in V5. But if we try to retrieve such users after, they are not found by v5.

Here is an example:

- I have a new user `maxceem20`.
- We created this user in V5 by calling `PO

[2021-01-06 17:39] #81 closed

[2021-01-06 17:40] maxceem commented on #81
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161163<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-06 18:17] callmekatootie commented on #46
@maxceem This is an issue with the ubahn api - I will resolve this on priority

[2021-01-06 20:23] #93 closed

[2021-01-06 20:23] maxceem commented on #93
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161404<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 09:40] callmekatootie commented on #46
@maxceem Could you kindly check now. Let me know if you are still facing an issue

[2021-01-07 10:08] maxceem commented on #92
@nkumar-topcoder also, during migration we have to update the mapping in ES similar to https://github.com/topcoder-platform/taas-apis/issues/22#issuecomment-737691144:
[code]

[2021-01-07 10:17] maxceem commented on #46
Thanks, @callmekatootie. It works for new users which is great. The only thing for the users we created previously - it doesn't return them.

I've tried with a new user `maxceem19`.
It was created successfully:
[code]

And it is retuned:
[code]

 For the user `maxceem20` I've created previously, it still doesn't return it.

This request returns `[]`.
[code]

But if I try to create this user again,

[2021-01-07 12:33] callmekatootie commented on #46
Makes sense. I have currently requested the devops team to run the data sync script - should take about 45 mins. Will let you know when it completes.

[2021-01-07 12:36] maxceem opened #97 "[$35] Change Job status to "in-review" once at least one JobCandidate is created"
Create one more automation:
- Once we create at least one JobCandidate for a Job, the Job status should be changed to `in-review`.

[2021-01-07 12:36] maxceem commented on #97
Contest https://www.topcoder.com/challenges/30161516 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 12:37] maxceem commented on #97
@imcaizheng this is ready for pick up.

[2021-01-07 13:46] maxceem commented on #97
Contest https://www.topcoder.com/challenges/30161516 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 14:13] imcaizheng commented on #97
PR created https://github.com/topcoder-platform/taas-apis/pull/98

[2021-01-07 14:15] callmekatootie commented on #46
@maxceem can you try now. We have synced the data b/w the db and elasticsearch

[2021-01-07 14:55] maxceem opened #99 "[$60] Add 2 new fields to JobCandidate model"
Add 2 new fields to the JobCandidate model:
- `externalId`, absolutely the same as we have for Jobs, to track external id in RCRM, but make it optional
- `resume`, a field where we would track the resume link: string, optional, length `2048`.

[2021-01-07 14:56] maxceem commented on #99
Contest https://www.topcoder.com/challenges/30161519 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 14:56] maxceem commented on #99
@imcaizheng this is ready for pick up.

It would be great if could be done by tomorrow.

[2021-01-07 15:28] maxceem commented on #99
Contest https://www.topcoder.com/challenges/30161519 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 15:34] maxceem commented on #92
Added a couple of small fixes 205f2646ea5164a9e650cd28f6cb1771380ee80d. Otherwise all works good.

[2021-01-07 15:34] #92 closed

[2021-01-07 15:34] maxceem commented on #92
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161319<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 15:43] imcaizheng commented on #99
@maxceem I guess the following requirements are included for this ticket:
- update postman/swagger
- create migration script

[2021-01-07 16:16] maxceem commented on #99
right, @imcaizheng all related updates are included

[2021-01-07 17:56] imcaizheng commented on #99
PR created https://github.com/topcoder-platform/taas-apis/pull/100

[2021-01-07 17:58] imcaizheng commented on #99
PR created for `taas-es-processor` https://github.com/topcoder-platform/taas-es-processor/pull/9

[2021-01-07 19:34] maxceem commented on #97
Tested on DEV and works good.

[2021-01-07 19:34] #97 closed

[2021-01-07 19:34] maxceem commented on #97
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161516<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 20:07] maxceem commented on #89
I've retested it after clearing ES/DB from scratch, and I cannot reproduce this issue anymore, probably I had some corrupted data in ES. So I'm closing it.

[2021-01-07 20:07] #89 closed

[2021-01-07 20:15] maxceem commented on #99
@imcaizheng thank you for so quick PR!

@nkumar-topcoder PR for this issue has been tested locally and works good.

We would need your help to merge it.

1. Merge PR https://github.com/topcoder-platform/taas-apis/pull/100
2. Run migration script `npm run migrate`
3. Run request to update ES mapping:
[code]

[2021-01-07 21:02] maxceem opened #101 "[$175] Create a script to import Jobs data from Recruit CRM"
## Background

We already have some Jobs in Recruite CRM. As we are going to run our own TaaS App, we would like to import data from Recruit CRM to our TaaS App. We can export CSV files with jobs list from Recruit CRM. We would like to be able to import data from such files in DEV and PROD environment by running a script.

## Task

- Create a script inside `scripts` directory. I should have it's o

[2021-01-07 21:08] maxceem opened #102 "[$50] Make some Job fields optional"
We would like to make the next fields in `Job` model optional as we don't always have them. So we would be more flexible during development.

- `externalId`
- `description`
- `startDate`
- `endDate`
- `resourceType`
- `rateType`
- `workload` (and remove default value)

Make them optional in:
- DB
- ES
- in all endpoints
- swagger
- create a migration script

If there are any places in code that re

[2021-01-07 21:11] maxceem commented on #102
Contest https://www.topcoder.com/challenges/30161551 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-07 21:11] maxceem commented on #102
@imcaizheng this is ready for pick up.

[2021-01-08 08:06] maxceem commented on #99
Tested on DEV after merging, works good.

[2021-01-08 08:06] #99 closed

[2021-01-08 08:06] maxceem commented on #99
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161519<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 08:13] maxceem commented on #46
Thank you, @callmekatootie. Works perfectly now.

User `maxceem20` is returned too:
[code]

[2021-01-08 08:13] maxceem commented on #46
I think we found the root cause of this issue and it's all covered now, so I'm closing it.

[2021-01-08 08:13] #46 closed

[2021-01-08 15:50] maxceem commented on #102
Contest https://www.topcoder.com/challenges/30161551 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 17:07] imcaizheng commented on #102
PR created https://github.com/topcoder-platform/taas-apis/pull/103
PR for `taas-es-processor` created https://github.com/topcoder-platform/taas-es-processor/pull/11

[2021-01-10 12:16] maxceem commented on #102
@nkumar-topcoder PR for this issue has been tested locally and works good.

We would need your help to merge it.

1. Merge PR https://github.com/topcoder-platform/taas-apis/pull/103
2. Run migration script `npm run migrate`

[2021-01-10 12:21] maxceem opened #104 "[$15] Return "resume" for JobCandidates in /taas-teams endpoints"
At the moment in the endpoint `GET /taas-teams/:id/jobs/:jobId` we are returned a list of jobCandidates with property `resumeLink` which is hardcoded to `null` https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L270.

As we recently added a `resume` property to the JobCandidate model, instead of this hardcoded value, we have to return `resume` property from job can

[2021-01-10 12:21] maxceem commented on #104
Contest https://www.topcoder.com/challenges/30161757 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-10 12:22] maxceem commented on #104
@imcaizheng this is ready for pickup.

[2021-01-10 13:15] maxceem commented on #104
Contest https://www.topcoder.com/challenges/30161757 has been updated - it has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-10 13:34] imcaizheng commented on #104
PR created https://github.com/topcoder-platform/taas-apis/pull/105

[2021-01-11 08:43] maxceem commented on #102
Verified on DEV, works good.

[2021-01-11 08:43] #102 closed

[2021-01-11 08:44] maxceem commented on #102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161551<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-11 08:50] #104 closed

[2021-01-11 08:50] maxceem commented on #104
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161757<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-13 02:25] sandhiyakavi commented on #72
@maxceem Connect Manager is able to Post, Delete. It is having all permission similar to that of booking manager.

[2021-01-13 09:40] maxceem opened #108 "Create endpoint to get v5 user id by user handle"
We already added this endpoint `GET /v5/taas-teams/users/{handle}`:
- this endpoint is needed to get v5 userId by `handle`
- in case a user with such a handle doesn't exist in v5, then this endpoint creates it automatically and returns `userId`

This was a quick fix via commit 2b7a591c8fb0b84d39d7ebd3c103edc64cd66394, so we have to improve the solution:
- Update Swagger
- Rename SkillController /

[2021-01-13 16:20] maxceem opened #109 "Make some Job fields longer"
- Make `description` field technically unlimited, instead of default `255` chars
- Make `title` field max length 128 insated of 64, as it was too short
- Explicitly define the length of all `VARCHAR` fields for 2 reasons:
   - `npm run init-db force` would create DB schema, and if we don't define explicit length for `VARCHAR` in model definitions, then default `255` length would be used which is n

[2021-01-13 16:32] maxceem commented on #109
Done via PR https://github.com/topcoder-platform/taas-apis/pull/110

[2021-01-13 17:00] maxceem opened #112 "Remove all the logic to create V5 (u-bahn) users"
We are going to get in sync Topcoder V3 and V5 users. And there would be a listener which would sync users between v3 and v5.

As soon as it's done, we have to be ready to remove all the logic for creating V5 users on demand most likely including the next endpoint https://github.com/topcoder-platform/taas-apis/issues/108.

[2021-01-13 17:01] maxceem commented on #108
Probably have to remove this endpoint along with https://github.com/topcoder-platform/taas-apis/issues/112

[2021-01-18 11:18] maxceem commented on #109
It was tested on DEV and works well. For example, this job 'https://api.topcoder-dev.com/v5/jobs/5e809cde-e001-4f80-867d-0d4c4239b870' has a description of more than 65000 characters long:

![image](https://user-images.githubusercontent.com/146016/104908748-903c5300-598f-11eb-9ccd-12e3b136f68a.png)

[2021-01-18 11:18] #109 closed

[2021-01-19 15:50] maxceem commented on #108
This was reverted as we don't need it anymore 2b6ccdb944985e6fafae4cea5771b77809eb33bd. We are going to migrate users from V3 to V5, so we wouldn't need to ensure user exists anymore.

[2021-01-21 18:11] #1 closed

[2021-01-23 13:39] maxceem opened #113 "[$100] Add "duration" field to Job and ResourceBooking models"
- Add `duration` field to `Job` and `ResourceBooking` models. This field would define the duration in **weeks**.
- This field is optional and should contain an integer value equal or greater than `1` - add Joi validation.
- As we already have `startDate` and `endDate` fields we should keep all of these 3 fields consistent. If 2 of these fields are defined, we should automatically calculate the thi

[2021-01-23 13:39] maxceem commented on #113
Challenge https://www.topcoder.com/challenges/a902c186-691e-4353-b958-24f65731959c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 13:39] maxceem commented on #113
@imcaizheng this is ready for pickup.

[2021-01-23 22:25] maxceem commented on #113
Challenge https://www.topcoder.com/challenges/a902c186-691e-4353-b958-24f65731959c has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-23 23:44] imcaizheng commented on #113
We could add a hook to do the calculation before saving(create/update) a record on the model level. The only thing should be aware of is the result need also being saved in ES.

Currently when an entity is going to be created it is saved in DB and ES independently. We could slightly modify the logic so that we have `entity => save in DB = (result from DB) => save in ES`

For example, https://githu

[2021-01-24 09:39] maxceem commented on #113
@imcaizheng Good catch about ES. Now putting this logic into the model sounds not like the best idea. I guess it would be very easy to forget about this detail and in the future, someone can just send raw data to ES without using Model methods.

So I guess it would be better just to create a reusable method and apply it explicitly inside each of the endpoints create/update. So anyone would be awar

[2021-01-24 11:55] imcaizheng commented on #113
One more question, to update existing data via migration script, in the case a record have a duration calculated to be less than 1 week, we could
1) silently ignore it
2) modify its end date to one week after start date

@maxceem which one is preferred, or any other ideals?

[2021-01-24 12:07] maxceem commented on #113
@imcaizheng If it requires some essential efforts, we can ignore it, as we have only demo data at the moment. But if it's relatively easy to achieve then let's follow 2 to make the demo data consistent for easier development.

[2021-01-25 11:52] maxceem opened #114 "[$75] Allow setting "status" during records creating"
At the moment when we are creating Jobs, JobCandidates and ResourceBookings we do not allow setting `status` field and just hardcode the value.

- We should allow setting `status` during POST request of all objects: Jobs, JobCandidates and ResourceBookings.
- This field should be optional, with the default the same like we set now.
- Update Swagger.
- Make sure, that automatic updates that depend

[2021-01-25 11:52] maxceem commented on #114
Challenge https://www.topcoder.com/challenges/ef2a9d84-27ff-476c-b571-80a7358b2990 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-25 11:52] maxceem commented on #114
@imcaizheng this is ready for pickup.

[2021-01-26 07:50] imcaizheng commented on #113
Sorry for the delay. Here are the PR https://github.com/topcoder-platform/taas-apis/pull/115 and https://github.com/topcoder-platform/taas-es-processor/pull/16

Please run the following request to update existing ES mappings with the new `duration` field:

[code]

Here is an example operating on local ES service, with the curl command:

[code]

[2021-01-26 07:59] maxceem commented on #114
Challenge https://www.topcoder.com/challenges/ef2a9d84-27ff-476c-b571-80a7358b2990 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-26 16:16] maxceem commented on #113
@nkumar-topcoder I've tested solution for this task locally and it works good.

There is one thing that would need your confirmation. At the moment we've added `duration` field, but we didn't update existent data to populate this field. So for all existent data `duration` would have value `null`. And current data in DEV for sure doesn't follow the new restriction of having integer number of weeks

[2021-01-26 22:25] imcaizheng commented on #114
PR created https://github.com/topcoder-platform/taas-apis/pull/117

[2021-01-27 11:14] maxceem opened #119 "[$50] Don't apply "clearObject" method and remove it"
Currently, we are applying method "helper.clearObject" to all the responses.

This method:
- Transforms `response = null` to `undefined` (why?)
- If the response is an array, then it removes all the `null` values form the array (I guess this might hide some issue in the logic which creates this array)
- If response is object and has fields with `null` or `[]` fields, it removes such fields (actual

[2021-01-27 20:48] maxceem commented on #101
Challenge https://www.topcoder.com/challenges/24fb9772-2a3b-4fec-bb04-902ee5b2f68c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-27 20:52] maxceem commented on #101
@imcaizheng this is ready for pickup.

It would be great if it could be done by Monday, Feb 1.

We are still gathering real data from the services to create a real CSV file that would look like the example above, but there might be some changes in the final CSV file format. So we might need some adjustments into script later.

[2021-01-28 01:26] maxceem commented on #101
Challenge https://www.topcoder.com/challenges/24fb9772-2a3b-4fec-bb04-902ee5b2f68c has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-29 10:21] nkumar-topcoder commented on #101
@imcaizheng  One more small req for reports, when searching for v5/users if users are missing, you cannot book for resourcebooking. But, please capture missing v5/users in the report.
cc @maxceem

[2021-02-01 09:09] imcaizheng commented on #101
PR created https://github.com/topcoder-platform/taas-apis/pull/120

[2021-02-02 07:51] sandhiyakavi opened #122 "Getting error "user is not a member of project" in api, even though the user is member of the project."
Description:

Getting error message  "userId: 41002174 the user is not a member of project 26912" even though the user is member of the project.

Steps to reproduce:

1. Create a Taas Project with TCConnCopilot account.
2.  Use TCConnCopilot account token and GET job with project Id.
3.  Observe the response

Expected result:
User should be able to view the response.

Actual result:
Getting "messa

[2021-02-02 07:52] sandhiyakavi commented on #122
Similar issue observed in https://github.com/topcoder-platform/taas-app/issues/25#issuecomment-769096860

[2021-02-02 13:47] maxceem commented on #101
@imcaizheng I've tested the script on locally and on DEV, it seems to work good. Though when I run script 2 times the log is same and it's not clear which records were created, and which records already existed.

![image](https://user-images.githubusercontent.com/146016/106609158-f5866b80-656d-11eb-9ed5-1693b9df4600.png)

Could you please, add more details to the log output, so we can see:
- which

[2021-02-02 14:25] maxceem commented on #101
Sorry, I've just noticed that the data I've requested above is already logged, I didn't notice it.
So let's just update the summary:
- in the summary, also show how many jobs and resourcebookings were created and how many jobs and resourcesbooking were already existed.

[2021-02-02 14:25] imcaizheng commented on #101
As for

and

Actually the log does contains the info though it is not obvious. The following commands could help find out the details:

[code]

@maxceem Please let me know whether the details in the log are desired.

[2021-02-02 14:28] imcaizheng commented on #101
@maxceem Got it.

[2021-02-02 19:15] imcaizheng commented on #101
Updated with https://github.com/topcoder-platform/taas-apis/pull/125

[2021-02-03 08:16] nkumar-topcoder commented on #101
@imcaizheng
cc @maxceem
- the condition for resourcebooking if today > enddate then **closed** else **assigned**  isn't working.

Can you please check.
For below record : enddate is pastdue and RB should be **closed** status but **assigned** is coming
DEBUG: processing line #2 - {"directProjectId":"24398","projectId":"1684
9","externalId":"5003","title":"taas-demo-job5004","startDate":"01/01/2021"

[2021-02-03 08:56] maxceem commented on #101
@nkumar-topcoder the summary has been updated. Now it shows how many job/resources created and how many already existed. `skip` at the moment means lines without `externalId`. Is such output fine?

[code]

[2021-02-03 08:59] maxceem commented on #101
@imcaizheng as Nagendra mentioned:

- the condition for resourcebooking if today > enddate then **closed** else **assigned**  isn't working.

In the code it compares with startDate instead of today: https://github.com/topcoder-platform/taas-apis/blob/dev/scripts/recruit-crm-job-import/index.js#L136

[2021-02-03 12:00] imcaizheng commented on #101
@nkumar-topcoder Fix here https://github.com/topcoder-platform/taas-apis/pull/127/files
cc @maxceem

[2021-02-03 13:05] maxceem commented on #101
@nkumar-topcoder `assigned`/`closed` status for resource booking is fixed, tested locally and pushed to `dev`. You might pull the latest version from `dev` and give it a try one more time.

[2021-02-03 13:27] nkumar-topcoder commented on #101
@maxceem @imcaizheng Thanks a lot for quick turnaround.

[2021-02-03 13:28] nkumar-topcoder commented on #101
@maxceem this is fine, thanks

[2021-02-03 13:29] maxceem opened #130 "Code Enhancements (tech debt and improvements)"
In this ticket I we can list small improvements that we might consider to make to keep the code clean, consistent and less prone to accidental issues.

- [ ] Rename commands `create-index` and `delete-index` to `es:create` and `es:delete`. Create one more command, `es:reset` that would delete index if exist and create it again without throwing error, but only logging if index was previously exists

[2021-02-03 13:40] maxceem commented on #67
All of these have been already done via 2 challenges:
- [Topcoder TaaS API - Improve Local Setup](https://www.topcoder.com/challenges/5be09073-73d9-4800-99af-1650b053f4ef)
- [Topcoder TaaS API - Data Scripts](https://www.topcoder.com/challenges/8a2bed05-e102-47db-945c-f165438fb68e)

You may check updated README https://github.com/topcoder-platform/taas-apis/blob/dev/README.md

So I'm closing this.

[2021-02-03 13:40] #67 closed

[2021-02-03 17:01] #114 closed

[2021-02-03 17:02] maxceem commented on #114
Payment task has been updated: https://www.topcoder.com/challenges/ef2a9d84-27ff-476c-b571-80a7358b2990
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `ef2a9d84-27ff-476c-b571-80a7358b2990` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-04 11:28] maxceem opened #132 "[$100] Refactor soft-deleting"
We are using soft-deleting in the code. So when a record is deleted we don't delete it for real, but just set `deletedAt` and later we treat records with `deletedAt` not null as deleted and should never return it.

`sequalize` already has support for this feature automatically called [paranoid mode](https://sequelize.org/master/manual/paranoid.html). But in our code base we are re-implemented the

[2021-02-04 11:54] maxceem commented on #113
@imcaizheng we have some update from the PM based on the business requirements for this.

Our real data for ResourceBookings doesn't follow the restricting for `duration` which we've added in this task. So should not add `duration` field for Resource Bookings, only for Jobs:
- revert changes in swagger, Joi schemas, migration scripts and so on for Resource Bookings
- Merge updated `dev` branch int

[2021-02-04 12:16] maxceem opened #133 "[$50] Always pass data to Kafka Events from DB"
At the moment when we send data to Kafka using `helper.postEvent` we usually send raw data which were received from the user:
[code]

This leads to several inconsistencies:
- When we are creating a record there are no values for `updatedAt` and `updatedBy`. So object is send to Kafka without these values and they are indexed with `updatedBy = undefined` and `updatedBy = undefined`. Though in the D

[2021-02-04 13:37] imcaizheng commented on #113
@maxceem It seems easy to revert the changes made to the ResourceBooking service.

Will create a PR based on the `feature/add-duration-field` branch and target to the `dev` branch.

[2021-02-04 14:00] nkumar-topcoder commented on #133
@maxceem You mean trigger event from postgres post any DB action and then update ES ?
Let me know if this is what you are thinking.

- https://gist.github.com/colophonemes/9701b906c5be572a40a84b08f4d2fa4e
- Similar thing, we have implemented for sync from **postgres** to **informix**.
- https://github.com/topcoder-platform/postgres-ifx-processer/blob/9c283cdf4ac4f9a80ab8abeb95823985ab417e29/pg-ide

[2021-02-04 17:17] imcaizheng commented on #113
PR created https://github.com/topcoder-platform/taas-apis/pull/134 and https://github.com/topcoder-platform/taas-es-processor/pull/22

[2021-02-05 09:06] maxceem commented on #133
@nkumar-topcoder you have a great idea for extension of my intention, though my initial there is less ambitious.

What I would like to solve are cases like this:

### Inconsistency during POST

1. User creates a new job, but sending all required fields:
[code]

    We populate some default values and send Job to ES as:
[code]

    So all the missing fields are not added to the ES at all. While in

[2021-02-05 14:03] maxceem commented on #119
Challenge https://www.topcoder.com/challenges/f4a9d5e1-aa85-4be8-9fc2-085baedd2fa3 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-05 14:06] maxceem commented on #119
@imcaizheng this is ready for pickup.

The fix by itself is trivial. But please, verify that this fix doesn't break any of the affected requests (including team requests). If you see any drawbacks, please, let me know.

[2021-02-05 14:06] maxceem commented on #133
Challenge https://www.topcoder.com/challenges/c7c30b20-ace8-40b3-88f9-47ff0d7d0e38 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-05 14:07] maxceem commented on #133
@imcaizheng this is ready for pickup.

The fix by itself is trivial. But please, verify that this fix doesn't break any of the affected requests (including team requests). If you see any drawbacks, please, let me know.

[2021-02-06 05:33] maxceem commented on #119
Challenge https://www.topcoder.com/challenges/f4a9d5e1-aa85-4be8-9fc2-085baedd2fa3 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 05:33] maxceem commented on #133
Challenge https://www.topcoder.com/challenges/c7c30b20-ace8-40b3-88f9-47ff0d7d0e38 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 06:33] imcaizheng commented on #119
PR created https://github.com/topcoder-platform/taas-apis/pull/135

[2021-02-06 09:21] imcaizheng commented on #133
PR created https://github.com/topcoder-platform/taas-apis/pull/136 and https://github.com/topcoder-platform/taas-es-processor/pull/23

[2021-02-06 11:42] #119 closed

[2021-02-06 11:42] maxceem commented on #119
Payment task has been updated: https://www.topcoder.com/challenges/f4a9d5e1-aa85-4be8-9fc2-085baedd2fa3
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `f4a9d5e1-aa85-4be8-9fc2-085baedd2fa3` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 12:06] maxceem opened #137 "[$30] Allow null in all the requests"
After implementing https://github.com/topcoder-platform/taas-apis/issues?q=is%3Aissue+is%3Aclosed one issue is revealed.

If I send `null` values to during POST/PUT/PATCH requests, such values would be rejected.

Example:
1. Create a JOB using POSTMAN
[code]

2. Copy the response of this operation and `PUT` the same response back to the API:
[code]

3. There would be a validation error:
[code]

DB

[2021-02-06 12:22] maxceem commented on #137
Challenge https://www.topcoder.com/challenges/c91bc840-eafd-4bf5-8f8a-53eff054a302 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 12:22] maxceem commented on #137
@imcaizheng ready for pickup.

[2021-02-06 12:42] maxceem opened #138 "[$40] Return "invites" and "members" for teams"
All the endpoint which return teams like `GET /taas-teams` and `GET /taas-teams/{teamId}` should also return 2 more fields:
- `invites`
- `members`

These fields should come from the project object which we get from `Projects API`. If they are not returned by default from Projects API, then when getting data from Projects API we would need to explicitly define the list of fields like `https://api.

[2021-02-06 12:42] maxceem commented on #138
Challenge https://www.topcoder.com/challenges/38384903-e3e3-4d90-8bbe-1b7a742dd446 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 12:42] maxceem commented on #138
@imcaizheng this is open for pickup.

[2021-02-06 14:09] maxceem commented on #137
Challenge https://www.topcoder.com/challenges/c91bc840-eafd-4bf5-8f8a-53eff054a302 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 14:09] maxceem commented on #138
Challenge https://www.topcoder.com/challenges/38384903-e3e3-4d90-8bbe-1b7a742dd446 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 14:28] maxceem commented on #132
Challenge https://www.topcoder.com/challenges/4edcc446-dd6d-4d78-80fe-1dd239b8e6f7 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 14:30] maxceem commented on #132
@imcaizheng this is open for pickup.

Could you, please, verify that after this is implemented there are no bad side-efects, in particular:
- `deletedAt` is automatically NOT returned by API
- `deletedAt` is not indexed by ES processor and not indexed by `index:*` commands
- deleted records are not indexed and not returned
- deleted records are not exported by `npm run data:export` command

Also,

[2021-02-06 14:33] maxceem commented on #132
Challenge https://www.topcoder.com/challenges/4edcc446-dd6d-4d78-80fe-1dd239b8e6f7 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-06 14:37] imcaizheng commented on #132
@maxceem Will let you know when it is not going to be a perfect implementation.

[2021-02-07 02:54] imcaizheng commented on #137
PR created https://github.com/topcoder-platform/taas-apis/pull/139

[2021-02-07 09:21] #137 closed

[2021-02-07 09:22] maxceem commented on #137
Payment task has been updated: https://www.topcoder.com/challenges/c91bc840-eafd-4bf5-8f8a-53eff054a302
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `c91bc840-eafd-4bf5-8f8a-53eff054a302` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-08 02:21] imcaizheng commented on #138
PR created https://github.com/topcoder-platform/taas-apis/pull/140

[2021-02-08 09:40] maxceem commented on #113
@imcaizheng just to keep you updated, I'm still waiting for the final business requirements for this field, so cannot make the final review yet.

[2021-02-09 09:13] maxceem opened #142 "[$50] PUT requests work same like PATCH requests"
We have `PUT` and `PATCH` requests. Their logic suppose to be different, but they work the same and have the logic of the `PATCH` request.

Example:

Create Job with `"workload": "full-time"`:
[code]

Now `PUT` the same job using the same request, but without `workload` field:
[code]

The expected outcome of the `PUT` operation is that it **replaces** the whole Job object with a new object. But it

[2021-02-09 09:16] maxceem commented on #142
@nkumar-topcoder @imcaizheng could you please have a look on this issue, what do you think is it valid? Should it be expected that not defined values are removed from the object when we `PUT`? Otherwise, I don't see any difference between PUT and PATCH.

[2021-02-09 11:15] #138 closed

[2021-02-09 11:15] maxceem commented on #138
Payment task has been updated: https://www.topcoder.com/challenges/38384903-e3e3-4d90-8bbe-1b7a742dd446
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `38384903-e3e3-4d90-8bbe-1b7a742dd446` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 11:18] #133 closed

[2021-02-09 11:19] #132 closed

[2021-02-09 11:19] maxceem commented on #133
Payment task has been updated: https://www.topcoder.com/challenges/c7c30b20-ace8-40b3-88f9-47ff0d7d0e38
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `c7c30b20-ace8-40b3-88f9-47ff0d7d0e38` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 11:19] maxceem commented on #132
Payment task has been updated: https://www.topcoder.com/challenges/4edcc446-dd6d-4d78-80fe-1dd239b8e6f7
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `4edcc446-dd6d-4d78-80fe-1dd239b8e6f7` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 11:30] maxceem opened #143 "[$60] Replace Job.endDate with Job.duration"
After clarifying business requirements we find out that we don't need such a complicated logic as was suggested in https://github.com/topcoder-platform/taas-apis/issues/113. We would like to make the next update:

- Remove `Job.endDate` field
- Add a new optional `Job.duration` field. It should only accept integer values 1 or more
- Update Swagger and Postman
- Update ES mapping config in API
- Up

[2021-02-09 11:31] maxceem commented on #143
Challenge https://www.topcoder.com/challenges/f2e057d5-f206-4d0c-86eb-53031c90a4ed has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 11:31] maxceem commented on #143
@imcaizheng this is ready for pickup.

[2021-02-09 11:33] maxceem commented on #113
@imcaizheng after business requirements were clarified we understood the we cannot have such functionality. New requirements are much simpler, so I guess it would easier to implement them from scratch rather then updating existent PRs, so I've closed them and created a new issue to implement https://github.com/topcoder-platform/taas-apis/issues/143.

As this issue was already implemented the payme

[2021-02-09 11:33] #113 closed

[2021-02-09 11:34] maxceem commented on #113
Payment task has been updated: https://www.topcoder.com/challenges/a902c186-691e-4353-b958-24f65731959c
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `a902c186-691e-4353-b958-24f65731959c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 11:54] nkumar-topcoder opened #144 "[$175] TaaS-App : Interface for Report an Issue"
A pop-up for `report an issue` button which shall enable email along with issue description to be shared.
Probable Impact on :
* TaaS-API
* TaaS-DB
* TaaS-app

[2021-02-09 12:19] imcaizheng commented on #142
The `submissions-api`(https://github.com/topcoder-platform/submissions-api) is used as a reference when `taas-apis` was initially implemented as per the spec from https://www.topcoder.com/challenges/90eef3e3-1218-403a-adac-fbda5f46a615?tab=details.

By looking at the source code of `submissions-api`(e.g. https://github.com/topcoder-platform/submissions-api/blob/develop/src/services/SubmissionServi

[2021-02-09 12:55] maxceem commented on #143
Challenge https://www.topcoder.com/challenges/f2e057d5-f206-4d0c-86eb-53031c90a4ed has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 15:17] maxceem commented on #142
Challenge https://www.topcoder.com/challenges/d3a4f176-45c0-4f7d-83af-0d44c4ff3728 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 15:18] maxceem commented on #142
@imcaizheng thank you for the details, I really appreciate your input.
This issue is ready for pickup. But please, give priority to https://github.com/topcoder-platform/taas-apis/issues/143.

I'm setting the price for this ticket as I'm expecting that it's straightforward to fix. But if it's not, please let me know.

[2021-02-09 19:42] imcaizheng commented on #143
PR created https://github.com/topcoder-platform/taas-apis/pull/145 and https://github.com/topcoder-platform/taas-es-processor/pull/25

[2021-02-09 19:50] maxceem commented on #142
Challenge https://www.topcoder.com/challenges/d3a4f176-45c0-4f7d-83af-0d44c4ff3728 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-09 23:22] imcaizheng commented on #142
PR created https://github.com/topcoder-platform/taas-apis/pull/146

[2021-02-10 14:57] maxceem opened #147 "[$40] "npm run init-db" should init already done migrations"
When we run the TaaS API locally we are running "npm run init-db" to create the DB schema.
The created DB schema already includes all the changes we've done using migrations scripts inside the `migrations` folder.
But if we run `npm run migrate` we would get an error, because it would try to apply all the migrations again.
This is bad because we might need to test migrations locally if we are work

[2021-02-10 15:17] maxceem commented on #143
@nkumar-topcoder we would need your help to deploy the result of this task to DEV:

#### Deployment Guide
1. Merge PR for ES Processor https://github.com/topcoder-platform/taas-es-processor/pull/25/files
2. Merge PR for TaaS API https://github.com/topcoder-platform/taas-apis/pull/145
3. Run the migration script `npm run migrate`
4. Reindex all data in **job** index `npm run index:jobs` - this woul

[2021-02-10 16:13] #142 closed

[2021-02-10 16:13] #143 closed

[2021-02-10 16:14] maxceem commented on #142
Payment task has been updated: https://www.topcoder.com/challenges/d3a4f176-45c0-4f7d-83af-0d44c4ff3728
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `d3a4f176-45c0-4f7d-83af-0d44c4ff3728` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-10 16:14] maxceem commented on #143
Payment task has been updated: https://www.topcoder.com/challenges/f2e057d5-f206-4d0c-86eb-53031c90a4ed
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `f2e057d5-f206-4d0c-86eb-53031c90a4ed` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-10 16:17] maxceem commented on #144
@nkumar-topcoder I'm not completely aware of possible solutions here in terms of Topcoder infrastructure.

Should we directly call Sendgrid from our TaaS API to send email. Or is there any general Topcoder service that we can use to send email?

[2021-02-11 13:24] maxceem commented on #78
### Possible approaches

As we've briefly discussed on Slack this has to be implemented some general way:
- we have to config in one place in some declarative way of which fields should are allowed to be returned to each role for each model/response

And there 2 main ways to achieve this.

1. **Don't fetch fields that are restricted for current member**

   1. **benefits**
       - it feels safer,

[2021-02-12 13:35] maxceem commented on #144
@nkumar-topcoder I've got you clarification in the google sheet on how to use Email Service for this via Kafka event.

It looks clear for me, thanks.

One question. Do I understand this correctly, that we would have a separate template for this teamplate inside SendGrid. So we would have to define its id as ENV variable and send inside Kafka event like `sendgrid_template_id: "123e4567-e89b-12d3-a4

[2021-02-12 13:36] maxceem commented on #144
And another template, should we have the design/template for this email? Or we already have some which we can reuse?

[2021-02-14 05:06] nkumar-topcoder commented on #144
@maxceem yes, this has to be at ENV variable and send to kafka.
The design template is already created & specific to our TaaS Issue reporting, Let me know if any change is required & we can change as needed.

[2021-02-14 11:11] maxceem commented on #144
Sum up:
- The main aim of this task is to implement API to send Issues Report Email from the TaaS App as per UI https://marvelapp.com/prototype/921gg0f/screen/75360462
   - At the moment we could report a general issue for the team
   - or report a particular member
- Create a new endpoint `POST /taas-teams/email`
- This should **be a general endpoint** that we can use to send various emails (we a

[2021-02-14 11:12] maxceem commented on #144
Challenge https://www.topcoder.com/challenges/954f1ad9-c72c-46a6-86fb-1eb7889d6d31 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-14 11:14] maxceem commented on #144
@imcaizheng this is ready for pickup

[2021-02-14 11:32] maxceem opened #148 "[$300] Create "POST /taas-teams/:teamId/members" endpoint"
Each **Team** in **TaaS API** is the same as **Project** in **Projects API**. In **Projects API** we already have the ability to invite members. So when users are invited they have to accept invites to become members.
In **TaaS App** we would like to skip the invitation process and be able to add members directly without invitation. **Projects API** already has an endpoint `POST /projects/{project

[2021-02-15 01:46] maxceem commented on #144
Challenge https://www.topcoder.com/challenges/954f1ad9-c72c-46a6-86fb-1eb7889d6d31 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-15 07:46] imcaizheng commented on #144
PR created https://github.com/topcoder-platform/taas-apis/pull/149

[2021-02-15 08:00] SathyaJayabal commented on #142
@maxceem , was this issue present only for jobs? was it tested for the candidates and RB?

[2021-02-15 08:05] maxceem commented on #142
@SathyaJayabal This issue was presented for all endpoints. I've tested it for jobs because from the code of view after the fix it should work for other endpoints too.

[2021-02-15 10:02] sandhiyakavi commented on #142
Verified PUT request for Job candidate. Checked by sending PUT request for Job candidate without Status.
![image](https://user-images.githubusercontent.com/55895538/107930520-727a0200-6fbe-11eb-8364-3c92537fead5.png)
![image](https://user-images.githubusercontent.com/55895538/107930786-c7b61380-6fbe-11eb-8448-7a9de8d82721.png)

Verified PUT request for Resource booking. Checked by sending PUT requ

[2021-02-15 13:06] maxceem commented on #144
@nkumar-topcoder this is done and merged to DEV.

But to make it works properly we have to config 2 env variables:
- `REPORT_ISSUE_EMAIL` email to WHOM send the issue reports from TaaS App
- `REPORT_ISSUE_SENDGRID_TEMPLATE_ID` sendgrid email template to use

We didn't include these values into the source code, as I suspect that it's better to keep these values private. But if we can just include t

[2021-02-16 16:40] maxceem commented on #148
Challenge https://www.topcoder.com/challenges/e4b4a684-67e4-4026-ace6-340a27025f44 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-16 16:40] maxceem commented on #148
Challenge https://www.topcoder.com/challenges/e4b4a684-67e4-4026-ace6-340a27025f44 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-18 09:19] imcaizheng commented on #148
However, `POST /projects/{projectId}/members` only supports added members by `userId`(See https://github.com/topcoder-platform/tc-project-service/blob/develop/src/routes/projectMembers/create.js#L16-L21). I think we can first find the id of a user by its handle/email and then add the user to a team with its id.

It wasn't implemented by the project service(See https://github.com/topcoder-platform/

[2021-02-18 09:32] maxceem commented on #148
Right, so we have to find `userId` by `handle` or `email` and it after.

I've misunderstood the logic. No need to implement it. We can just use this method to get multiple emails at a time.

[2021-02-18 13:57] imcaizheng commented on #148
I found a function named `lookupUserEmails` here https://github.com/topcoder-platform/tc-project-service/blob/develop/src/util.js#L916-L947.
@maxceem Could we use the function instead of `lookupMultipleUserEmails`?

[2021-02-18 14:10] maxceem commented on #148
I think no. That method supposed to be removed. It was replaced with `lookupMultipleUserEmails` here https://github.com/topcoder-platform/tc-project-service/issues/334 because of the issue of the Idenity Service: it cannot filter by multiple emails properly, see issue https://github.com/topcoder-platform/tc-project-service/issues/246.

[2021-02-19 08:17] imcaizheng commented on #148
PR created https://github.com/topcoder-platform/taas-apis/pull/150

[2021-02-21 08:09] #101 closed

[2021-02-21 08:10] maxceem commented on #101
Payment task has been updated: https://www.topcoder.com/challenges/24fb9772-2a3b-4fec-bb04-902ee5b2f68c
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `24fb9772-2a3b-4fec-bb04-902ee5b2f68c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-21 08:12] #144 closed

[2021-02-21 08:12] maxceem commented on #144
Payment task has been updated: https://www.topcoder.com/challenges/954f1ad9-c72c-46a6-86fb-1eb7889d6d31
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `954f1ad9-c72c-46a6-86fb-1eb7889d6d31` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 15:22] maxceem opened #151 "[$150] Create Projects API members/invites proxy endpoints"
Users with `bookingmanager` role can access all the teams in TaaS App even if they are not members of that team. In particular, such a user can Manager Access: see invites, members, add and remove members, see UI example https://platform.topcoder-dev.com/taas/myteams/16718/access

![image](https://user-images.githubusercontent.com/146016/108863314-be016100-75f9-11eb-8156-d3a0d5576dc1.png)

At the

[2021-02-23 15:22] maxceem commented on #151
Challenge https://www.topcoder.com/challenges/23887fd3-b21a-4ee4-8bac-f128adb86fcd has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 15:23] maxceem commented on #151
Hey, @imcaizheng we need this asap, I wonder if you would you be able to implement this within 24 hours?

[2021-02-23 15:24] #148 closed

[2021-02-23 15:25] maxceem commented on #148
Payment task has been updated: https://www.topcoder.com/challenges/e4b4a684-67e4-4026-ace6-340a27025f44
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `e4b4a684-67e4-4026-ace6-340a27025f44` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 16:21] maxceem opened #152 "[$40] Fix candidates list in `GET /taas-teams/:teamId/jobs/:jobId` endpoint"
If we have the same user added as a candidate multiple times, then this endpoint returns incorrect data:

- It returns the same Canidate records multiple times:

   ![image](https://user-images.githubusercontent.com/146016/108873077-83042b00-7603-11eb-8687-502293c93adc.png)

- But it should return different Candidate records, and only userId and jobId would be the same.

Example request with incor

[2021-02-23 16:22] maxceem commented on #152
Challenge https://www.topcoder.com/challenges/250fa49a-e618-44ac-9028-a7c1b6d402a1 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 16:22] maxceem commented on #152
@imcaizheng this is open for pickup now. But please, give priority to another issue https://github.com/topcoder-platform/taas-apis/issues/151

[2021-02-23 20:57] maxceem opened #154 "[$50] Create proxy endpoint `GET /taas-teams/me`"
Create a new endpoint `GET /taas-teams/me` which would return details about the logged-in user form V5.

- Any logged-in user should be able to call this endpoint (same like any user can get skills)
- This endpoint should internally call endpoint `GET {TC_API}/users?externalProfile.organizationId={config.ORG_ID}&externalProfile.externalId={currentUser.userId}`
    - use U-Bahn M2M token to call it

[2021-02-23 20:57] maxceem commented on #154
Challenge https://www.topcoder.com/challenges/239aaa2c-5d28-457e-b319-850e6a8117a5 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 20:57] maxceem commented on #154
@imcaizheng this is ready for pickup. Please, take it at last after 2 other issues.

[2021-02-23 21:00] maxceem commented on #151
Challenge https://www.topcoder.com/challenges/23887fd3-b21a-4ee4-8bac-f128adb86fcd has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-23 21:00] imcaizheng commented on #151
@maxceem No problem.

[2021-02-24 04:36] sandhiyakavi opened #155 "Jobs not getting created when creating Project from Connect app"
Jobs not getting created when creating Project from Connect app. Caused by addition of duration when creating Jobs we are getting error from TaaS API 1.0, as duration field is only added in TaaS API 1.5

[2021-02-24 05:26] sandhiyakavi commented on #155
@nkumar-topcoder @maxceem I verified the issue on Prod Env . But job is not getting created for me.

user role: Connect Copilot, Topcoder User, copilot

Projects created: https://platform.topcoder.com/taas/myteams/27237
https://platform.topcoder.com/taas/myteams/27235

![image](https://user-images.githubusercontent.com/55895538/108952021-47716b80-76ac-11eb-81b2-4589c5294ffd.png)

[2021-02-24 05:45] sandhiyakavi commented on #155
Similar issue observed in previous release https://github.com/topcoder-platform/taas-apis/issues/122

[2021-02-24 11:15] sandhiyakavi commented on #122
Verified.Working now.

![image](https://user-images.githubusercontent.com/55895538/108992734-fcbc1780-76dc-11eb-96b3-9f6f05b0af5e.png)

[2021-02-24 11:16] sandhiyakavi commented on #155
Verified.Working now.

![image](https://user-images.githubusercontent.com/55895538/108992882-25441180-76dd-11eb-99c1-cffe0fe5ebae.png)

[2021-02-24 11:25] lakshmiathreya commented on #155
@sandhiyakavi this needs to be verified in Prod too right?

[2021-02-24 11:38] lakshmiathreya commented on #122
@sandhiyakavi pls add Priority for this ...

[2021-02-24 12:36] #155 closed

[2021-02-24 12:37] SathyaJayabal commented on #122
This was fixed by updating the m2m token scope.

[2021-02-24 12:37] #122 closed

[2021-02-24 13:24] imcaizheng commented on #151
PR created https://github.com/topcoder-platform/taas-apis/pull/158

[2021-02-24 13:28] maxceem commented on #152
Challenge https://www.topcoder.com/challenges/250fa49a-e618-44ac-9028-a7c1b6d402a1 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-24 13:29] maxceem commented on #154
Challenge https://www.topcoder.com/challenges/239aaa2c-5d28-457e-b319-850e6a8117a5 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-24 14:06] maxceem commented on #151
@imcaizheng thank you for the quick PR and also for taking care of the additional param `role` for getting members!

[2021-02-24 14:07] #151 closed

[2021-02-24 14:07] maxceem commented on #151
Payment task has been updated: https://www.topcoder.com/challenges/23887fd3-b21a-4ee4-8bac-f128adb86fcd
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `23887fd3-b21a-4ee4-8bac-f128adb86fcd` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-25 01:32] imcaizheng commented on #152
PR created https://github.com/topcoder-platform/taas-apis/pull/160

[2021-02-25 05:04] imcaizheng commented on #154
PR created https://github.com/topcoder-platform/taas-apis/pull/161

[2021-02-25 08:28] #152 closed

[2021-02-25 08:29] maxceem commented on #152
Payment task has been updated: https://www.topcoder.com/challenges/250fa49a-e618-44ac-9028-a7c1b6d402a1
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `250fa49a-e618-44ac-9028-a7c1b6d402a1` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 13:41] maxceem opened #168 "[$50] Add new field `isApplicationPageActive` to the Job model"
Add new field `isApplicationPageActive` to the Job model:
- this field should be `required` in the model (DB) and default to `false`
- but in endpoints, it should be optional, boolean with `false` value **by default**
- we should be able to update the value for this field only using M2M token, no other users should be able to set or update the value for this field (but it returned to everyone)
- U

[2021-02-26 14:40] maxceem commented on #168
Challenge https://www.topcoder.com/challenges/93814b1d-90e3-422f-8a32-ac1c4bc20f8a has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-26 14:41] maxceem commented on #168
@imcaizheng this issue is open for pickup.

[2021-02-26 15:52] maxceem commented on #168
Challenge https://www.topcoder.com/challenges/93814b1d-90e3-422f-8a32-ac1c4bc20f8a has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-27 07:17] imcaizheng commented on #168
PRs created https://github.com/topcoder-platform/taas-apis/pull/169 and https://github.com/topcoder-platform/taas-es-processor/pull/28

[2021-03-01 14:52] maxceem commented on #168
Hi @nkumar-topcoder

This issue is done, but we would need your help to merge and deploy it to DEV:
1. Merge PR for ES Processor https://github.com/topcoder-platform/taas-es-processor/pull/28
2. Merge PR fro API https://github.com/topcoder-platform/taas-apis/pull/169
3. Run migration script `npm run migrate`
4. Reindex all the jobs `npm run index:jobs` so the new field is added in ES index
5. [PRO

[2021-03-01 15:09] maxceem commented on #168
Payment task has been updated: https://www.topcoder.com/challenges/93814b1d-90e3-422f-8a32-ac1c4bc20f8a
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `93814b1d-90e3-422f-8a32-ac1c4bc20f8a` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 08:39] maxceem commented on #154
Payment task has been updated: https://www.topcoder.com/challenges/239aaa2c-5d28-457e-b319-850e6a8117a5
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `239aaa2c-5d28-457e-b319-850e6a8117a5` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-02 08:57] maxceem commented on #154
QA guidelines:
1. Endpoint `GET /taas-teams/me` should return V5 u-bahn user details for the logged-in user (from Bearer token provided).
2. This fix did small changes to a general code. Even though they small it would be nice to make a quick smoke testing of the whole process `create job -> assign candidate -> choose candidate` and assign resource just to make sure there are no regressions.

[2021-03-02 09:30] sandhiyakavi commented on #154
@maxceem GET /taas-teams/me endpoint is returning the same response for all users.

![image](https://user-images.githubusercontent.com/55895538/109627712-40070200-7b85-11eb-8364-0366e63c861c.png)

[2021-03-02 09:40] maxceem commented on #154
Thank you @sandhiyakavi this is a very good catch.

I did some debugging over there, looks like there is some issue in U-bahn API:

- If we make a request with `enrich=true` everything works well, for example `https://api.topcoder-dev.com/v5/users?enrich=true&externalProfile.organizationId=36ed815b-3da1-49f1-a043-aaed0a4e81ad&externalProfile.externalId=40159127` returns an array with one user
[cod

[2021-03-02 09:53] maxceem commented on #154
On the second thought, I guess this is a kind of expected behavior in U-Bahn. We cannot filter by `externalId` if we don't `enrich` profile as `externalId` is a part of `externalProfile`. So I guess the solution would be
- hardcade `enrich` to `true` and don't allow set/unset it via `GET /taas-teams/me` API call.
- log an issue for U-bahn API so it should return explicit error if we try to filter

[2021-03-02 10:53] sandhiyakavi commented on #168
Verified the issue with below scenarios on Dev Env. Working as expected.

1.  Able to create job without isApplicationPageActive field using api/Connect/Taas app, default to false - **Pass**
2.  Not able to create job with isApplicationPageActive field set using Booking manager/Admin/Topcoder user (403 error) - **Pass**
3.  Check able to create job with isApplicationPageActive field using m2m toke

[2021-03-03 08:35] maxceem opened #170 "[$20] Remove support of `enrich` query param for `GET /taas-teams/me` endpoint"
We found an issue with using `enrich` query param of `GET /taas-teams/me?enrich=` endpoint, see https://github.com/topcoder-platform/taas-apis/issues/154#issuecomment-788770888.

So we have to remove support of `enrich` for the `GET /taas-teams/me` endpoint. And we always have to get user data from u-bahn with `enrich=true`.

- remove the support of `enrich` query param from API, Swagger, Postman,

[2021-03-03 08:35] maxceem commented on #170
Challenge https://www.topcoder.com/challenges/3fe7d3a3-c9de-4252-b766-f162ebc687bb has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 08:36] maxceem commented on #170
@imcaizheng would you like to pick up this?

[2021-03-03 11:26] maxceem commented on #170
@imcaizheng I had to revert PR for adding `me` endpoint https://github.com/topcoder-platform/taas-apis/pull/161 by this PR https://github.com/topcoder-platform/taas-apis/pull/171. Because we need to keep `dev` branch fully workable now.

You can revert my revert again in your branch and after update it as per this issue description. I hope it's not confusing.

[2021-03-03 11:48] maxceem commented on #170
Challenge https://www.topcoder.com/challenges/3fe7d3a3-c9de-4252-b766-f162ebc687bb has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 12:18] imcaizheng commented on #170
@maxceem Here is a new PR https://github.com/topcoder-platform/taas-apis/pull/172

[2021-03-09 09:21] maxceem opened #173 "[$125] Create script for migrating "isApplicationPageActive" from CSV file"
### Background

Recently we've added a new field to the Job Model `isApplicationPageActive`. This field in TaaS API reflects the same value in RCRM. We already have existent Jobs in RCRM, so we would have to sync values from RCRM to TaaS API for existent jobs.

## Task

We should implement this script a similar way as we've implemented `scripts/recruit-crm-job-import` as per issue https://github.c

[2021-03-09 09:24] maxceem commented on #173
Challenge https://www.topcoder.com/challenges/528ee50a-fe5c-42f5-a7b5-4b6d30c3bf51 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-09 12:20] maxceem commented on #168
@sandhiyakavi would you also like to test this on PROD?

[2021-03-09 16:25] maxceem commented on #147
Challenge https://www.topcoder.com/challenges/b636f84b-b92d-4b91-a793-e0808fb399ee has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-09 16:26] maxceem commented on #147
@imcaizheng this is open for pickup. You may give it the lowest priority after all other issues.

[2021-03-09 22:22] imcaizheng commented on #173
PR created https://github.com/topcoder-platform/taas-apis/pull/174

[2021-03-10 04:32] sandhiyakavi commented on #168
Verified the issue with below scenarios on Prod Env. Working as expected.

1. Able to create job without isApplicationPageActive field using api/Connect/Taas app, default to false - Pass
2. Not able to create job with isApplicationPageActive field set using Topcoder user (403 error) - Pass
3. Check not able to create job if isApplicationPageActive= NULL (400 error) - Pass
4. Check if Topcoder user

[2021-03-10 12:03] maxceem commented on #173
@nkumar-topcoder this is done and pushed to DEV.

You may run this script by following the README https://github.com/topcoder-platform/taas-apis/tree/dev/scripts/recruit-crm-job-sync.

Note, that this script requires ENV variables listed in file https://github.com/topcoder-platform/taas-apis/blob/dev/scripts/recruit-crm-job-sync/config.js. All the variables are prefixed by `RCRM_SYNC_` if `RCRM_SY

[2021-03-10 12:13] maxceem commented on #154
@sandhiyakavi this is now ready for QA on DEV. Please, note, that we've removed support for `enrich` param as described in another issue https://github.com/topcoder-platform/taas-apis/issues/170

[2021-03-10 12:52] maxceem commented on #147
Challenge https://www.topcoder.com/challenges/b636f84b-b92d-4b91-a793-e0808fb399ee has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 14:11] imcaizheng commented on #147
PR created https://github.com/topcoder-platform/taas-apis/pull/176

[2021-03-10 15:40] maxceem commented on #173
hey @imcaizheng the script works good for me, but for some reason, it gives an error to @nkumar-topcoder. I don't have any idea why this could happen, maybe you have some?

![image](https://user-images.githubusercontent.com/146016/110655401-b29c6100-81c7-11eb-853c-c38e35b6a9c8.png)

[2021-03-11 05:31] sandhiyakavi commented on #154
Verified in Dev Env. endpoint GET/taas-teams/me is fetching the correct user details.

1. Correct user details fetched.
<img width="671" alt="BM" src="https://user-images.githubusercontent.com/55895538/110740206-04032980-8276-11eb-8c8a-9498b21df899.png">
<img width="673" alt="connectm" src="https://user-images.githubusercontent.com/55895538/110740214-0796b080-8276-11eb-88b6-95ca85330a33.png">

2.

[2021-03-11 11:03] maxceem commented on #147
This task is only needed for local development purposes, so I'm closing it without QA.

[2021-03-11 11:03] #147 closed

[2021-03-11 11:04] maxceem commented on #147
Payment task has been updated: https://www.topcoder.com/challenges/b636f84b-b92d-4b91-a793-e0808fb399ee
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `b636f84b-b92d-4b91-a793-e0808fb399ee` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-12 09:18] maxceem commented on #170
Payment task has been updated: https://www.topcoder.com/challenges/3fe7d3a3-c9de-4252-b766-f162ebc687bb
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `3fe7d3a3-c9de-4252-b766-f162ebc687bb` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-12 09:18] maxceem commented on #173
Payment task has been updated: https://www.topcoder.com/challenges/528ee50a-fe5c-42f5-a7b5-4b6d30c3bf51
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `528ee50a-fe5c-42f5-a7b5-4b6d30c3bf51` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-15 08:40] #170 closed

[2021-04-05 07:10] sandhiyakavi opened #180 "GET request not fetching the Work Period detail"
Description:

Getting 404 with "message": "id: 61d1a93a-6793-4b72-bcdc-c351cfca99e3 \"WorkPeriod\" not found" when tried to get the Work period by id
<img width="670" alt="post_bk_1" src="https://user-images.githubusercontent.com/55895538/113547598-314eb780-9629-11eb-9c03-2a5609c4bf0e.png">

<img width="676" alt="get_bk_2" src="https://user-images.githubusercontent.com/55895538/113547580-27c54f80-

[2021-04-05 11:10] sandhiyakavi commented on #180
Verified in Dev Env. Able to get Work period detail using GET request

<img width="677" alt="bokingmanager_get" src="https://user-images.githubusercontent.com/55895538/113568136-eb0a5000-964a-11eb-990a-3e99832f1667.png">
<img width="675" alt="project_member_get" src="https://user-images.githubusercontent.com/55895538/113568148-ef366d80-964a-11eb-95d2-707e94dd3bdb.png">

[2021-04-05 11:23] sandhiyakavi opened #181 "[$25] Able to set 'daysWorked' to any number of days for a WorkPeriod"
Description:

User is not able to set more than a week for startDate and EndDate but the 'daysWorked' can be set to any number of days (more than 7 days)

![image](https://user-images.githubusercontent.com/55895538/113568984-9d8ee280-964c-11eb-9082-345fa80f848d.png)

[2021-04-05 20:25] maxceem opened #182 "All endpoints should be dashed instead of camel case"
- `/jobCandidates/:id` -> `/job-candidates/:id`
- `/resourceBookings/:id/:id` -> `/resource-bookings/:id`
- `/workPeriods/:id/:id` -> `/work-periods/:id`
- `/workPeriodPayments/:id/:id` -> `/work-period-payments/:id`

[2021-04-08 16:16] maxceem opened #184 "Topcoder TaaS API - Work Period Automation and Constraints - Forum"
The forum for the challenge [Topcoder TaaS API - Work Period Automation and Constraints](https://www.topcoder.com/challenges/00080061-9cca-49fd-90d6-0ca64dc776fd?tab=details) has some issues at the moment, so please ask your questions on this git issue for now.

Please, keep in mind that this issue is public, so don't post `AUTH0_` variables here which were shared with you under **Registered User

[2021-04-09 10:16] maxceem commented on #184
The Challenge forum is now fixed https://discussions.topcoder.com/categories/00080061-9cca-49fd-90d6-0ca64dc776fd.

Please, use the challenge forum instead of this issue for any questions.

[2021-04-09 10:16] #184 closed

[2021-04-14 11:49] maxceem opened #188 "Work Period Endpoints Constraints"
We always automatically create/update/delete Work Periods for Resource Bookings as per this logic https://github.com/topcoder-platform/taas-apis/wiki/TaaS---Scope,-Status-and-permissions#work-period-wp-automation-and-constraints. Which was implemented in this challenge https://www.topcoder.com/challenges/00080061-9cca-49fd-90d6-0ca64dc776fd?tab=details.

Though we also have endpoints to manually c

[2021-04-16 12:10] SathyaJayabal opened #191 "Work Period Creation automation: additional WP getting created"
When a resource Booking is created for a specific period of time, there is an additional WP created for the week before the RB Start date.

Example:
https://platform.topcoder-dev.com/taas/myteams/17244/rb/c8fc73f3-e986-48c6-9d29-57c8bf63289a
RB Dates:
04/18/2021  -  05/05/2021

Expected WPs:
WP ( Apr 18-24 , no of days: 5)
WP (Apr 25 - May 1, no of days: 5)
WP (May 02 - 08 , no of days : 2)

Actua

[2021-04-16 13:26] maxceem commented on #191
There is one tricky moment with Work Periods. Every user should see the same WorkPeriods. But every user lives in its own timezone. So to make things clear we are calculating Work Periods in the [EDT](https://24timezones.com/time-zone/edt) timezone.

The RB start date is `2021-04-17T18:30:00.000Z` which in your timezone might be `Apr 18`. But in EDT timezone where all the Work Periods are calculat

[2021-04-16 14:55] maxceem opened #192 "CircleCI: lint and unit tests should pass before we can merge to dev or master branch."
Similar to this https://github.com/topcoder-platform/taas-es-processor/issues/38

Now all the unit tests are up to date.

To make sure that we are only deploying correct code, during deploying we have to run:
- `npm run lint` to make sure lint pass
- `npm run test` to make sure unit tests pass

If lint or unit tests fail the deployment process should be terminated.

@nkumar-topcoder should we conf

[2021-04-17 08:11] maxceem opened #194 "Endpoints should respect M2M scopes when returning nested data"
At the moment we have some endpoints which return some nested data without respecting M2M scopes for nested objects.

- For example, we have endpoint `GET /jobs` which we call using M2M token with scopes `read:taas-jobs` or `all:taas-jobs`. But this endpoint returns not only Job objects but also Job Candidates objects inside. Though to get Job Candidates M2M token should have `read:taas-jobCandida

[2021-04-19 07:48] sandhiyakavi opened #196 "RB adds extra date because of different timezone."
Description:
RB adds extra date because of different timezone which in turn adds extra WP's.

Steps to Reproduce:
1. Create RB with only enddate. (14/4/2021)
2.  Edit RB date by adding start date (10/4/2021) from UI.
3.  GET RB details using endpoint (api) and observe. (start date is (9/4/2021))
4. Observe the WP created for the RB (one WP created in extra).

since in UI it uses timezone of our br

[2021-04-19 09:59] maxceem opened #197 "When creating ResourceBooking we should provide either `projectId` or `jobId`"

[2021-04-19 13:48] maxceem opened #199 "Keep in sync `WorkPeriods.paymentStatus` and actual payments"
- If at least one payment was processed (`status=completed`), the `WorkPeriod.paymentSatus` should be `partially-completed` or `completed`:
   - if the total amount of payments is equal to or greater than `WorkPeriod.memberRate * WorkPeriod.daysWorked / 5` then `completed`, otherwise `partially-completed`
   - if `WorkPeriod.daysWorked` is not defined, then it should be calculated automatically ba

[2021-04-19 13:50] maxceem commented on #181
The maximum number should be `5` as clarified by Will.

[2021-04-19 13:51] maxceem commented on #180
As this was only DEV issue and now is resolved, I'm closing it.

[2021-04-19 13:51] #180 closed

[2021-04-19 13:55] maxceem opened #200 "[$100] Should not set `daysWorked` during automatic WP creation/updates"
### Background

At the moment, when we automatically create and update WorkPeriods for ResourceBookings as per this logic https://github.com/topcoder-platform/taas-apis/wiki/TaaS---Scope,-Status-and-permissions#work-period-wp-automation-and-constraints. We are going to update this logic as per new requirement https://github.com/topcoder-platform/taas-apis/wiki/Work-Periods-(WP)-Automation-and-Cons

[2021-04-20 08:17] maxceem opened #201 "[$40] Ability to switch off actual payments on PROD"
When we create payment records using API `POST /work-period-payments` the actual payment would be created https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/WorkPeriodPaymentService.js#L99-L105.

During testing on PROD we would like to be able to disable the actual payment processing.

### Task

- Introduce a new config/env variblae `PAYMENT_PROCESSING_SWITCH`, with the default v

[2021-04-20 08:49] maxceem opened #202 "[$40] Should not be able to remove RB's start/end date once created"
Once Resource Booking has both start and end dates, we create WorkPeriods for it.

We should not allow removing start/end dates if both of them already set for Resource Booking.

- Throw an error if the user tries to do so.
- Create unit tests to cover all the cases:
   - should not allow setting dates to null if both dates are not null
   - should allow setting dates to null if one of the dates i

[2021-04-20 08:54] maxceem opened #203 "When Resource Booking is removed all related Work Periods and Payments should be removed"

[2021-04-20 14:42] maxceem opened #204 "[$100] Update Resource Booking model to not store time, only dates"
### Task

- Update Resource Booking model `startDate` and `endDate` fields so they only store dates without time, same like `WorkPeriod.startDate/endDate`.
- Create a migration script that updates all the existent records to store only dates without time (Just cut the time and timezone or any simple way). And it updates the DB model accordingly.
- Update all Joi schemas so they only accept dates w

[2021-04-20 17:05] maxceem opened #205 "[$100] Use billing account for payments"
At the moment we are processing all the payments using the default billing account. We would like to use a billing account which we would set for Resource Booking.

- Add `billingAccountId` field to the `ResourceBooking` model. We should be able to set/update/get it using ResourceBooking endpoints. `billingAccountId` is an optional fields type `bigint`.
- Add `billingAccountId` filed to the `WorkP

[2021-04-21 08:15] maxceem commented on #204
Challenge https://www.topcoder.com/challenges/3f8d8c21-23b6-4410-9239-62c4ed928fd9 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 08:17] maxceem commented on #204
@imcaizheng @eisbilir feel free to pick up this issue as per https://github.com/topcoder-platform/taas-apis/issues/1

Please, pick up one issue at a time. It's preferable to complete issues within 12 hours, but maximum of 24 hours.

[2021-04-21 08:21] maxceem commented on #201
Challenge https://www.topcoder.com/challenges/3286d857-f730-45af-9abd-69f60fac8539 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 08:22] maxceem commented on #201
@imcaizheng @eisbilir feel free to pick up as per https://github.com/topcoder-platform/taas-apis/issues/1

[2021-04-21 08:30] sandhiyakavi opened #208 "Able to update payment amount for Workperiodpayments even when challenge is completed"
Description:

Able to update payment amount for Workperiodpayments even when challenge is completed.

<img width="677" alt="update_prizeamount_challenge" src="https://user-images.githubusercontent.com/55895538/115522369-01f5a700-a2c7-11eb-86fc-1dc5d3e9fb2d.png">

The amount is not changed in Challenge as it is in 'Completed' status

<img width="957" alt="update_prizeamount_WM" src="https://user-im

[2021-04-21 09:02] SathyaJayabal commented on #208
@maxceem , once payment status is complete, there should not be any updates to the record.

[2021-04-21 09:32] sandhiyakavi opened #209 "Challenges created through Workperiod payments are getting stalled sometimes"
Description:
Challenges created through Workperiod payments are getting stalled sometimes.

Stalled challenges:
https://challenges.topcoder-dev.com/projects/17266/challenges/95e12561-e83e-432f-a063-db0b536150cc/view
https://challenges.topcoder-dev.com/projects/17266/challenges/2a78e95d-141c-4aea-8f3e-505595f5f0f4/view

[2021-04-21 09:57] maxceem commented on #201
Challenge https://www.topcoder.com/challenges/3286d857-f730-45af-9abd-69f60fac8539 has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 13:04] imcaizheng commented on #201
PR created https://github.com/topcoder-platform/taas-apis/pull/211

[2021-04-21 13:12] maxceem commented on #204
@eisbilir, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 14:05] maxceem commented on #204
@eisbilir, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 14:06] maxceem commented on #204
@eisbilir I would take care of Topcoder X tool, please feel free to work on this issue.

[2021-04-21 16:06] maxceem opened #212 "Ability to get Resource Bookings together with Work Periods"
We are going to implement the next UI for admins to list ResrouceBookings (RB) together with the WorkPeriod (WP):

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/146016/117113683-80f0e200-ad93-11eb-87fe-b1e80c45a6cb.png">

We have to be able to get data that is necessary for this page with abilities to filter, sort and paginate (ignoring Alerts).

[2021-04-21 16:11] maxceem commented on #201
The payment was increased as there were some common unit test fixes made.

[2021-04-21 16:18] #201 closed

[2021-04-21 16:18] maxceem commented on #201
Payment task has been updated: https://www.topcoder.com/challenges/3286d857-f730-45af-9abd-69f60fac8539
*Payments Complete*
Winner: aaron2017
Copilot: maxceem
Challenge `3286d857-f730-45af-9abd-69f60fac8539` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 16:18] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/1a7d6313-2741-47c2-81f0-49fb4ee1048f has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 16:19] maxceem commented on #205
@imcaizheng this is ready for pickup now.

[2021-04-21 16:27] maxceem opened #213 "Support bulk work periods payments"
We should be able to make bulk payments for multiple work periods up to around 2500 at a time or more.

- We should make sure that we don't hit any API rate limitations.

[2021-04-21 17:51] eisbilir commented on #204
we need to execute new migration script `2021-04-21-make-resource-booking-dates-store-no-timestamp.js` before `2021-04-10-populate-work-periods-for-resource-bookings.js` so, the populator script will be able to use updated resource booking dates. Can I name the new migration script as **`2021-04-09-make-resource-booking-dates-store-no-timestamp.js`**, so that it can run before `2021-04-10-populate

[2021-04-21 20:30] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/1a7d6313-2741-47c2-81f0-49fb4ee1048f has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-21 21:02] maxceem commented on #204
Yes, can rename that script.

[2021-04-21 21:14] imcaizheng commented on #205
@maxceem Should we allow set/update/get `billingAccountId` or just allow set/get actions?

[2021-04-21 21:16] maxceem commented on #205
@imcaizheng we should allow updates too. So like any other field of Resource Booking (fixed text above).

[2021-04-21 22:23] eisbilir commented on #204
I removed the timezone conversion.
According to [https://github.com/topcoder-platform/taas-apis/wiki/Work-Periods-(WP)-Automation-and-Constraints#work-period-wp-automation-and-constraints](https://github.com/topcoder-platform/taas-apis/wiki/Work-Periods-(WP)-Automation-and-Constraints#work-period-wp-automation-and-constraints) following statements are not implemented yet.

are they in the scope of

[2021-04-21 22:30] maxceem commented on #204
@eisbilir ah sorry worng link. Here is correct one https://github.com/topcoder-platform/taas-apis/wiki/TaaS---Scope,-Status-and-permissions#work-period-wp-automation-and-constraints (I've fixed the description above).

No, in this issue keep the same logic, and just remove time and timezone. We would handle other updates separately by other issues https://github.com/topcoder-platform/taas-apis/iss

[2021-04-21 23:23] eisbilir commented on #204
PR created [#214 ](https://github.com/topcoder-platform/taas-apis/pull/214)

[2021-04-22 08:22] maxceem commented on #204
Thank you @eisbilir all the PRs works good for me as per local testing. The payment is processed https://www.topcoder.com/challenges/a880287b-52f0-4b12-9cdc-450a5e948b39

[2021-04-22 10:08] maxceem commented on #196
We removed timezones and time from the Resource Bookings https://github.com/topcoder-platform/taas-apis/issues/204, so this should be no longer an issue.

[2021-04-22 10:09] maxceem commented on #191
We removed timezones and time from the Resource Bookings #204, so this should be no longer an issue.

[2021-04-22 10:49] maxceem commented on #200
@eisbilir this is ready for pick up now. Please, assign yourself if you would like to work on this.

[2021-04-22 11:04] maxceem commented on #200
Challenge https://www.topcoder.com/challenges/7b609463-7462-4dba-81d2-33495ea73c70 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 11:05] maxceem commented on #200
@eisbilir, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 11:25] sandhiyakavi commented on #196
Verified on Dev Env. Displaying correctly now.

<img width="630" alt="new_change" src="https://user-images.githubusercontent.com/55895538/115706688-df3bbf00-a3a8-11eb-8347-aabe0f575186.png">
<img width="676" alt="new_change_2" src="https://user-images.githubusercontent.com/55895538/115706696-e236af80-a3a8-11eb-84c4-1ed7f904ce97.png">

[2021-04-22 12:15] eisbilir commented on #200
what if new dates of RB causes deletion of a WorkPeriod which is not paid but has daysWorked set ?

Can we make the following inference?
If a WorkPeriod has daysWorked=`null` then we'll keep it `null`
If a WorkPeriod needs to be created after extending RB's duration then new WorkPeriod's daysWorked will also be `null`

After this fix there will still be an uncovered implementation according to [ht

[2021-04-22 12:33] maxceem commented on #200
delete such WorkPeriod

correct

good catch, yes we would need to protect us from canceling RB, once some WP is paid. This would be done in another issue.

[2021-04-22 12:35] maxceem opened #216 "Don't allow canceling Resource Bookings if some payment was done or in progress"
It should follow the same constraints as during Resource Booking removing here https://github.com/topcoder-platform/taas-apis/issues/203

[2021-04-22 12:39] SathyaJayabal commented on #191
Verified.
https://platform.topcoder-dev.com/taas/myteams/17283/rb/dcd926b0-374b-41e2-a7b0-70992197c571
WPs created for RB with dates (04/18/2021 -  05/05/2021)
WP ( Apr 18-24 , no of days: 5)
WP (Apr 25 - May 1, no of days: 5)
WP (May 02 - 08 , no of days : 3)

[2021-04-22 12:51] imcaizheng commented on #205
PR created https://github.com/topcoder-platform/taas-apis/pull/217

[2021-04-22 13:24] maxceem commented on #191
Closing as it was a DEV issue only.

[2021-04-22 13:24] #191 closed

[2021-04-22 13:24] maxceem commented on #196
Closing as it was a DEV issue only.

[2021-04-22 13:24] #196 closed

[2021-04-22 14:16] eisbilir commented on #200
@maxceem ah sorry I forgot that we already implemented it here: [https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/ResourceBookingService.js#L78](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/ResourceBookingService.js#L78)
no need for another issue.
Speaking of `cancelling`, can we add

 into [#188 ](https://github.com/topcoder-platform/taas-apis/issues/18

[2021-04-22 14:44] maxceem commented on #205
Payment is processed https://www.topcoder.com/challenges/c6d9f894-3505-41e6-ae89-36e869d06ed1

[2021-04-22 14:47] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/bceace02-1cb1-44a9-965a-9a6537dc475c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 14:47] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/bceace02-1cb1-44a9-965a-9a6537dc475c has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 14:47] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/1e5f6e9e-6fa8-49c1-8e68-c276ac02dc7b has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 14:47] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/1e5f6e9e-6fa8-49c1-8e68-c276ac02dc7b has been assigned to aaron2017.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 14:48] maxceem commented on #188
One more constraint to add:
- We should not be able to update `paymentStatus` it should be updated automatically by this logic https://github.com/topcoder-platform/taas-apis/issues/199
- We should not be able to create a payment if the corresponding Resource Booking is canceled.

[2021-04-22 14:49] maxceem commented on #205
Challenge https://www.topcoder.com/challenges/1e5f6e9e-6fa8-49c1-8e68-c276ac02dc7b aaron2017 has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-22 14:51] maxceem commented on #216
we already implemented it here: https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/ResourceBookingService.js#L78

probably we have to update the code, so this constraint is placed in some logical place, or update the name of the helper method, as now it's unexpected to find this check there.

[2021-04-22 14:51] maxceem commented on #200
ah, yes, thanks, updated requirement there https://github.com/topcoder-platform/taas-apis/issues/216#issuecomment-824910851

good idea, I've slightly updated it and added there https://github.com/topcoder-platform/taas-apis/issues/188#issuecomment-824908684

[2021-04-22 15:04] maxceem commented on #205
QA guidelines:

- if you like you may get the latest version of Postman and then just call 4 requests:
  ![image](https://user-images.githubusercontent.com/146016/115737504-de992d80-a394-11eb-9a59-c1b3c9910167.png)

- you may set BA to `null` for the RB, and then try to process the payment again and get an error

[2021-04-22 23:58] eisbilir commented on #200
another constraint for WorkPeriod Endpoint Constraints:

PR created : [#220 ](https://github.com/topcoder-platform/taas-apis/pull/220)

[2021-04-23 05:11] SathyaJayabal commented on #205
@maxceem,
Create RB from UI (without BA)
Processed payment for a Work Period. Got error as expected. (Note: project had a BA, but was not used as expected.)
<img width="1440" alt="Screenshot 2021-04-23 at 10 23 02 AM" src="https://user-images.githubusercontent.com/58783823/115820489-8dce1700-a41e-11eb-8022-3cdec9e989e0.png">

Patched BA to the resource booking from API. Processed payment again for

[2021-04-23 05:26] SathyaJayabal commented on #205
@maxceem , the BA in WM is the project BA
https://topcoder.slack.com/archives/C018080NHCN/p1619155433425700?thread_ts=1619154891.425200&cid=C018080NHCN
So, we are good here :)

[2021-04-23 06:15] sandhiyakavi commented on #204
Verified below scenarios. Working as expected.

1. Newly created/updated RB doesn't include Time zone.
2. Existing RB doesn't include time details.
3. Not able to create/update dates of RB with Time zone .
4. Filtering the RB by startdate/End date is working correctly.
5. The WP created are displaying the dates and daysworked correctly now.

[2021-04-23 06:51] maxceem commented on #204
Thank you for verification @sandhiyakavi.
Closing as it was only DEV issue.

[2021-04-23 06:51] #204 closed

[2021-04-23 06:51] maxceem commented on #204
Challenge 3f8d8c21-23b6-4410-9239-62c4ed928fd9 has been cancelled<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-23 06:58] maxceem commented on #205
Thank you @SathyaJayabal.

I'm closing this issue as it was DEV only.

[2021-04-23 06:58] #205 closed

[2021-04-23 06:58] maxceem commented on #205
Challenge 1e5f6e9e-6fa8-49c1-8e68-c276ac02dc7b has been cancelled<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-23 08:04] maxceem commented on #200
Thank you @eisbilir payment has been processed https://www.topcoder.com/challenges/9798808e-36f3-48bb-893c-80a44df16a7d.

[2021-04-23 10:03] sandhiyakavi opened #221 "The daysworked is not null in exisitng older WP records."
Description:
The daysworked is not null in exisitng older WP records.

![image](https://user-images.githubusercontent.com/55895538/115855669-7adf3500-a466-11eb-9b3c-311b6ae295d6.png)

[2021-04-23 10:34] sandhiyakavi commented on #221
@maxceem The daysworked are correctly displaying as null after re-creation.

![image](https://user-images.githubusercontent.com/55895538/115859151-c0056600-a46a-11eb-9381-5768a04dc654.png)

[2021-04-23 12:11] sandhiyakavi commented on #200
@maxceem Tested the below scenarios. Working as expected.

1. Exisitng records daysWorked=null
2. Created new WP has daysWorked=null
3. If daysWorked set and then startdate set earlier by week --> New WP created and no change in daysWorked.
4. If daysWorked set and then startdate set earlier by days (new daysworked >=daysworked set) --> no change in daysWorked.
5. If daysWorked set and then startd

[2021-04-26 11:05] SathyaJayabal opened #223 "Work Period Updates"
feat: WorkPeriods model and CRUD endpoints via PRs: #178 and topcoder-platform/taas-es-processor#31 by challenge https://www.topcoder.com/challenges/3779f061-9471-4b87-9b7e-d91589b77aa6?tab=details
feat: WorkPeriods automation and constraints via PRs: #190 and topcoder-platform/taas-es-processor#37 by challenge https://www.topcoder.com/challenges/00080061-9cca-49fd-90d6-0ca64dc776fd
feat: actual p

[2021-04-26 11:12] maxceem opened #224 "Run script to populate `isApplicationPageActive` for existent records from RCRM"
### Background

Recently we've added a new field to the Job Model `isApplicationPageActive`. This field in TaaS API reflects the same value in RCRM. We already have existent Jobs in RCRM, so we would have to sync values from RCRM to TaaS API for existent

### Task

The script for this has been already created via https://github.com/topcoder-platform/taas-apis/issues/173 and now we have to run it o

[2021-04-26 11:13] maxceem commented on #173
Created an issue to run the script we created in this issue on PROD https://github.com/topcoder-platform/taas-apis/issues/224

[2021-04-26 11:13] #173 closed

[2021-04-26 11:14] maxceem commented on #221
Closing, as it was a DEV issue only.

[2021-04-26 11:14] #221 closed

[2021-04-26 11:15] sandhiyakavi commented on #154
Verified in Prod Env. Details are correctly displayed.

![image](https://user-images.githubusercontent.com/55895538/116073913-fd1c6300-a6cb-11eb-8a06-13435b861797.png)
![image](https://user-images.githubusercontent.com/55895538/116074027-23420300-a6cc-11eb-8cd8-a0cb15d99be6.png)

[2021-04-26 11:17] sandhiyakavi commented on #200
Verified in Prod Env. The above testcases are working as expected.

[2021-04-26 11:18] #200 closed

[2021-04-26 11:18] maxceem commented on #200
Challenge 7b609463-7462-4dba-81d2-33495ea73c70 has been cancelled<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-04-26 11:19] sandhiyakavi commented on #223
Verified in Prod Env. All Work Period updates are working as expected.

[2021-04-26 11:19] #223 closed

[2021-04-26 11:19] #154 closed

[2021-04-30 04:38] sandhiyakavi opened #229 "Interviewstatus not updated to "completed" eventhough the interview date scheduled is over."
Description:

 Interviewstatus  not updated to "completed" even though the interview date scheduled is over. (In requirement it's mentioned Interview status will be updated to 'completed' after one hour of start timestamp.)

In the below example, Status is still 'scheduled'

![image](https://user-images.githubusercontent.com/55895538/116648822-f5550b00-a9b8-11eb-99a1-b4a82d58f828.png)

![image](ht

[2021-04-30 04:39] SathyaJayabal commented on #229
@urwithat , not in scope for this round right?

[2021-05-05 08:22] maxceem commented on #212
## Context

### Project Context

Topcoder TaaS API - is the main backend service for the [Topcoder TaaS App](https://platform.topcoder-dev.com/taas/myteams) which helps us to manage talent requests from the clients.

### Challenge Context

In the TaaS API we have **Resource Bookings** (RB) that represent a member assigned to some work for some time period from "startDate" till "endDate". We alread

[2021-05-05 11:21] maxceem opened #235 "Support "fields" query params for all endpoints with nested data"
Some models apart from data inside the model itself could return data from some nested models for example [Work Periods inside Resource Bookings](https://github.com/topcoder-platform/taas-apis/issues/212).

Especially endpoints for teams return a lot of nested/joint data.
- `/taas-teams`
- `/taas-teams/:id`
- `/taas-teams/:id/jobs/:jobId`

For consistency purposes and for speed optimization I sugg

[2021-05-06 08:50] maxceem commented on #212
#### Permissions

- Endpoints **"GET /resourceBookings"** and **"GET /resourceBookings/:id"** should only return "memberRate", "workPeriods.memberRate" and "workPeriods.payments" fields to the user who is "Booking Manager", "administrator" or M2M token with correct scope (see for example how it's done for "interviews" inside Job Candidates).
- Fix endpoints **"GET /work-periods"** and **"GET /work

[2021-05-07 10:53] maxceem opened #236 "[$40] Populate "winners" array during payments"
When we create a WorkPeriodPayment record using `POST /work-period-payments` for the payment purpose we are creating a challenge [here](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/WorkPeriodPaymentService.js#L109), which was implemented in this [challenge](https://www.topcoder.com/challenges/52fd3784-4bff-42f9-8ba8-a8a65db05803).

Creating challenge payment has next steps:

[2021-05-07 11:37] imcaizheng commented on #236
@maxceem I am not available these days. The issue can be assigned to other developers.

[2021-05-07 14:02] narekcat commented on #236
Hi @maxceem . Can I assign this issue to me?

[2021-05-07 14:10] maxceem commented on #236
Yes, I've assigned you @narekcat

[2021-05-07 14:24] narekcat commented on #236
Ok, thank you.

[2021-05-09 16:13] narekcat commented on #236
Hi @maxceem .
I have fixed this issue, please see pull request https://github.com/topcoder-platform/taas-apis/pull/237.

[2021-05-11 07:50] sandhiyakavi opened #240 "deletedAt field missing in new Interview model"
Description:
'deletedAt' field missing in Interview model.

![image](https://user-images.githubusercontent.com/55895538/117778759-f0c20980-b278-11eb-8dcf-5e9c63366ae5.png)

[2021-05-11 07:55] sandhiyakavi opened #241 "Body (Note section) of the interview scheduler email still has jcid and round instead of interviewId"
Description:

Note section of the interview scheduler email still has jcid and round instead of interviewId

![image](https://user-images.githubusercontent.com/55895538/117779479-ac833900-b279-11eb-812b-062742651754.png)

[2021-05-11 10:05] maxceem commented on #236
Challenge https://www.topcoder.com/challenges/53616b7f-bcad-40a2-aac1-3450b9b224b4 has been assigned to Narekvar90.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-05-11 10:56] #236 closed

[2021-05-11 10:56] maxceem commented on #236
Payment task has been updated: https://www.topcoder.com/challenges/53616b7f-bcad-40a2-aac1-3450b9b224b4
*Payments Complete*
Winner: Narekvar90
Copilot: maxceem
Challenge `53616b7f-bcad-40a2-aac1-3450b9b224b4` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-05-11 11:54] SathyaJayabal opened #242 "The Guest Email and Guest Names are not getting populated with candidate's email and name"
The Guest Email and Guest Names are not getting populated with candidate's email and name

example:
job: 495d82f1-59e8-477c-a826-6002e3e319b7
candidate: 98c9b0ef-6409-463d-944a-cab21da56b13

interview has been scheduled, but the candidates details not populated in the guest email and guest name fields

[2021-05-12 08:17] sandhiyakavi commented on #241
Issue resolved.closing the issue

[2021-05-12 08:17] #241 closed

[2021-05-12 14:06] urwithat commented on #240
This was missing in TaaS ES Processor, and existing in TaaS API.
Has now been added back to TaaS API Interviews.
@sandhiyakavi / @SathyaJayabal - Kindly test

[2021-05-12 14:07] urwithat commented on #242
This has been fixed.
As well as for guests not part of TC, display first part of the email in the guest name
@sandhiyakavi / @SathyaJayabal - Kindly test

[2021-05-13 03:37] sandhiyakavi commented on #240
@urwithat Still not able to get deleteAt field

![image](https://user-images.githubusercontent.com/55895538/118073962-fa1db400-b3e7-11eb-9f13-9889902f5c17.png)

[2021-05-13 03:57] sandhiyakavi commented on #242
@urwithat The Guest Email and Guest names are getting populated now but in the Guestname field, both the userhandle and First part of the Email is getting displayed (even though the candidate is a member of Topcoder). Also now all guestnames are displayed instead of the interviewee.

![image](https://user-images.githubusercontent.com/55895538/118075111-4ff35b80-b3ea-11eb-9ecd-081cc0b5249b.png)

Ma

[2021-05-13 05:31] SathyaJayabal opened #243 "Interview scheduler feature"
Challenges
https://www.topcoder.com/challenges/69e01f52-ae15-4c19-b683-1c8ec9fb74a9
https://www.topcoder.com/challenges/152b14b3-1d11-474c-b59e-faa02d89747e
https://www.topcoder.com/challenges/f0a67fd6-b133-4cd4-a464-9693d81aa31d
https://www.topcoder.com/challenges/6d5b8104-2d2c-48eb-abd6-e1873a81d0c3

[2021-05-13 05:31] #243 closed

[2021-05-13 05:40] SathyaJayabal opened #244 "Post-release: add 2 APIs and append data model"
https://www.topcoder.com/challenges/31eed499-3ff0-487f-bfd0-ac2a38548e26

[2021-05-13 05:56] SathyaJayabal opened #245 "Default guest name could be used when email added does not belong to a TC member"
While scheduling an interview, the customer can add additional attendees emails. If the email does not belong to a TC member, the guest name field is empty. A default value like "TC Guest" can be used in such cases.

[2021-05-13 05:56] sandhiyakavi commented on #242
@urwithat Now in the Guestname field, only the userhandle or First part of the Email is getting displayed. But still in mail instead of the interviewee (Job candidate) all the guestnames are getting displayed.

![image](https://user-images.githubusercontent.com/55895538/118084161-31499080-b3fb-11eb-8260-fc69730d82c4.png)
![image](https://user-images.githubusercontent.com/55895538/118084220-4c1c050

[2021-05-13 06:34] SathyaJayabal commented on #240
@urwithat , dont see the deleted_at field yet. the interview is cancelled.
<img width="1440" alt="Screenshot 2021-05-13 at 12 03 24 PM" src="https://user-images.githubusercontent.com/58783823/118087537-55997300-b3e3-11eb-9078-9bb591e793da.png">

[2021-05-13 06:46] SathyaJayabal opened #246 "Add winner details to payload while closing a payment task"
Add winner details to payload while closing a payment task
https://github.com/topcoder-platform/taas-apis/pull/237

[2021-05-13 07:01] SathyaJayabal commented on #246
@nkumar-topcoder , verified payment task is created and closed successfully in dev
<img width="1118" alt="Screenshot 2021-05-13 at 12 30 33 PM" src="https://user-images.githubusercontent.com/58783823/118090397-2258e300-b3e7-11eb-8c3e-158614ab0707.png">
<img width="1440" alt="Screenshot 2021-05-13 at 12 30 49 PM" src="https://user-images.githubusercontent.com/58783823/118090404-24bb3d00-b3e7-11eb-9

[2021-05-13 07:15] sandhiyakavi commented on #242
Verified in Dev Env.

Candidate Email and name is now added to the Guest email and name field. The Email content is also displaying correctly.

![image](https://user-images.githubusercontent.com/55895538/118091840-48da4680-b406-11eb-8fe1-907460ab54bf.png)
![image](https://user-images.githubusercontent.com/55895538/118091901-5c85ad00-b406-11eb-905e-e7c83448feac.png)

![image](https://user-images.gi

[2021-05-17 07:11] sandhiyakavi commented on #240
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/118446309-7555d180-b72a-11eb-9870-bcb586bec38e.png)

[2021-05-17 07:11] #240 closed

[2021-05-17 07:12] sandhiyakavi commented on #242
Verified on Prod Env

![image](https://user-images.githubusercontent.com/55895538/118446490-ab935100-b72a-11eb-8f1a-d188662bae1c.png)

[2021-05-17 07:12] #242 closed

[2021-05-17 07:28] sandhiyakavi commented on #245
Verified on Prod Env.

<img width="671" alt="guestname" src="https://user-images.githubusercontent.com/55895538/118448437-f6ae6380-b72c-11eb-803c-1e0417d9558d.png">

[2021-05-17 07:38] sandhiyakavi commented on #244
Verified on Prod Env. Working as expected.

[2021-05-17 07:38] #244 closed

[2021-05-17 08:25] SathyaJayabal opened #251 "Add interview round in email template"
https://github.com/topcoder-platform/taas-app/issues/260

[2021-05-17 10:00] sandhiyakavi commented on #251
Verified on Dev.

![image](https://user-images.githubusercontent.com/55895538/118470891-17cd7f00-b742-11eb-9cc7-fb4542979b78.png)

[2021-05-18 03:56] SathyaJayabal commented on #251
verified in prod
https://github.com/topcoder-platform/taas-app/issues/260