[2021-05-18 03:56] #251 closed

[2021-05-18 05:20] sandhiyakavi opened #254 "[$50] Search issues in RB and WP"
Description:

1. Not able to fetch RB details when searching with ProjectId
2.  Not able to get WP when searching with ResourceBooking Id. (WP seems to be not getting created)

<img width="562" alt="RB_created" src="https://user-images.githubusercontent.com/55895538/118594234-10f74880-b7e4-11eb-880c-e54b9babc2f6.png">
<img width="535" alt="search RB with projectid" src="https://user-images.githubu

[2021-05-18 07:59] nkumar-topcoder commented on #254
@eisbilir
Resourcebooking status with `placed` status are not getting displayed in frontend or via Resourcebooking search API.

**For example :**
1.  {{URL}}/resourceBookings?projectId=17333 has 7 RB records with `placed` status but it shows only 4 records now.
2. The reason as we suspect is due to this line but I am not sure of that - can you please check.
https://github.com/topcoder-platform/taa

[2021-05-18 08:04] maxceem commented on #254
@eisbilir

- as per our findings if ResourceBooking doesn't have start/end (and as c consequence it doesn't have WPs) it is not returned by the endpoint `/resourceBookings/?projectId={{projectId}}` when we search by `projected` for example.
- another thing to check. It looks like for WP to be returned it needs WP payments. somehow these nested records have become mandatory

@narekcat I haven't not

[2021-05-18 08:26] narekcat commented on #254
Hi @maxceem . I can work on this issue, if you assign it to me.

[2021-05-18 08:38] maxceem commented on #254
thanks, @narekcat, I prefer that **eisbilir** takes care of this on, as he was the one who implemented this code.
If **eisbilir** could not start within 24 hours, I would assign you.

[2021-05-18 08:40] narekcat commented on #254
@maxceem Ok.

[2021-05-18 08:54] maxceem commented on #254
@eisbilir, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-05-18 14:53] SathyaJayabal commented on #246
This has been released. Unable to test in prod at present. cc @nkumar-topcoder

[2021-05-18 14:53] #246 closed

[2021-05-18 15:06] SathyaJayabal opened #255 "Make the BA a string while creating a challenge for WP payment"
Make the BA a string while creating a challenge for WP payment
https://topcoder.slack.com/archives/C01T50SRHDE/p1621338405002000
cc @nkumar-topcoder

[2021-05-18 20:47] eisbilir commented on #254
@maxceem
PR created #256
fixed the issue: not able to search RBs which has no nested WP data
not related but I discovered another issue and fixed: WPs are not getting deleted when RB's startDate or endDate updated to null
RB and WP related GET endpoints now work good (for ES and DB) wheter they have nested data or not.

[2021-05-19 07:45] sandhiyakavi commented on #254
@maxceem @eisbilir Able to fetch RB details with project ID now. But rate type for RB will be by default 'Weekly' but now displayed as 'monthly' is it by default? (RB added through RCRM)

![image](https://user-images.githubusercontent.com/55895538/118774632-0363c080-b8c1-11eb-9944-a0be7b593223.png)

The Workperiod is getting displayed now but not all WP are getting created. RB with date 05/02/2021

[2021-05-19 07:51] nkumar-topcoder commented on #254
@eisbilir Can you please take a look at the above issue ?

[2021-05-19 08:28] sandhiyakavi commented on #254
@maxceem @eisbilir Please ignore the first comment "rate type for RB displayed as 'Monthly'". It's correct  and working as expected.
cc: @nkumar-topcoder

[2021-05-19 08:34] eisbilir commented on #254
@sandhiyakavi @maxceem We can set rate type to `weekly` by default if it's needed.

I couldn't re-produce the second one (not all WBs are getting created)

![Postman 2021-05-19 11 15 32](https://user-images.githubusercontent.com/72204071/118781551-db129c80-b895-11eb-9c0c-561f04ba8c25.png)
![Postman 2021-05-19 11 19 36](https://user-images.githubusercontent.com/72204071/118781567-dea62380-b895-11eb

[2021-05-19 09:17] sandhiyakavi commented on #254
@eisbilir It's not showing in my case . Please check the below sample

https://platform.topcoder-dev.com/taas/myteams/17338/rb/7385b68a-cc5f-47ee-9cca-7114e7a5cc8e

Steps to Reproduce:

1. Placed the resource through RCRM.
2. Edited the Job dates to 16-5-2021-29-5-2021 .
3.  Checked the WP created. has only WP (2021-05-23 -2021-05-29) (Last record shown)
4.  After editing the end date to 4-6-2021,

[2021-05-19 09:35] nkumar-topcoder commented on #254
@eisbilir
I think the issue is with **ElasticSearch**. where only 1 index are created even though the resource has more than 1 WPs.
 _See the example here_
`projectid = 17333, RBID = efc2a3a7-1e63-4d20-b6b4-8fe69b457e44, Startdate=2021-05-24 and endate=2021-06-17`
**the below is response from ES, Only  **1 Workperiod** is getting indexed.
[code]

The workperiods are getting created at PostgressDB

[2021-05-19 10:05] eisbilir commented on #254
The possible reason is the refresh option of taas-es-processor which is set to "wait_for".
After RB is created, taas-es-processor recieves a create message for each WBs and it needs a refresh between the callings. If it is not refreshed after a calling then the next call will override the previos one. That is why only one WB was created.
This is not an issue for local development, but i think it t

[2021-05-19 10:12] nkumar-topcoder commented on #255
@sandhiyakavi @SathyaJayabal This is fixed in DEV. please check.

cc @maxceem

[2021-05-19 10:15] eisbilir commented on #254
PR created https://github.com/topcoder-platform/taas-es-processor/pull/58

[2021-05-19 10:44] maxceem commented on #254
Thanks for the quick PR @eisbilir.

We would try to debug this issue more. My biggest concern is, that per my understanding `wait_for` suppose to force the `await esClient.updateExtra({` here https://github.com/topcoder-platform/taas-es-processor/blob/dev/src/services/WorkPeriodProcessorService.js#L30 to wait until data is updated in ES, so the next call of `const resourceBooking = await esClient.

[2021-05-19 10:48] nkumar-topcoder commented on #254
@eisbilir
Pls check Logs from ES processor. The kafka events are coming for workperiod.create topic.
but, when WP creation happening I see Output arguments : undefined.
in this case only the last WP (out of 4) got successfully created at ES.

[log-events-viewer-result (1).csv](https://github.com/topcoder-platform/taas-apis/files/6508031/log-events-viewer-result.1.csv)
![Uploading image.png…]()

[2021-05-19 11:22] maxceem commented on #254
@eisbilir my main concern was, that as per my understanding of the ES Processor logic it suppose to work without `true`.

As per my understanding logic is like this:
1. Start processing WP-create event
2. Get RB from ES
3. Add WP to RB
4. Update RB to ES (`wait_for` should force it to wait until data is refreshed)
5. Start processing next WP-create event
6. Get RB from ES (at this moment I would e

[2021-05-19 11:23] sandhiyakavi commented on #255
@nkumar-topcoder @maxceem  Currently I am getting "Billing account is not assigned to the resource booking" error with 409 conflict status eventhough billing account is assigned to the Resource Booking . Hence not able to create Work period payments for the same.

Sample: https://platform.topcoder-dev.com/taas/myteams/17340/rb/81dbce93-1167-4bff-8125-de8ad0d34778
BillingAccountId added to RB: 8000

[2021-05-19 11:51] nkumar-topcoder commented on #254
@eisbilir PR58 - topcoder-platform/taas-es-processor#58 This solution didn't help.
the same issue persists

[2021-05-19 13:17] maxceem commented on #254
@eisbilir after making it `'true'` @nkumar-topcoder tested it twice but the same issue occurs.
Please, let us know if we could do any testing/debugging to help tackle down this issue.

[2021-05-19 13:50] nkumar-topcoder commented on #254
@eisbilir @maxceem
logs details : for Consumer handler

Refer to the file attached for details.
[log-events-viewer-result (2).csv](https://github.com/topcoder-platform/taas-apis/files/6509224/log-events-viewer-result.2.csv)

[code]

[2021-05-19 13:59] maxceem commented on #254
@eisbilir above I've added one more log here https://github.com/topcoder-platform/taas-es-processor/blob/dev/src/app.js#L156.

And we reproduced the issue again to see the log. What I can see is:
- Consumer handler is called in parallel not sequentially (probably because of different partitions) https://github.com/topcoder-platform/taas-es-processor/blob/dev/src/app.js#L154
- As a result the rest

[2021-05-19 14:01] maxceem commented on #254
@eisbilir please, don't implement `bulk` updates for WP for now. I wonder if we could make it work without that.

[2021-05-19 14:08] eisbilir commented on #254
@maxceem Okay, different partitions seems the reason of this issue. Even if we implement bulk update, current behavior will cause problems for other endpoints either. It's better to find a way to run events sequentially even if they come from different partitions.

[2021-05-19 14:18] maxceem commented on #254
Yeah, this is what I'm afraid of. At the moment we are checking what values we have on DEV/PROD env so we could config them in our local docker here https://github.com/topcoder-platform/taas-apis/blob/dev/local/kafka-client/create-topics.sh#L5 to replicate the issue locally and think how to deal with it.

[2021-05-20 08:08] sandhiyakavi commented on #254
@maxceem @nkumar-topcoder @eisbilir The WP's are getting displayed correctly now while both adding/editing the dates by increasing and decreasing the RB's dates.

[2021-05-20 08:18] maxceem commented on #254
The fix which was applied is we changed the number of partitions from 10 to 1.

[2021-05-20 08:45] maxceem commented on #254
@eisbilir, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-05-20 08:45] maxceem commented on #254
Challenge https://www.topcoder.com/challenges/d567e429-0e7c-491b-a74c-b34974025c90 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-05-20 12:26] maxceem commented on #254
@nkumar-topcoder could you, please, help here?

[2021-05-20 14:30] SathyaJayabal opened #258 "JC Status updates for Gig Work"
Create the following new statuses for JC

[code]

cc @nkumar-topcoder

[2021-05-20 14:34] SathyaJayabal opened #259 "Zap updates for gig work"
- [x] 1. Create JC record as soon as candidate applies in RCRM/candidate created in RCRM. Status of JC will be `applied`.

- [x] 2. Map the following RCRM statuses to JC statuses, when there is an update to the candidate status in RCRM.

[code]

- [x] 3. Additionally map the following JC statuses

`Offered -> offered`
ref :https://docs.google.com/spreadsheets/d/1xxXWzDeVcrSJE_56tBB24KKY80nHiIgMzuM

[2021-05-21 04:42] sandhiyakavi commented on #255
Verified on Dev.

<img width="631" alt="WP-paymentBA" src="https://user-images.githubusercontent.com/55895538/119083056-3b424380-ba3a-11eb-9da1-97a54eafc498.png">
<img width="628" alt="challenge_bA" src="https://user-images.githubusercontent.com/55895538/119083063-3ed5ca80-ba3a-11eb-9318-ed905e872104.png">
![Uploading image.png…]()

[2021-05-21 05:18] sandhiyakavi opened #260 "BA Id of Resource Booking changed to null each time RB dates are edited."
Description:

BillingAccount Id of Resource Booking changed to null each time RB dates are edited.

Steps to Reproduce:
1. PATCH RB by adding BillingAccount Id.
2.  Edit the Start date/End date of the RB.
3.  Check the BillingAccount Id of the RB.

Actual Result:
BillingAccountId changed to 'null' each time the start date/End date edited.

<img width="665" alt="issue_with_update" src="https://user

[2021-05-21 11:10] nkumar-topcoder commented on #254
@eisbilir - related current issue topic of WP only,
we  decreased kafka partitions from 10 to 1 just for taas.workperiod.create, update and delete topics.
cc @maxceem

[2021-05-21 11:29] sandhiyakavi commented on #212
Specifications mentioned in https://github.com/topcoder-platform/taas-apis/issues/212#issuecomment-833353039 are not yet fully implemented. cc: @maxceem

Other than that, tested the below scenarios. Working as expected

1. Verify "GET /resourceBookings" enpoints to return ResourceBookings together with WorkPeriods by specifying fields query param.
2.  Verify  filtering by "projectId", "workPeriods

[2021-05-24 05:08] SathyaJayabal opened #262 "Update GET Jobs endpoint to support filter by multiple job ids"
Update GET Jobs endpoint to support filter by multiple job ids

[2021-05-26 10:49] SathyaJayabal opened #316 "[$50] Job status must not be updated to Candidates available for review when candidates are in pre screen statuses"
Due to requirements for the Gig Work Shapeup, we create candidates on the TaaS BE  as soon as they apply. The candidate status is `applied`. There are a few more pre screen stages(`skills-test`, `phone-screen`)  the candidates go though, before their status is set to `open`. There are also cases when the candidate is rejected before they pass screening (`rejected-pre-screen`).

Expected behaviour:

[2021-05-27 08:17] maxceem opened #269 "Check if member of project when getting WorkPeriod"
When we try to get a WorkPeriod by id by the user who doesn't have privileges, such requests always fallback to DB due to internal error, see log:

[2021-05-27T08:02:46.580Z] WorkPeriodService getWorkPeriod ERROR : cannot GET /v5/projects/undefined (404)
[2021-05-27T08:02:46.580Z] WorkPeriodService getWorkPeriod INFO : try to query db for data
[2021-05-27T08:02:47.131Z] helper checkIsMemberOfProje

[2021-05-27 08:17] SathyaJayabal commented on #255
verified on prod.
<img width="1011" alt="Screenshot 2021-05-27 at 1 47 16 PM" src="https://user-images.githubusercontent.com/58783823/119791033-121a2b00-bef2-11eb-9d7f-b0baeb926e0b.png">

[2021-05-27 08:17] #255 closed

[2021-05-27 08:18] maxceem commented on #269
Fixed by @eisbilir via https://github.com/topcoder-platform/taas-apis/pull/261

Payment for the tasks processed https://www.topcoder.com/challenges/c33884ce-da9b-4a1e-bfcd-d15b2b931ed5

[2021-05-27 08:22] maxceem commented on #213
It's being implemented by 2 challenges:
- Topcoder TaaS API - Payments - Batch Endpoints https://www.topcoder.com/challenges/aa2758b2-7a53-4662-9331-e1e9f55066d3?tab=details
- Topcoder TaaS API - Batch Payments - Part 1 - Scheduler https://www.topcoder.com/challenges/3dbe253c-d6f0-456a-bd21-8e3e211143fc?tab=details

[2021-05-27 09:08] maxceem opened #270 "Use v5/members instead of v3/members"
At the moment we are using "v3/members" endpoint to get users by the handle in 2 places, we have to update them to use "v5/members" instead.

[2021-05-27 09:24] maxceem commented on #260
@sandhiyakavi I guess you used `PUT` request instead of `PATCH`. `PUT` one overrides all the fields. If so, do you think we can close this issue?

[2021-05-27 09:24] maxceem commented on #270
Done via https://github.com/topcoder-platform/taas-apis/pull/271

[2021-05-27 09:28] maxceem commented on #270
QA guidelines:
This update would affect 2 features that we would have to verify:
- Create a WorkPeriodPayment. A challenge should be created with a winner listed correctly.
- Add 2 or more members to the team with one request. They should be added successfully.
- Add some non-existent members to the team - we should get a correct error that user(s) don't exist.

[2021-05-27 10:19] sandhiyakavi commented on #260
@maxceem I updated the RB start and End date from UI

[2021-05-27 10:47] maxceem commented on #260
ah, got it, so this is issue in TaaS App

[2021-05-27 11:43] sandhiyakavi commented on #270
@maxceem Tried Creating WorkPeriod Payment but both are still in Active status and not moved to "completed" status yet.Hence not able to check Winner listed.

WP Payment Ids: 4221b74a-38c3-43b2-99ca-e16e1e3ad359, 45e43570-435e-4db1-a351-a859d4ebd897
Challenge : https://www.topcoder-dev.com/challenges/ba6a5bbf-9907-404b-af69-a1ed8abf9e04
https://www.topcoder-dev.com/challenges/5701c582-3152-46e1-a0

[2021-05-27 12:31] sandhiyakavi commented on #270
@maxceem @nkumar-topcoder The challenge not moved to "completed" status was because of BA. It's moving to completed status now.

![image](https://user-images.githubusercontent.com/55895538/119825983-85dc2800-bf32-11eb-97e6-9cb1c0b4cde2.png)

Winner detail is also updated in challenge api,
![image](https://user-images.githubusercontent.com/55895538/119826135-ac01c800-bf32-11eb-97bc-5d36bd8ec9cf.png

[2021-05-28 03:47] SathyaJayabal commented on #259
Additionally map the following JC statuses
`Offered -> offered`

[2021-05-28 05:06] sandhiyakavi commented on #260
Verified on Dev Env. BA is not changed to null even after updating RB dates in UI

<img width="626" alt="BA_still present" src="https://user-images.githubusercontent.com/55895538/119932287-ee241b80-bfbd-11eb-9734-c55d1f564f67.png">

[2021-05-30 07:45] maxceem opened #277 "Get Resource Bookings with Work Periods Issues"
I've noticed that getting Resource Bookings with Work Periods working not correctly. Getting data from ES has more issues than getting data from DB, so I've added this line https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/ResourceBookingService.js#L475 to force getting data from DB instead of ES as temporary workoaround.

We have to remove this workaround and fix getting data f

[2021-05-30 21:16] eisbilir commented on #277
@maxceem
PR created #278
https://github.com/topcoder-platform/taas-es-processor/pull/62

[2021-06-01 04:04] SathyaJayabal commented on #262
verified on dev
https://docs.google.com/spreadsheets/d/1pdyOKCmIbHK8mGmKyp3gcQ6Uc28SEulD/edit#gid=1418496800

[2021-06-01 04:05] SathyaJayabal commented on #258
verified on dev

[2021-06-01 04:09] SathyaJayabal opened #281 "Feature role intake : skills module"
https://github.com/topcoder-platform/taas-apis/pull/266
Adding Skills Flow challenge winner https://www.topcoder.com/challenges/59bc7af3-6684-491d-b6c4-74ff6818b802

[2021-06-01 04:14] sdgun commented on #281
Verified the skill module in Dev environment.

[2021-06-01 04:25] SathyaJayabal opened #282 "500 Internal server error on Taas JOBs api"
Unable to create job either from Connect while creating a team or from taas FE

<img width="1440" alt="Screenshot 2021-06-01 at 9 52 35 AM" src="https://user-images.githubusercontent.com/58783823/120266394-6c830500-c2bf-11eb-9c41-0ce275ae6068.png">

[2021-06-01 05:05] SathyaJayabal commented on #282
verified, fixed on dev, able to create jobs
<img width="1440" alt="Screenshot 2021-06-01 at 10 34 23 AM" src="https://user-images.githubusercontent.com/58783823/120269245-0f8a4d80-c2c5-11eb-8574-c481c4dc513d.png">

[2021-06-01 05:09] SathyaJayabal opened #283 "Add additional fields to the jobs and job candidate tables"
https://www.topcoder.com/challenges/0ccb9b61-0ba1-41d4-a232-a4ab5519667b

[2021-06-01 11:23] SathyaJayabal commented on #283
verified on dev

[2021-06-01 11:54] SathyaJayabal commented on #259
verified 1 and 2 on dev env.

[2021-06-01 14:14] maxceem opened #288 "WP and WP Payments Updates"
## Background

In the current logic we tracking `amount` inside payments. The same time we can process several payments for the same Work Period using different `memberRate`. Because of this we cannot understand if the payment is fully done for the week, underpaid or overpaid. To make sure we can correctly track the payment status we have to track `days` which has been paid in each payment. Also,

[2021-06-02 05:27] sdgun opened #290 "[Role API] Delete end point returns Role does not exist message to some existing role"
**Steps**
Call DELETE https://api.topcoder-dev.com/v5/taas-roles/8076b36c-e557-4f65-9a46-293e7b4d58fb with an admin or booking manager token

**Current behavior**
Returns { "message": "id: 8076b36c-e557-4f65-9a46-293e7b4d58fb \"Role\" doesn't exists."}

**Expected behavior**
Should return code 403 and delete the role since this is an existing role which is returned by Get end point

[2021-06-02 05:58] sdgun opened #291 "[Role API] When Update end point is called with an already existing role name, the update happens instead of returning 'already exists' message"
**Steps**
Call update end point for a role by changing the role name to another existing role name

**Current behavior**
Update happens

**Expected behavior**
Should not allow duplicate role names(create end point has this restriction)

[2021-06-02 06:35] sdgun opened #292 "[Role API] Returns invalid skills message when creating a role with valid skills"
**Steps**
Call create role end point with the below skills set(these skills appear in the skills page in the intake app)
"listOfSkills": [
        "JavaScript",
        "Java",
        "CSS",
        "Git",
        "React.js",
        "Angularjs",
        ".Net",
        "Actian Database",
        "C++",
        "C",
        "Commerce Server 2009",
        "IBM Rational Application Developer",

[2021-06-02 07:29] sdgun opened #293 "[Role API] The skills and keyword search does not return any results"
**Steps**
Call GET https://api.topcoder-dev.com/v5/taas-roles/?skillsList=aws lambda&keyword=aws from a valid user token

**Current behavior**
Search by both skills and keyword does not return results

**Expected behavior**
Should return matching results

[2021-06-02 12:35] maxceem opened #296 "Kafka events order and ES Process issues"
A big thanks to @eisbilir for catching and providing details for this issue:

#### Issue details

When we create a RB with dates, these ES related events will occur at taas-api :
1. Send RB creation event to bus-api
2. Send WP creation events to bus-api
These events will always be fired with this order.
Kafka guarantees the order of data at the partition level. The producer sends the messages in a

[2021-06-02 12:50] maxceem commented on #296
I guess the only solution which is to merge all the create topics into one (and same for update and delete) the same way as it's done in [submission-es-processor](https://github.com/topcoder-platform/submission-processor-es/blob/develop/src/services/ProcessorService.js) and [project-processor-es](https://github.com/topcoder-platform/project-processor-es/blob/develop/src/services/ProcessorService.j

[2021-06-02 13:16] maxceem commented on #296
How this issue happens:
- Inside ES we have index with stores Resource Bookings and inside each of the Resource Bookings we store Work Periods as `nested` objects, because we want to filter by the complex queries:
[code]
- We send request to TaaS API to create a Resource Bookings:
   - Resource Bookings is created and event `taas.resourcebooking.create` is sent to Kafka
   - automatically for Reso

[2021-06-02 13:56] maxceem commented on #296
The approach with changing event naming structure would affect a lot of feature and very dangerous to implement as there is a lot of work begin done in this repo in parallel. So we can try to find some local solution for our particular issue.

For example we can try like this:
- everytime when we get create WP event we check if RB exists, if doesn't exists, we try a few more times after 500ms, 1 s

[2021-06-02 18:18] eisbilir commented on #296
@maxceem I agree with your 2nd solution.
Events other than those related to RB only lead to partially updates. Co-creation of parent and child only happens for RB.
So I think it's better to focus on some local solutions. Retrying with delay on failures would work.

[2021-06-02 20:13] maxceem commented on #296
We've also discussed it internally and come up with the next approach.
When WP is failed to be created because RB doesn't exist yet it in ES we have to repost event to Kafka using a special topic `taas.action.retry` with the next payload:
[code]
We should send this message to the Kafka using Bus API, similar to how we do from TaaS API (create reusable method [postEvent](https://github.com/topcoder

[2021-06-02 20:15] maxceem commented on #296
@eisbilir would you like to take care of this issue as per description in the comment above? https://github.com/topcoder-platform/taas-apis/issues/296#issuecomment-853352093

Payment: $100.

If you have any suggestions on how to improve the suggested way to implement, please, let me know.

[2021-06-02 22:33] eisbilir commented on #292
@nikolay83
PR created: #299

[2021-06-02 22:33] eisbilir commented on #293
@sdgun @nikolay83
To make it clear, we expect matching results to have both `aws lambda` skill in it's skillsLists and include `aws` in it's name, right?
Both condition should be satisfied. It might be deleted after but I couldn't find any matching roles at GET https://api.topcoder-dev.com/v5/taas-roles/

I made both skillList and keyword criteria case **insensitive** now.
PR created: #299

[2021-06-02 22:34] eisbilir commented on #290
@sdgun
This role has already been deleted from database but somehow still exists in elasticsearch index.

![resim](https://user-images.githubusercontent.com/72204071/120556663-7a42a280-c405-11eb-900a-bb779ff176d9.png)
![resim](https://user-images.githubusercontent.com/72204071/120556732-93e3ea00-c405-11eb-85a7-0119e4db53db.png)

Returns 404 when DELETE endpoint is called because it is no longer in

[2021-06-02 22:35] eisbilir commented on #291
@sdgun
I found the updated record:

![Postman 2021-06-03 01 03 26](https://user-images.githubusercontent.com/72204071/120558397-0eae0480-c408-11eb-9b33-ced2b283957a.png)

The first "React Developer 2" role actually not exists in database.
I explained it here: https://github.com/topcoder-platform/taas-apis/issues/290#issuecomment-853426363
Now after the above update, we actually have a "React Devel

[2021-06-02 22:47] eisbilir commented on #296
Ok, I'll take care of this, and the solution https://github.com/topcoder-platform/taas-apis/issues/296#issuecomment-853352093 looks perfect.

I don't think it would make it complex to implement several retries and It'd be easily applied any other topic when needed.

[2021-06-03 06:39] maxceem commented on #296
One more thing. When we send Kafka message we set `originator` which indicates service which sent this message, see https://github.com/topcoder-platform/taas-apis/blob/dev/src/common/helper.js#L944.

We have to send retry messages from ES Processor by setting `originator` = `taas-es-processor`. And inside the processor we should only process retry event if `originator` is `taas-es-processor`. This

[2021-06-03 07:20] sdgun opened #302 "[getSkillsByJobDescription] Skills matching to some skills entered in the job description are not returned"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'INPUT JOB DESCRIPTION' box
Enter a description including below skills(pls note these are only a few examples)
AWS
Ant
Axure
data science, big data

**Current behavior**
The skills are not returned even though they exactly match the existing skill

https://user-images.githubusercontent.com/45927

[2021-06-03 07:27] sdgun opened #303 "[getSkillsByJobDescription] When the text effects are applied to the skills in the Job description, the API is not returning the matching skills in the response"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'INPUT JOB DESCRIPTION' box
Enter a description including some skills(ex- ASP.NET​, APACHE CORDOVA)
Make them Bold or Italic or put them within double quotes or single quotes
Click Search

**Current behavior**
The getSkillsByJobDescription API is not returning the relevant skills

**Expected beh

[2021-06-03 10:28] sandhiyakavi opened #304 "WP-Batch Endpoints: Feature"
Challenge id: https://www.topcoder.com/challenges/aa2758b2-7a53-4662-9331-e1e9f55066d3

[2021-06-03 11:44] sandhiyakavi opened #305 "WP payment amount set to memberRate instead of 0 if workperiods.daysWorked is zero"
Description:
WP payment amount is getting set to RB.memberRate instead of 0 if workperiods.daysWorked is set to 0.

Steps to Reproduce:
1. Set the workperiod.daysworked=0
2.  Set RB.memberRate to some value. (WP.memberrate is null)
3.  Post/Work-period-payments with body containing only WP id.

Expected Result:
If WP.daysworked set as '0' then amount is also set as zero.

Actual Result:
Amount is

[2021-06-03 20:37] eisbilir commented on #296
PR #306
https://github.com/topcoder-platform/taas-es-processor/pull/69

[2021-06-04 06:04] sdgun commented on #290
I could only recreate this with mentioned id in the description, tried with several roles but unable to reproduce.

[2021-06-04 06:04] #290 closed

[2021-06-04 06:11] sdgun commented on #291
Verified with some more roles and update returned a proper message without letting to update role name to an existing role name.

[2021-06-04 06:11] #291 closed

[2021-06-04 06:15] sandhiyakavi opened #307 "[$20] WP payment in batch: Getting response like payment Id created with memberRate missing error."
Description:
While trying WP payment in batch, if there is a record with missing member rate, then the response for that record is like WP payment Id and status as "scheduled" created along with the error message.

Note: But if we try to GET by the Id, displays like "Workperiod Payment" not found"
sample WP payment Id: 58fe397a-42be-4d57-bbf6-5a6bb3edcb73

Sample batch request: [{
   [{"workPeriod

[2021-06-04 06:43] sdgun commented on #292
Verified with multiple sets of skills and roles were created without an issue with the given skills.

[2021-06-04 06:43] #292 closed

[2021-06-04 07:14] sdgun commented on #293
@eisbilir Noticed keyword is still case sensitive.

https://user-images.githubusercontent.com/4592712/120761144-7fe9d680-c532-11eb-87d7-efe7bc6e1304.mp4

@nikolay83 Are we only checking keyword in the name?

[2021-06-04 08:09] eisbilir commented on #293
@nikolay83 Could you confirm Role index is recreated with new mapping settings after this fix?
Because searching works good on local

[2021-06-06 16:30] maxceem commented on #304
Found one issue when creating multiple payments for 1 Work Period.

Create 5 payments:
[code]

Got good response:
[code]

But if later I get Work Period, I get only 3 payments inside:
[code]

response:

[code]

[2021-06-06 17:21] nkumar-topcoder commented on #304
@maxceem it should be default partitions of 10. I shall check by tomorrow.
we only changed the `taas.workperiod.create/delete/update` topic from 10 to 1

[2021-06-07 06:39] nikolay83 commented on #293
Confirmed.

[2021-06-07 07:45] sandhiyakavi opened #313 "Batch payment query: total success count differs from the actual number of payments for a scenario"
Description:

Tried Batch payment query for below

![image](https://user-images.githubusercontent.com/55895538/120977633-808ea100-c7ae-11eb-8361-4ac5551a3d30.png)

But If we GET/work-periods?startDate=2021-01-31&endDate=2021-02-06&userHandle=pshah_manager

In the below response, Only 6 records has payments and 2 records don't (the first and last Workperiods don't have payments), the last one is ex

[2021-06-07 08:27] SathyaJayabal opened #314 "502 error if jobIds array has more than ~40 ids."
https://github.com/topcoder-platform/taas-apis/pull/310#issue-663002745

[2021-06-07 14:51] nkumar-topcoder commented on #304
i have created a new topic with only `1 parition` the new topic is `taas.workperiodpayment2.create/update/delete`

[2021-06-08 06:08] cagdas001 commented on #316
@SathyaJayabal @LieutenantRoger I think this may be related/similar to the https://github.com/topcoder-platform/taas-app/issues/244, which has prior discussions. You may want to take a look. Fixing the flow will probably address it as well

[2021-06-08 06:19] SathyaJayabal commented on #316
@cagdas001 , regarding 224, we will still need to display the candidates available for review button when candidates are present in even one of the 4 tabs (review, interview, selected and declined). This button is the only  way customer can see the candidates in declined/selected tabs.

[2021-06-08 06:37] nkumar-topcoder commented on #313
@sandhiyakavi can you please re-try the exact test-case let me know.
this was fixed y'day evening.

[2021-06-08 06:48] sandhiyakavi opened #317 "WP payment query: Wrong payment amount calculated"
Description:

Wrong payment amount calculated while trying WP payment query.

<img width="665" alt="WP_payment_query" src="https://user-images.githubusercontent.com/55895538/121135848-e000b580-c86f-11eb-9e63-b69ce33480ba.png">

1. Member rate set as 200 for all records
![image](https://user-images.githubusercontent.com/55895538/121136221-5dc4c100-c870-11eb-8da4-678b6a6b849c.png)

2. Check using GE

[2021-06-08 07:59] sandhiyakavi commented on #313
@nkumar-topcoder I tried the scenario again

I am getting same result but yesterday's data is displaying now (For today it's not created again)RB id: 616ad7c7-a694-495c-858b-cf9d85c9faf0

![image](https://user-images.githubusercontent.com/55895538/121146267-b9944780-c87a-11eb-996a-03fe7252513a.png)

response:
[code]

[2021-06-08 09:55] sandhiyakavi commented on #317
@nkumar-topcoder @maxceem Similar issue found in single payment as well,
rb.memberRate=100
RB.Enddate = 06/08/2021 (no of Working days is 2 for WP 6/6/2021-12/6/2021)
so Amount should be 40 but amount displayed as 250

RB id: 6def583d-8f7f-4abf-bc3f-88bc2978f690
WP id: 8c756003-1c53-43e7-81cb-c4c01c101eed
WP payment id: d2667411-9f52-465b-9547-fb57a97cdf18
![image](https://user-images.githubuserco

[2021-06-08 11:12] nkumar-topcoder commented on #305
@sandhiyakavi  yes, verified valid issue

[2021-06-08 12:34] maxceem commented on #307
This is a valid issue, we have to update the logic, so in case of error it only returns the `workPeriodId` and `error` no other fields.

[2021-06-08 12:35] maxceem commented on #307
@xxcxy would you like to work on this?

[2021-06-08 13:32] maxceem commented on #317
@sandhiyakavi this should be fixed now.

[2021-06-08 13:50] LieutenantRoger commented on #316
@yoution I will un-release you for the time being.

But @yoution  and @cagdas001  please let me know if you are interested in fixing this backend issue.

[2021-06-08 13:52] LieutenantRoger commented on #316
Please work on branch `hotfix/job-status` if you are interested on ticket.

[2021-06-08 13:56] LieutenantRoger commented on #316
I don't quite understand the problem, can you create one using these endpoint ?   Or any more specific state you can't reproduce ?  https://monosnap.com/file/L0PEEBCz1Ld5nEdLP5uUd6hvBlKQ3i

[2021-06-08 14:11] yoution commented on #316
@LieutenantRoger please assign to me , I want to try

[2021-06-08 14:24] LieutenantRoger commented on #316
@yoution  I have assigned to you.  I suggest you to take a look at existing codebase carefully and original ticket description.

Below is my understanding about this, but you are welcome to discuss this.

Currently a job will become `in-review` from `sourcing` state even though it has no candidates or the candidates are not ready there.

We are trying to avoid this scenario.

So before a job turns

[2021-06-08 16:07] yoution commented on #316
@LieutenantRoger how about JobCandidate `open` status? does it need to be be excluded?
the JobCandidate default status is `open`

[2021-06-08 16:13] LieutenantRoger commented on #316
Hmm, good question, all JobCandidate is defaulting to `open`, so for this case, when all the job candidates of a job are in `open` state, the job still can't be changed into `in-review` as there are still not any applications to review.

 @SathyaJayabal  please take a look as well to see if the conclusion is correct.

[2021-06-08 17:27] SathyaJayabal commented on #316
@LieutenantRoger @yoution , Job Candidate is in "open" status means then it is ready for review, so we must change job status to "in-review" when a job candidate status is updated to open.

[2021-06-09 00:39] yoution commented on #316
@LieutenantRoger please review https://github.com/topcoder-platform/taas-apis/pull/320

[2021-06-09 03:53] SathyaJayabal commented on #316
@maxceem , can you please check if we are going in the right direction?
https://github.com/topcoder-platform/taas-apis/issues/316#issuecomment-856955621

[2021-06-09 05:29] maxceem commented on #316
@SathyaJayabal your idea in the comments above https://github.com/topcoder-platform/taas-apis/issues/316#issuecomment-856462108 is absolutely correct.

But the current PR https://github.com/topcoder-platform/taas-apis/pull/320 doesn't follow your idea.

General idea which has to be achieved:
- if some job has a job candidate in status `open`, then such job should have status `in-review`
- before j

[2021-06-09 06:27] LieutenantRoger commented on #316
Ah, ok. looks my understanding seems not correct. @yoution  could you please read above comments as well, please ?

[2021-06-09 06:29] sushilshinde commented on #316
@LieutenantRoger give me an hour I'm going to put all the details

[2021-06-09 06:46] sandhiyakavi opened #321 "Workperiod not getting created if RB created with Dates (through api)"
Description:

Workperiod not getting created if RB created with Dates (through api)

Sample RB id: c6c08ecf-9a8e-4bfc-af35-02e566646ea7, ad1e3744-635c-4483-b2fd-41af0ea22612

[2021-06-09 08:05] yoution commented on #316
@LieutenantRoger please review this one https://github.com/topcoder-platform/taas-apis/pull/322

[2021-06-09 09:28] SathyaJayabal commented on #316
@yoution , you are on the right track,
In both the `processCreate` and `processUpdate` methods, you need to call the `inReviewJob` method only if candidate status = `open`.

[2021-06-09 09:38] sandhiyakavi opened #323 "If the WP has no working days, then WP payment is getting created but not able to view"
Description:
If the WP has no working days, then WP payment is getting created with status 200  but not able to get using GET endpoint.

@maxceem @nkumar-topcoder It's ok to not create WP payment since the amount will be 0 but while using POST it's showing success status and WP payment id also getting created

Steps to Reproduce:
1. Choose WP with no working days (day is either Sunday/Saturday)
2.

[2021-06-09 09:44] yoution commented on #316
@SathyaJayabal have pushed, please review

[2021-06-09 09:45] sushilshinde commented on #316
@LieutenantRoger please review

[2021-06-09 10:44] sandhiyakavi commented on #317
Verified the below scenarios for single payment, multiple payments and batch payment query. Everything is working fine

1. Verify  amount is calculated as "'WorkPeriod.memberRate * WorkPeriod.daysWorked / 5 rounded up for 2 digits after point" if not provided as  "WorkPeriodPayment.amount"
2. Verify whether amount value taken from "ResourceBooking.memberRate" if "WorkPeriod.memberRate" is 'null'
3

[2021-06-09 13:08] maxceem commented on #307
The same issue when we are creating a single payment https://github.com/topcoder-platform/taas-apis/issues/323.

[2021-06-09 13:08] maxceem commented on #323
This is basically the same issue as here https://github.com/topcoder-platform/taas-apis/issues/307, just for one payment.

[2021-06-09 13:15] maxceem commented on #321
@sandhiyakavi this has been fixed by https://github.com/topcoder-platform/taas-apis/issues/296.

QA guidelines:
- Create a RB with long duration between start/end data, like a half year or year
- It could take some time to create all the Work Periods
- Verify that all work periods has been create for that duration.

[2021-06-09 13:35] maxceem opened #326 "[$15] [WPP] Create payment by query using start/end date"
![image](https://user-images.githubusercontent.com/146016/121365522-65a06600-c941-11eb-8bf0-460e4ba3ab0e.png)

And no payments are created even though there are some work periods with requests start date:

![image](https://user-images.githubusercontent.com/146016/121365662-82d53480-c941-11eb-9e25-20c09ae24227.png)

[2021-06-09 13:36] maxceem commented on #307
Sum up:
- If some error happens during scheduling payment and the actual payment is not created we should only return `workPeriodId` and `error` no other fields.

[2021-06-09 13:50] maxceem commented on #326
Invalid issue. `startDate` is date inside Resource Booking, to filter by Work Periods we have to use
[code]

[2021-06-09 13:50] #326 closed

[2021-06-09 16:42] LieutenantRoger commented on #316
The PR looks would work as expected, I will check once more tomorrow on this.

[2021-06-10 04:12] SathyaJayabal commented on #314
@LieutenantRoger @eisbilir , verified on dev
With  42 jobs ids being passed, all page 1, 2 and 3 (perPage=20) return correct data
<img width="1440" alt="Screenshot 2021-06-10 at 9 36 04 AM" src="https://user-images.githubusercontent.com/58783823/121463402-9af39500-c9cf-11eb-8914-8a9d239601ad.png">
<img width="1440" alt="Screenshot 2021-06-10 at 9 36 58 AM" src="https://user-images.githubuserconten

[2021-06-10 04:48] sandhiyakavi commented on #321
Verified the issue. Created a RB with one year duration (  "startDate": "2021-06-01","endDate": "2022-06-01"). All 53 WP records got created successfully with correct content.
rb id: f1382af3-1a95-4473-b5a9-a9ee46553b35

![image](https://user-images.githubusercontent.com/55895538/121465946-83c59f00-c9f1-11eb-82b8-f99a0af44840.png)
![image](https://user-images.githubusercontent.com/55895538/1214660

[2021-06-10 04:52] sandhiyakavi commented on #323
Closing this issue. It will be tracked in #307

[2021-06-10 05:21] SathyaJayabal commented on #316
@LieutenantRoger, verified on dev
Job moves to in-review status only when candidate is created with open status or when candidate status is updated to open
<img width="1108" alt="Screenshot 2021-06-10 at 10 28 00 AM" src="https://user-images.githubusercontent.com/58783823/121469097-84523b80-c9d9-11eb-81d5-f8af5df36ef2.png">

@maxceem, this is existing issue, Job goes to `in-review` status when a c

[2021-06-10 06:46] maxceem commented on #316
@SathyaJayabal it's hard for me to advise here it sound more like a new business requimenet that has to be determined. I guess it would be better to confirm it with Will.

[2021-06-10 07:16] maxceem commented on #323
After fixing another issue #307 it appeared that current issue has another root and different from #307, so we are investigating.

[2021-06-10 07:17] maxceem commented on #307
This one is fixed and ready for QA. It appears that it's different from #323.

[2021-06-10 08:32] sandhiyakavi commented on #307
Verified on Dev. No WP payment Id is created now.

![image](https://user-images.githubusercontent.com/55895538/121492086-87691e00-ca11-11eb-8340-d28483d703c3.png)

sample
[code]
response:
[code]

[2021-06-10 09:29] nkumar-topcoder opened #329 "[$50] Include addition param key to Postevent method"
### Add additional paramater `key` for `postEvent` method for `workperiodpaymentservice`

Similar to below changes which is done for `workperiod` (for create/update)

For workperiod postevent [create](https://github.com/topcoder-platform/taas-apis/pull/325/files)
For workperiod postevent [update](https://github.com/topcoder-platform/taas-apis/pull/324/files)

Refer only changes for `src/services/W

[2021-06-10 09:41] maxceem commented on #329
Sum up:

**Background:**
- when we send events to Kafka, for some events we have to pass `key` so that such events would be processed inside ES Processor in correct order
- we've already done that for WorkPeriod create and update as a proof of concept https://github.com/topcoder-platform/taas-apis/pull/325/files and https://github.com/topcoder-platform/taas-apis/pull/324/files

**Task**
- now we h

[2021-06-10 12:15] maxceem opened #330 "[$60] Calculate `daysWorked` on WP create or RB start/end updates"
- In the first versions we calculated `daysWorked` when we created Resource Bookings or updated start/end date as was implemented in https://www.topcoder.com/challenges/00080061-9cca-49fd-90d6-0ca64dc776fd
- Later, we stopped re-calculating `daysWorked` and keep it `null` as per https://github.com/topcoder-platform/taas-apis/issues/200
- And now we would like to again calculate `daysWorked` when w

[2021-06-10 12:16] maxceem commented on #330
@eisbilir would you like to pick up this issue?

[2021-06-10 12:19] maxceem commented on #269
QA guidelines:
- Check that normal user (non-manager and non-admin) can access work periods inside the project they are part of. And cannot access work periods in the projects where they are not part of

[2021-06-10 12:22] maxceem commented on #296
@eisbilir payment processed https://www.topcoder.com/challenges/3df1ddad-14a7-4576-b237-2c2b09ae42ad

[2021-06-10 12:23] maxceem commented on #296
In this ticket we fixed issue https://github.com/topcoder-platform/taas-apis/issues/321 which was verified, so I'm marking this as pass qa.

[2021-06-10 12:28] maxceem commented on #202
@eisbilir one more issue if you like.

[2021-06-10 12:30] maxceem commented on #181
Sum UP:
- we should not be able to set/update `daysWorked` to more than 5
- additionally, we should check that `daysWorked` respect start/end date of the corresponding Resource Bookings, so we could not set `daysWorked` more than can fit corresponding Resource Booking.

[2021-06-10 12:31] maxceem commented on #181
@eisbilir one more issue if you like.

[2021-06-10 12:34] maxceem commented on #277
paid via https://www.topcoder.com/challenges/6d5d34e5-423a-4931-8187-2cf00e746150

[2021-06-10 12:35] sushilshinde opened #331 "Add new value in rateType enum"
Add `annual` value to list
https://github.com/topcoder-platform/taas-apis/blob/925d7bd8f9933bad9b6a8e3c59b01dbd9246f1ad/src/bootstrap.js#L13

Related Change https://github.com/topcoder-platform/taas-es-processor/issues/75

Update Swagger
https://github.com/topcoder-platform/taas-apis/blob/e76d67f5e32765ccecfd7e02b64d4d0a64cdc55f/docs/swagger.yaml#L1476

[2021-06-10 13:31] eisbilir commented on #202
@maxceem sure

[2021-06-10 15:00] maxceem opened #332 "[$30] Ability to filter by multiple `workPeriods.paymentStatus`"
We should be able to filter Work Periods by multiple `paymentStatus` in the endpoints:
- `GET /work-periods?paymentStatus=status1,status2,status3`
- `GET /resourceBookings?workPeriods.paymentStatus=status1,status2,status3`

it should support comma-separated list, or single status (which is supported now)

Update Swagger to indicate this.

[2021-06-10 16:00] LieutenantRoger commented on #316
@yoution  The fix has passed QA, the payment is processed here: https://www.topcoder.com/challenges/5194c6ef-7ac6-4550-bba7-82ffafba8b79

Thanks

[2021-06-11 04:41] sushilshinde opened #334 "Add allow empty for string fields in Job and JC endpoints"

[2021-06-11 04:42] sushilshinde commented on #334
https://github.com/topcoder-platform/taas-apis/commit/e2fc2dd3f1fae9b27a377694c78565c24225722e

[2021-06-11 05:27] sandhiyakavi commented on #269
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/121633969-c2755b00-cabe-11eb-9cc9-8dcd63a269c9.png)
![image](https://user-images.githubusercontent.com/55895538/121634020-d5882b00-cabe-11eb-90cf-0f9de5eeb1b6.png)
![image](https://user-images.githubusercontent.com/55895538/121634596-cce42480-cabf-11eb-96fb-6203e534b45b.png)

If not a member of the project
![image](h

[2021-06-11 06:00] sandhiyakavi commented on #277
Verified in Dev.

1. Sorting by userhandle with pagination working correctly.
2. Get RB /resourceBookings?fields=workPeriods.userHandle,workPeriods.startDate,id&perPage=3&workPeriods.startDate=2021-02-21 doesn't return records without WP.

[2021-06-11 06:09] xxcxy commented on #329
Judging from the current implementation, this line of code also needs to be updated.
https://github.com/topcoder-platform/tc-bus-api/blob/b41af6d01024a71b7ff3b5240b4699c6eac5468d/common/helper.js#L125

[2021-06-11 06:21] nkumar-topcoder commented on #329
@xxcxy thanks for proactive thinking, internally team has implemented in other branch for [tc-bus](https://github.com/topcoder-platform/tc-bus-api/blob/f78fde4e72a9c85fa0b5129f999dce9485e26103/common/helper.js#L136).
It's available in `dev` tc-bus-api.

[2021-06-11 06:24] maxceem commented on #329
@xxcxy tc-bus api is updated in the branch `feature/shapeup3`, see https://github.com/topcoder-platform/tc-bus-api/blob/feature/shapeup3/common/helper.js

@nkumar-topcoder do you think we can merge it to DEV, or not yet?

[2021-06-11 06:41] nkumar-topcoder commented on #329
@maxceem i shall get back , it's already `deployed` to dev from other branch. You can push `key` param and verify.

[2021-06-11 07:08] xxcxy commented on #329
From the perspective of `IMPROVEMENT for all keys`, the value of key should be an object, such as: { 'workPeriodPayment.billingAccountId': ${workPeriodPayment.billingAccountId} }, but in this verification, the key is a string

[2021-06-11 07:14] maxceem commented on #329
@xxcxy I mean the string like this: `resourceBooking.id:${resourceBooking.id}`, not an object.

[2021-06-11 07:24] xxcxy commented on #329
@maxceem Ok, got it.

[2021-06-11 08:56] maxceem opened #337 "[$40] Fix `total` when fallback to DB in search requests"
At the moment if search requst fallbacks to DB, the `total` is calculated in a wrong way, it only returns the number of objects for the current page. While it has to return the number of objects in total for all the pages.

Previously we fixed this issue for `GET /resourceBookings` see https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/ResourceBookingService.js#L649-L656

We have

[2021-06-11 10:25] maxceem opened #339 "Loose WPs in ES when change dates for RBs."
Another great catch from @eisbilir. We added `key` to some events, so when we create RB and many WPs are created for this RB they wold be processed one by one in ES Processor.

But after we change RB dates, we raise all of the RB.update,WP.create,WP.update,WP.delete topics potentionally they would still overwrite each other if ES processor try process them in parallel.
We are not safe from this be

[2021-06-11 11:10] maxceem commented on #332
@sandhiyakavi this is ready for QA on DEV.

[2021-06-11 13:05] maxceem opened #340 "[$25] Creating payment by query should get data form DB instead of ES"
At the moment when we call endpoint `POST /work-period-payments/query` to get the list of Work Periods to create payments for it uses method `searchResourceBookings` which get data from ES (and only fallback to DB in case of an error).

Instead of this when creating payments we have to get Work Periods from DB, because data from DB is much more reliable.

For this purpose we have to:
- add `option

[2021-06-11 21:16] maxceem commented on #337
I see, then no need to fix it for this endpoint.

[2021-06-12 07:12] maxceem opened #342 "Use one Kafka topic for RB, WP and WPP"
To avoid all the race conditions issues between RB, WP and WPP create, update and delete actions we can create a single topic and use `key`.

### Replace topics with one `taas.action.aggregate`

Replace all the topics:
[code]

With one universal topic `taas.action.aggregate`.

At the moment in the current topics we pass the whole object inside `payload`. In the new topic `taas.action.aggregate` we

[2021-06-12 09:07] eisbilir commented on #288
@maxceem for reading operations, will both `daysPaid` and `paymentTotal` fields be only available to the Booking Managers and m2m with right scope?

[2021-06-12 09:22] maxceem commented on #288
@eisbilir good question.

DaysPaid - anyone
PaymentTotal - only admins booking managers and m2m with correct scope

[2021-06-14 05:42] sandhiyakavi commented on #332
@maxceem GET /resourceBookings?workPeriods.paymentStatus=status1,status2,status3 will work only with field param right?

1. GET /work-periods?paymentStatus=status1,status2,status3 - Able to get WP according to the paymentStatus provided
![image](https://user-images.githubusercontent.com/55895538/121844118-6c065780-cd1e-11eb-92a9-1771affe7689.png)

2. `{{URL}}/resourceBookings?sortBy=workPeriods.pa

[2021-06-14 06:44] maxceem commented on #332
@sandhiyakavi

right, we have to pass `fields` to be able to filter by `workPeriods.paymentStatus`

I'm not sure if the case 2 worked good for or is there any issue?

[2021-06-14 07:04] sandhiyakavi commented on #332
@maxceem Yes Search ResourceBookings with field param (case 2) worked good

[2021-06-14 10:46] maxceem commented on #332
Paid via https://www.topcoder.com/challenges/31504b6d-597c-4a3d-9799-7468f4249dd7

[2021-06-14 10:47] maxceem commented on #329
Paid via https://www.topcoder.com/challenges/4461f1d8-9602-453a-b829-aef0d07d4448

[2021-06-14 11:04] sandhiyakavi commented on #213
@maxceem @nkumar-topcoder I verified the Payment scheduler and below are some of the issues I found,

Steps to Reproduce:
1. Created 7 RB's using api with Date as 2022-12-18 to 2023-02-28
    ProjectId: 17769,
   RB's : dc861c89-6446-44b8-a571-738a03fea4a3, d069a851-f454-4fdd-bf6e-a694b759bda2, 6e5d4c57-ba2e-4ec9-9c44-ac932e327008, 486ed95b-006e-4100-b47a-0e8da6933726, 38e8dd03-b041-48dd-9d00-a1d4

[2021-06-14 11:05] sandhiyakavi commented on #213
@maxceem @nkumar-topcoder Verified the Payment scheduler with another 6 RBs created through rcrm again but here 4 were failed at Step 3: **"Activate challenge**" and two records are still in **"in-progress"** state.

Steps to Reproduce:
1. Created 6 RB's using api with Date as 2021-12-19 to 2022-01-16
    ProjectId: 17769,job id: 0da20d59-c3c4-4930-9abd-fe93b4de0d97
   RB's : fa0a7d82-cb4c-4faa-bc

[2021-06-14 11:16] sandhiyakavi commented on #304
Verified the WP-Batch Endpoints feature.

https://docs.google.com/spreadsheets/d/1pdyOKCmIbHK8mGmKyp3gcQ6Uc28SEulD/edit#gid=361428514

[2021-06-14 11:37] maxceem commented on #337
Paid via https://www.topcoder.com/challenges/883c8a2f-c411-49ca-b3e1-c9bea7c9d37a

[2021-06-15 11:40] sdgun opened #348 "When the skills are added in JD separated by enter key, the matching role is not returned by sendRoleSearchRequest API"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'Input Job Description' box
Enter the below skills
CSS
SCSS
CSS3
HTML5
Github
HTML
Click search

**Current behavior**
All above skills match the skills of the role "React Developer", but it doesn't return the role when enter the skills as above(each in new line)

https://user-images.githubuserco

[2021-06-16 10:34] maxceem commented on #337
This is not possible to test via QA, but verification screenshots were provided in PR https://github.com/topcoder-platform/taas-apis/pull/341.

Closing.

[2021-06-16 10:34] #337 closed

[2021-06-16 10:35] maxceem commented on #332
Closing as this was only issue on DEV, and it would be implicitly tested during Admin App testing.

[2021-06-16 10:35] #332 closed

[2021-06-16 10:36] maxceem commented on #188
This has been implemented as a part of https://github.com/topcoder-platform/taas-apis/issues/288, so closing this one.

[2021-06-16 10:36] #188 closed

[2021-06-16 10:36] maxceem commented on #199
This was implemented as a part of https://github.com/topcoder-platform/taas-apis/issues/288, so closing this one.

[2021-06-16 10:36] #199 closed

[2021-06-16 10:37] maxceem commented on #208
We no longer can update `amount` as per https://github.com/topcoder-platform/taas-apis/issues/288.

[2021-06-16 10:47] maxceem opened #353 "Script to recalculate Work Period automatic values"
Create a script inside `scripts` directory which we can run by `npm run util:recalculate-work-periods` which would recalculate Work Period fields:
- `daysPiad`
- `paymentTotal`
- `paymentStatus`

using the same logic which we use during WP or WPP update.

This script should allow us to specify particular Wokr Period id to recalculate data for like `npm run util:recalculate-work-periods --- <WorkPe

[2021-06-16 10:52] maxceem commented on #329
This was an internal code fix and not possible to test via QA directly.

[2021-06-16 10:52] #329 closed

[2021-06-16 11:02] maxceem opened #354 "[$10] Create payment by query endpoint should return query as it was sent"
When we create payments by query using `POST /work-period-payments/query` endpoint we should get `query` in response the same which we sent in request.

At the moment if we send query like this:
[code]

We get it in response like this:
[code]

The issue is that date format is not the same:
- in Request: "workPeriods.startDate": "2021-06-13",
- in Response: "workPeriods.startDate": "2021-06-13T00:0

[2021-06-16 11:08] maxceem opened #355 "[$160] We should be able to get payments inside Work Periods inside Resource Bookings"
We have endpoint `GET /resourceBookings` which can return us WorkPeriods if we explicitly list them inside `fileds` like `workPeriods` or specific fields like `workPeriods.id`.

At the moment this endpoint doesn't allow us to get `payments` inside WorkPeriods.

There are 3 levels of this tasks.

### Return payments [$20]

- This endpoints should also return `payments` inside Work Periods if we spe

[2021-06-16 13:59] maxceem opened #356 "[$35] When payments failed store full error message from the server"
When scheduler process the payment and it's failed due to some API request error it stores the error message into `WorkPeriodPayment.statusDetails.errorMessage`.

But at the moment it store there there a common name of error like `Bad Reuquest`, but it should store the error message which is returned in the error response: `{ message: }`.

And fallback to common error name like `Bad Reuest` only i

[2021-06-16 14:37] maxceem commented on #342
This was fixed another way using script via this commit https://github.com/topcoder-platform/taas-es-processor/pull/80/commits/815e1d1ca4464aa950b14334fb8651a8c9998c9c

[2021-06-16 14:37] #342 closed

[2021-06-16 17:58] eisbilir commented on #354
@maxceem for the given example; `"workPeriods.paymentStatus"` returns in array format.
Therefore, I'll return `"workPeriods.paymentStatus"` as received (string or array)

[2021-06-17 06:16] SathyaJayabal commented on #331
verified on dev
<img width="1440" alt="Screenshot 2021-06-17 at 11 45 17 AM" src="https://user-images.githubusercontent.com/58783823/122341941-a90e5c00-cf61-11eb-985b-f3fcbc1b4963.png">

[2021-06-17 06:21] SathyaJayabal commented on #334
@sushilshinde , still does not allow empty string
<img width="1440" alt="Screenshot 2021-06-17 at 11 50 36 AM" src="https://user-images.githubusercontent.com/58783823/122342513-58e3c980-cf62-11eb-92d9-64b86abff7b0.png">

[2021-06-17 09:13] eisbilir commented on #355
@maxceem
when filtering by payment fields, which fields would be neded other than `status`?
we have `amount`, `billingAccountId`, `challengeId`, `memberRate`, `customerRate`, `days` as options.

[2021-06-17 09:30] maxceem commented on #355
@eisbilir `days` for sure and `memberRate`, `customerRate` if it's not much code to add, otherwise no need them.

[2021-06-17 09:43] sandhiyakavi commented on #254
Verified on Prod Env.

Able to fetch RB details when searching with ProjectId
![image](https://user-images.githubusercontent.com/55895538/122372298-88fb8e80-cf9b-11eb-8e29-345c79503237.png)

Able to get WP when searching with ResourceBooking Id.
![image](https://user-images.githubusercontent.com/55895538/122372615-c6601c00-cf9b-11eb-9e85-e1c58f1173f0.png)

The WP's are getting displayed correctly

[2021-06-17 09:43] #254 closed

[2021-06-17 09:43] maxceem commented on #254
Challenge d567e429-0e7c-491b-a74c-b34974025c90 has been cancelled<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-17 09:55] sandhiyakavi commented on #269
Verified on Prod Env.

Able to view WP if member of project
![image](https://user-images.githubusercontent.com/55895538/122374393-4f2b8780-cf9d-11eb-90ab-87ab6fed9dc6.png)
![image](https://user-images.githubusercontent.com/55895538/122374462-5c487680-cf9d-11eb-8d58-07967b060245.png)

Not able to view WP if not member of the project.
![image](https://user-images.githubusercontent.com/55895538/12237

[2021-06-17 09:55] #269 closed

[2021-06-17 19:10] eisbilir commented on #355
@maxceem
consider we have 2 RBs:

1. RB:
- 1.WP: `paymentStatus:`**`completed`** 1.payment: `status: completed` 2.payment: `status:`**`cancelled`**`
- 2.WP: `paymentStatus: partially-completed` 1.payment: `status: completed` 2.payment: `status: completed`

2. RB:
- 1.WP: `paymentStatus:`**`completed`** 1.payment: `status: completed` 2.payment: `status: completed`
- 2.WP: `paymentStatus: partially-

[2021-06-17 19:59] maxceem commented on #355
@eisbilir yes, choice 1. All conditions should be met to get returned.

[2021-06-18 03:39] sandhiyakavi commented on #282
Verified on Prod Env.

Able to create Job from Connect/Taas app

[2021-06-18 03:39] #282 closed

[2021-06-18 03:53] sandhiyakavi commented on #331
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/122503863-23a7ac00-d034-11eb-9388-c06f137324f8.png)

[2021-06-18 03:53] #331 closed

[2021-06-18 03:56] sdgun commented on #281
Verified in production.

[2021-06-18 03:56] #281 closed

[2021-06-18 06:14] maxceem commented on #339
This was fixed by the https://github.com/topcoder-platform/taas-es-processor/pull/80

[2021-06-18 06:14] #339 closed

[2021-06-18 06:21] sdgun opened #358 "When the skill is copy pasted into the JD, the skill search is not returning that skill"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'Input Job Description' box
Enter some description but copy paste the skill from a notepad(or anywhere)
Search

**Current behavior**
When the skill is copy pasted into the JD, the skill search is not returning that skill

https://user-images.githubusercontent.com/4592712/122515692-6e70f600-d02b-

[2021-06-18 06:22] maxceem commented on #330
Paid by https://www.topcoder.com/challenges/fcfa8b59-414f-4c23-b87f-29fa775d8f80

[2021-06-18 06:26] maxceem commented on #323
Paid via https://www.topcoder.com/challenges/d7e6b09c-779a-414d-b396-57f5caf4ea31

[2021-06-18 06:27] maxceem commented on #307
Paid via https://www.topcoder.com/challenges/d7e6b09c-779a-414d-b396-57f5caf4ea31

[2021-06-18 06:30] maxceem commented on #181
Paid via https://www.topcoder.com/challenges/c2eae5ff-2624-48da-a0c9-40f1316ca958

[2021-06-18 06:33] maxceem commented on #254
Paid via https://www.topcoder.com/challenges/ff0f7685-81ed-4d81-9d71-a7747ede91fd

[2021-06-18 06:33] maxceem commented on #254
Challenge https://www.topcoder.com/challenges/60e5fd07-7aae-4586-bd3c-7d1d36ce848b has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-18 06:35] maxceem commented on #202
Paid via https://www.topcoder.com/challenges/a370aaab-4341-4f23-a7be-490a171f598e

[2021-06-18 06:57] maxceem commented on #356
Works good:

![image](https://user-images.githubusercontent.com/146016/122519862-9a847b00-d01b-11eb-8a90-ac5c68d86f2b.png)

[2021-06-18 06:59] sdgun opened #360 "Role search by JD is not returning role in some scenarios"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'Input Job Description' box
Enter any valid skill with word test in frond of the skill or after the skill(ex- test github or github test) >> search
Enter unit testing(this original skill is unit-testing) >> search
Enter 'react' 'node' >> search

**Current behavior**
All above searches do not ret

[2021-06-18 07:00] sdgun commented on #302
Verified in Dev with multiple skills and it returned matching roles.

[2021-06-18 07:00] #302 closed

[2021-06-18 07:25] maxceem opened #362 "[$30] Inconsistency in payment step between Scheduler and WorkPeriodPayment table"
When scheduler processes the payment if it fails, then details about the error are stored in the WokrPeriodPayment table:
[code]

The same time the data is stored in the PaymentScheduler table. But in some reason for all the failed steps it stores that failed step is `close-challenge`:
![image](https://user-images.githubusercontent.com/146016/122523103-57c4a200-d01f-11eb-9d65-48b107260e3f.png)

So

[2021-06-18 07:26] maxceem commented on #362
hi @xxcxy would you like to have a look on this issue?

[2021-06-18 08:07] maxceem commented on #355
@eisbilir Found one issue after testing on DEV:

If we filter Resource Bookings only by `startDate=2021-06-13`: `GET /resourceBookings?workPeriods.startDate=2021-06-13&fields=id,jobId,projectId,billingAccountId,startDate,endDate,memberRate,status,workPeriods.id,workPeriods.projectId,workPeriods.userHandle,workPeriods.startDate,workPeriods.endDate,workPeriods.paymentStatus,workPeriods.paymentTotal,

[2021-06-18 19:24] eisbilir commented on #355
@maxceem you are right in your suspicion, only RB with WPPs are returned.

[2021-06-21 04:50] sandhiyakavi commented on #202
Verified below scenarios in dev Env.
1. Error message if user tried to remove Start/End date/both once set.
![image](https://user-images.githubusercontent.com/55895538/122708411-176f5900-d297-11eb-8cf9-18a3007a010e.png)
![image](https://user-images.githubusercontent.com/55895538/122708452-2fdf7380-d297-11eb-98e7-605566debe63.png)

2. Able to remove start/End date if one is already null.

[2021-06-21 07:11] sandhiyakavi commented on #323
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/122721140-455e9880-d2ab-11eb-9335-7fc9379a5ec5.png)

[2021-06-21 07:11] sandhiyakavi commented on #305
Verified on Dev Env. Error msg is displayed now.

![image](https://user-images.githubusercontent.com/55895538/122721199-57d8d200-d2ab-11eb-9b19-cf7b15c0a937.png)

[2021-06-21 07:17] sandhiyakavi commented on #181
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/122721721-f7966000-d2ab-11eb-9aef-b1b789fc14fa.png)
![image](https://user-images.githubusercontent.com/55895538/122722004-36c4b100-d2ac-11eb-9a4b-d6a07a5ec72c.png)

[2021-06-21 07:51] sdgun opened #369 "When doing a role search, different role is returned, rate details are also different"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click Select on the SELECT A ROLE box
Select Role 'QA Engineer' and search(or check with JAVA / SPRING DEVELOPER)
Check the sendRoleSearchRequest API response

**Current behavior**
sendRoleSearchRequest API response returns the name 'Angular Developer' and the rate object has different rates, not the QA engineer's rates.

[2021-06-21 07:58] sdgun opened #370 "sendRoleSearchRequest returns role doesn't exist for some roles"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click Select on the SELECT A ROLE box
Select Role 'support Engineer' and search
Check the sendRoleSearchRequest API response

**Current behavior**
Shows a blank page

sendRoleSearchRequest API response returns message: "id: 8c76a436-3e39-4c09-8c88-6983ebd5bcc1 \"Role\" doesn't exists."

Console error observed:
![image](ht

[2021-06-21 10:09] sandhiyakavi opened #371 "The challenge created by WP payment doesn't have the Winner tab."
Description:
The challenge created by WP payment doesn't have the Winner tab.

WP payment ID: 0903ff15-caf6-4c7f-aff7-9494919b199a
Challenge url: https://www.topcoder-dev.com/challenges/64d38606-0118-4680-b4ab-c7ab7b689c8c

![image](https://user-images.githubusercontent.com/55895538/122745571-1a347300-d2c4-11eb-89e2-18a83cae3579.png)

[2021-06-21 11:09] maxceem commented on #362
Paid via https://www.topcoder.com/challenges/e32317b8-9062-4279-a6c2-60f6e799fe82

[2021-06-21 11:12] maxceem commented on #371
this looks like a Community App issue on DEV
i've checked other completed challenges on DEV in Community App even not created with TaaS and they also don't have Winners tab, see https://www.topcoder-dev.com/challenges/?bucket=allPast
examples:
- https://www.topcoder-dev.com/challenges/70fb8028-41ae-408e-8a10-0a2919703073
- but some have https://www.topcoder-dev.com/challenges/fbbb976b-2e38-4781-8d

[2021-06-21 12:29] lakshmiathreya commented on #371
@sandhiyakavi can you verify if this is still passing? https://github.com/topcoder-platform/community-app/issues/5529

[2021-06-21 12:29] lakshmiathreya commented on #371
@sandhiyakavi can you verify if this is still passing? https://github.com/topcoder-platform/community-app/issues/5529

[2021-06-22 04:02] sdgun opened #372 "Matching rate is not coming in the sendRoleSearchRequest API response"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'Select a role' box
Select a role
Click search
Check the sendRoleSearchRequest API response

**Current behavior**
Matching rate must come from the sendRoleSearchRequest API response.(Reference https://www.topcoder.com/challenges/c3be8352-304c-4a01-87a1-faa1a5bc30e8)

but it is not coming in send

[2021-06-22 04:05] sandhiyakavi commented on #371
@lakshmiathreya still Winner tab is not getting displayed.

![image](https://user-images.githubusercontent.com/55895538/122861438-6e8a3200-d35a-11eb-85de-1ff879f4c3e2.png)

[2021-06-22 04:08] sandhiyakavi commented on #208
Verified on dev Env. We are no longer able to update amount

![image](https://user-images.githubusercontent.com/55895538/122861656-c163e980-d35a-11eb-8140-f590789d78ed.png)

[2021-06-22 04:28] sdgun opened #373 "previousRoleSearchRequestId is not sent in the next sendRoleSearchRequest request"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'INPUT SKILLS' box
Select a skill that doesn't match any skill
Search(see the roleSearchRequestId in the sendRoleSearchRequest  response or in application cache)
Click Modify search criteria button
Click select button in the 'SELECT A ROLE' box
Select a role and click search
Check the sendRoleSe

[2021-06-22 07:11] sandhiyakavi commented on #216
Verified on Dev Env.

1. Getting below error message if WP payment status is 'scheduled', 'in-progress' or 'completed'
![image](https://user-images.githubusercontent.com/55895538/122877166-435f0d00-d371-11eb-87c3-4b80f901d940.png)

2. Able to cancel RB for other WP payment status

[2021-06-22 07:32] sdgun commented on #303
Cannot verify until https://github.com/topcoder-platform/taas-app/issues/342 is fixed.

[2021-06-22 07:32] sdgun commented on #293
Cannot verify until https://github.com/topcoder-platform/taas-app/issues/342 is fixed.

[2021-06-22 08:00] sandhiyakavi commented on #330
@maxceem Verified daysWorked calculation and found 2 discrepancies below,
RB id: c202708a-7c58-423b-b595-b53ac3725d39 (06/02/2021-06/16/2021) has 3 WP's,
1. id: 5b9f3afd-20f9-450b-a39b-4d64043197f0, daysWorked=3
2. id: bd726bd4-fe8b-4271-86d1-8ff876b5a7be, daysWorked=5
3. id: 62c7c968-8974-4b5a-b2b0-c4e047f5889f, daysWorked=3

Set daysWorked=3 for middle WP
![image](https://user-images.githubuserc

[2021-06-22 08:41] maxceem commented on #330
@sandhiyakavi regarding these failed cases it looks like I misled you when I clarify this behavior for you in Slack.

The expected behavior is to only update `daysWorked` in such case if the current value is not possible:

![image](https://user-images.githubusercontent.com/146016/122893076-a7bca500-d34e-11eb-9c9d-d8aad584022f.png)

Sorry for the confusion.

[2021-06-22 10:39] maxceem commented on #355
Paid via https://www.topcoder.com/challenges/67f111e8-3abc-4db8-bc3b-50abe9e2ad6c

[2021-06-22 10:45] maxceem commented on #288
Paid via https://www.topcoder.com/challenges/f5607a5b-1a5f-456d-a740-6c45d480916d

[2021-06-22 12:11] sandhiyakavi commented on #288
Verified on Dev Env with test cases in https://docs.google.com/spreadsheets/d/1pdyOKCmIbHK8mGmKyp3gcQ6Uc28SEulD/edit#gid=1136068292

Working as expected.

[2021-06-22 20:13] maxceem commented on #354
Paid via https://www.topcoder.com/challenges/40ff0635-6d0d-445e-819f-156d62a11dff

[2021-06-22 20:14] maxceem commented on #340
Paid via https://www.topcoder.com/challenges/75502465-4210-494b-8e0b-fd1860f435f7

[2021-06-22 20:16] maxceem commented on #356
Paid via https://www.topcoder.com/challenges/dca3caf5-6e0f-4053-92a7-f53e89d717c5

[2021-06-23 08:51] sandhiyakavi commented on #213
@maxceem @nkumar-topcoder While trying for multiple payment, I observed the below issues

samples: https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2023-06-11&by=start_date&order=asc&perPage=10&page=1
https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2023-06-04&by=start_date&order=asc&perPage=10&page=1

1. If we remove the BA of the project and try to schedule

[2021-06-23 08:53] sdgun commented on #303
Verified in Dev, this issue is fixed.

[2021-06-23 08:53] #303 closed

[2021-06-23 08:57] sdgun opened #375 "When an image link is inserted into JD, the skill search is not returning the relevant role"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'INPUT JOB DESCRIPTION' box
Enter a description including some skills that match existing roles
Insert an image link
Click Search

**Current behavior**
When an image link is inserted into JD, the skill search is not returning the relevant role

https://user-images.githubusercontent.com/4592712/1

[2021-06-23 09:07] sdgun commented on #293
This issue still exists in Dev. Both skills list and keyword are case sensitive

https://user-images.githubusercontent.com/4592712/123069364-597fd280-d430-11eb-8d51-91a41c59b78c.mp4

[2021-06-23 10:02] sandhiyakavi commented on #354
Verified on Dev env.

![image](https://user-images.githubusercontent.com/55895538/123077827-5ea34880-d455-11eb-9b8e-c325af5dea7c.png)
![image](https://user-images.githubusercontent.com/55895538/123077963-7aa6ea00-d455-11eb-87c2-7f9ea1d21c39.png)

[2021-06-23 10:43] sandhiyakavi opened #378 "Able to aasign Non existent candidates to the Taas Jobs."

[2021-06-23 11:23] sdgun opened #381 "All the rates are not displayed to the internal users"
**Steps**
Go to https://platform.topcoder-dev.com/taas/myteams/createnewteam
Click select button in the 'select a role' box
Select a role >> search
Check the rates tab

**Current behavior**
Even though the API response returns all rates, the rate tab doesn't show them.
Also the external user is true in the Search API response, but this user is an internal user who is in wipro-all group

[2021-06-23 13:02] maxceem commented on #213
@sandhiyakavi we've applied some fix. Could you please try again?

[2021-06-23 13:03] maxceem commented on #378
we use different API internally, also we have v3 user and v5 u-bahn users
usually, we use v5 u-bahn users in TaaS
for payments we use v3 users
it could happen that there is some inconsistency

[2021-06-23 18:36] eisbilir commented on #381
@sdgun Could you please share the handle of the user you tested with?

[2021-06-23 22:33] eisbilir commented on #369
@nikolay83
there is an inconsistency between ES and DB for the QA Engineer role

![Postman 2021-06-24 00 32 56](https://user-images.githubusercontent.com/72204071/123174134-51538180-d488-11eb-9a39-7f8e7899b6ad.png)
![Postman 2021-06-24 00 33 46](https://user-images.githubusercontent.com/72204071/123174135-5284ae80-d488-11eb-8805-89e0c115fa41.png)

I suspect this update made by raw sql query withou

[2021-06-23 22:39] eisbilir commented on #370
@nikolay83
Role table in the UI gets the roles from ES and when we search roles via `taas-teams/sendRoleSearchRequest` it uses DB
Right now, Support Engineer role is only exists in ES. So it causes that blank page after role search request is sent.

![Postman 2021-06-24 00 39 23](https://user-images.githubusercontent.com/72204071/123176681-9679b280-d48c-11eb-8186-005fb0e0e7af.png)
![Postman 2021-0

[2021-06-24 03:05] sdgun commented on #293
@nikolay83 Please note this issue is not fixed yet

https://user-images.githubusercontent.com/4592712/123196191-1c1a5400-d4c7-11eb-993c-61796882534f.mp4

[2021-06-24 03:15] sdgun commented on #358
@nikolay83 This issue is not fixed.

https://user-images.githubusercontent.com/4592712/123197043-90092c00-d4c8-11eb-9bd3-05850c088643.mp4

[2021-06-24 03:32] sdgun commented on #348
Verified, this issue is fixed.

https://user-images.githubusercontent.com/4592712/123198501-d8294e00-d4ca-11eb-8702-db08dec2dc7e.mp4

[2021-06-24 03:32] #348 closed

[2021-06-24 04:42] #381 closed

[2021-06-24 04:58] sdgun commented on #381
Verified with Tonyj and dan_developer user in Dev, this issue is fixed.

![image](https://user-images.githubusercontent.com/4592712/123205103-eb421b00-d4d6-11eb-829e-ac74d3326273.png)

[2021-06-24 05:02] sdgun commented on #375
Verified in Dev, this issue is fixed.

[2021-06-24 05:02] #375 closed

[2021-06-24 07:12] sandhiyakavi commented on #213
Verified. Now the WP payment status is not getting stuck at 'in-progress'

sample: https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2023-07-02&by=user_handle&order=asc&perPage=10&page=1

[2021-06-24 08:53] SathyaJayabal commented on #334
verified on prod

[2021-06-24 08:53] #334 closed

[2021-06-24 08:57] #314 closed

[2021-06-24 08:57] SathyaJayabal commented on #259
All changes verified on prod

[2021-06-24 08:57] #259 closed

[2021-06-24 08:57] SathyaJayabal commented on #283
verified on prod

[2021-06-24 08:57] #283 closed

[2021-06-24 08:58] SathyaJayabal commented on #316
verified on prod

[2021-06-24 08:58] #316 closed

[2021-06-24 08:58] maxceem commented on #316
Challenge https://www.topcoder.com/challenges/e2078fee-4f6a-4f4d-8d71-7de5a30a4c6c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-24 08:58] maxceem commented on #316
Challenge https://www.topcoder.com/challenges/e2078fee-4f6a-4f4d-8d71-7de5a30a4c6c has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-24 08:58] maxceem commented on #316
Payment task has been updated: https://www.topcoder.com/challenges/e2078fee-4f6a-4f4d-8d71-7de5a30a4c6c
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `e2078fee-4f6a-4f4d-8d71-7de5a30a4c6c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-24 08:58] SathyaJayabal commented on #262
verified on prod

[2021-06-24 08:58] #262 closed

[2021-06-24 08:59] SathyaJayabal commented on #258
verified on prod

[2021-06-24 08:59] #258 closed

[2021-06-24 09:39] sdgun commented on #381
Verified in production, this issue is fixed.

![Internal](https://user-images.githubusercontent.com/4592712/123240720-2c99f100-d4fe-11eb-99a0-4e7f4538dd44.png)

[2021-06-24 09:43] sdgun commented on #348
Verified in production, this issue is fixed.

https://user-images.githubusercontent.com/4592712/123241307-a6ca7580-d4fe-11eb-94b7-de8e5a011888.mp4

[2021-06-24 09:44] sdgun commented on #375
Verified in production, the issue is fixed.

[2021-06-24 09:45] sdgun commented on #303
Verified in production, this issue is fixed.

https://user-images.githubusercontent.com/4592712/123241786-10e31a80-d4ff-11eb-9681-77931788c081.mp4

[2021-06-24 10:07] maxceem commented on #355
### QA Guidelines

1. `GET https://api.topcoder-dev.com/v5/resourceBookings?fields=id,workPeriods.payments` should return RB (with id) and with `workPeriods[].payments`

   - The same for a single RB endpoint:

   `GET https://api.topcoder-dev.com/v5/resourceBookings/ffd8abd7-1252-4e65-a1dc-ab47a5ff5e36?fields=id,workPeriods.payments`

2. `GET https://api.topcoder-dev.com/v5/resourceBookings?field

[2021-06-25 09:35] sandhiyakavi commented on #355
Verified the above scenarios on Dev Env. Working as expected

[2021-06-25 15:21] sexta13 commented on #373
![image](https://user-images.githubusercontent.com/5584415/123447139-6be54200-d5d1-11eb-8027-5f6da07c3b84.png)

This is one is fixed already

[2021-06-25 15:28] sexta13 commented on #360
now this popup is shown:
![image](https://user-images.githubusercontent.com/5584415/123447953-53295c00-d5d2-11eb-96a4-e3708c3f5693.png)

[2021-06-25 15:51] sexta13 commented on #372
isnt't it the skillsMatch prop?

[2021-06-28 03:33] urwithat commented on #370
The mentioned role exists in ES and not in DB.
I’ve synched the roles now on the dev environment, why did the data get out of sync on ES vs DB!
Note: While investigating I found 9 active roles in DB vs 6 in ES, was this due to Bus Api being down? Needs to be investigated.

[2021-06-28 03:33] urwithat commented on #369
The mentioned role exists in ES and not in DB.
I’ve synched the roles now on the dev environment, why did the data get out of sync on ES vs DB!
Note: While investigating I found 9 active roles in DB vs 6 in ES, was this due to Bus Api being down? Needs to be investigated.

[2021-06-28 04:59] sdgun commented on #360
@nikolay83 This issue is not fixed, the issue we have here is that job description parser logic is detecting look-alikes/mistypes and when we enter 'test' keyword in the JD it identifies it as 'Rest'. So let's say the JD has github and the Test keyword, then it identifies github and Rest as the skills mentioned in JD, but since we don't have these 2 skills in any of our roles, there is no matching

[2021-06-28 05:05] #372 closed

[2021-06-28 05:13] sdgun commented on #373
Verified in Dev, previousRoleSearchRequestId is sent in the next sendRoleSearchRequest request.

![image](https://user-images.githubusercontent.com/4592712/123583655-9fa4af80-d7fd-11eb-8af4-faaf594c86a9.png)

[2021-06-28 05:13] #373 closed

[2021-06-28 11:27] eisbilir commented on #293
@nikolay83 @sdgun
This was failing because no re-indexing was done after fix.
According to https://github.com/topcoder-platform/taas-apis/issues/370#issuecomment-869324337 , re-indexing is now done.
So both skills list and keyword should be case insensitive now.

[2021-06-29 05:44] sdgun commented on #293
Verified in Dev, this issue is fixed now.

[2021-06-29 05:44] #293 closed

[2021-06-29 05:53] sdgun commented on #358
Verified in Dev, this issue is fixed.

[2021-06-29 07:10] sdgun commented on #369
@nikolay83 From UI I don't see these issues now. But I am not closing this issue since the root cause is still being investigated.

[2021-06-30 05:40] sdgun opened #389 "Internal server error from sendRoleSearchRequest API when doing a search from JD"
**Steps**
Go to https://platform.topcoder-dev.com/taas/createnewteam
Click Select on the Input Job Description box
Enter some text which is around 255 chars(Ex- Java Developer
Firstly, are we talking about Java developers or Java engineers? Engineers vs devs is a common debate in the IT world. As a swiftly changing field, many IT experts say titles don’t matter – the job description and responsibi

[2021-06-30 09:08] sandhiyakavi commented on #317
Verified on Prod Env with @nkumar-topcoder . Amount is getting calculated correctly.

[2021-06-30 09:09] #317 closed

[2021-06-30 09:10] sandhiyakavi commented on #313
Verified on Prod Env with @nkumar-topcoder . count is displaying correctly

[2021-06-30 09:10] #313 closed

[2021-06-30 09:12] sandhiyakavi commented on #307
Verified on Prod Env with @nkumar-topcoder . WP Payment not getting created if member rate is not there

[2021-06-30 09:12] #307 closed

[2021-06-30 09:15] sandhiyakavi commented on #304
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:15] #304 closed

[2021-06-30 09:17] sandhiyakavi commented on #277
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:17] #277 closed

[2021-06-30 09:19] sandhiyakavi commented on #270
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:19] #270 closed

[2021-06-30 09:27] sandhiyakavi commented on #212
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:27] #212 closed

[2021-06-30 09:28] sandhiyakavi commented on #323
Verified on Prod Env with @nkumar-topcoder . If 'no-days' then WP payment not getting created

[2021-06-30 09:28] #323 closed

[2021-06-30 09:29] sandhiyakavi commented on #330
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:29] #330 closed

[2021-06-30 09:30] sandhiyakavi commented on #181
Verified on Prod Env with @nkumar-topcoder . daysWorked cannot be set more than it can fit the RB dates

[2021-06-30 09:30] #181 closed

[2021-06-30 09:32] sandhiyakavi commented on #208
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:32] #208 closed

[2021-06-30 09:34] sandhiyakavi commented on #213
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:34] #213 closed

[2021-06-30 09:34] sandhiyakavi commented on #305
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:34] #305 closed

[2021-06-30 09:35] sandhiyakavi commented on #288
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:35] #288 closed

[2021-06-30 09:36] sandhiyakavi commented on #216
Verified on Prod Env with @nkumar-topcoder .

[2021-06-30 09:36] #216 closed

[2021-06-30 18:22] nikolay83 commented on #360
@sdgun
I guess we can close it, as there will always be some edge cases. The parsing algorithm we've implemented a quite simplistic and does not aim to have 100% accuracy.
There is also a chance we will be using EMSI 3rd party soon.
cc: @urwithat

[2021-07-01 03:59] #360 closed

[2021-07-01 12:58] maxceem opened #390 "[$35] Proxy endpoint for V3 Member Service Suggestions"
In the TaaS Admin App we are have autocomplete functionality to show suggested members which we get from V3 Member Service. But unfortunately, Member Service doesn't allow to get suggestions to the Booking Manager users, see [the issue in Admin App](https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/51#issue-929915950).

But Booking Manager is the main role in the TaaS ecos

[2021-07-05 04:30] sdgun commented on #389
Verified in Dev, this issue is fixed.

[2021-07-05 05:28] sandhiyakavi commented on #321
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:28] #321 closed

[2021-07-05 05:29] sandhiyakavi commented on #296
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:29] #296 closed

[2021-07-05 05:30] sandhiyakavi commented on #260
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:30] #260 closed

[2021-07-05 05:31] sandhiyakavi commented on #202
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:31] #202 closed

[2021-07-07 06:40] maxceem commented on #390
Paid via https://www.topcoder.com/challenges/bb29cc34-edba-4b3d-a77f-510e49e9ecde

[2021-07-07 07:42] sdgun commented on #389
Verified in production.

https://user-images.githubusercontent.com/4592712/124719671-04aa8480-df25-11eb-9c9a-2a41f20256e6.mp4

[2021-07-07 07:42] #389 closed

[2021-07-07 07:44] sdgun commented on #358
Verified in production.

[2021-07-07 07:44] #358 closed

[2021-07-07 08:41] #340 closed

[2021-07-07 08:41] #356 closed

[2021-07-07 08:42] #362 closed

[2021-07-14 11:34] maxceem opened #395 "Survey post successful week payment"
## Context

### Project Context

TaaS (Talent as a Service) is Topcoder project which let customers to hire top freelancers for gigs and directly manage the talents.

### Challenge Context

In TaaS we have members (ResourceBookings) who are assigned to the customer's Jobs for some period of time. This time is divided into weeks (WorkPeriods) and payments to the ResourceBookings (members) is proces

[2021-07-14 14:24] maxceem commented on #395
### Pseudo code of how sending survey could work

[code]

[2021-07-15 08:12] sandhiyakavi commented on #354
Verified on Prod with @nkumar-topcoder

[2021-07-15 08:12] #354 closed

[2021-07-15 15:11] LieutenantRoger opened #399 "Make jobCandidates search API to support searching by multiple status"

[2021-07-16 08:40] sdgun opened #402 "Internal server error from sendRoleSearchRequest API for some JDs"
**Steps**
Enter below JD in the JD
Click search
Click continue

Description:
[JD.txt](https://github.com/topcoder-platform/taas-apis/files/6829164/JD.txt)

Throws an internal error

![image](https://user-images.githubusercontent.com/4592712/125919057-1d0d2073-03a6-4493-be8e-6bfa24878479.png)

[2021-07-16 08:41] sandhiyakavi commented on #355
Issue verified in Prod through FE

[2021-07-16 08:41] #355 closed

[2021-07-17 00:25] #399 closed

[2021-07-19 06:04] SathyaJayabal opened #404 "Add support to the GET jobCandidates endpoint to allow params in the body to filter by multiple statuses"
Add support to allow a param in the body with below format to search the corresponding job candidates with corresponding status.

Example request body
[code]
There should be no change to the response structure.

[2021-07-19 06:07] SathyaJayabal opened #405 "Add support to the GET resourceBooking endpoint to allow params in the body to filter by multiple jobIds"
Add support to allow a param in the body with below format to search the corresponding resource booking with multiple jobIds.
Example request body
[code]
There should be no change to the response structure.

[2021-07-19 06:31] #370 closed

[2021-07-19 08:52] SathyaJayabal commented on #405
verified on dev

[2021-07-19 09:14] SathyaJayabal commented on #404
verified on dev

[2021-07-19 13:10] maxceem opened #409 "Add new filter to the GET Resource Bookings endpoint"
We would like to be able to filter by `Alerts` column in the TaaS Admin App, see issue https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/72:

![image](https://user-images.githubusercontent.com/146016/126164090-a82660e1-2c26-442c-b6a9-1df2722fed8c.png)

To be able to do so, we have to update endpoint `GET /resourceBookings` to filter data by 3 criteria:
1. return RB which d

[2021-07-19 13:50] maxceem opened #410 "[$40] Don't allow processing payments for the future WorkPeriods"
At the moment we process a payment for any WorkPeriod no matter if it's already past or no. We should NOT allow processing/creating payments for the future WorkPeriods.

This should be don't for all 3 ways of creating payments:
- Single payment `POST /work-period-payments` - one object in body request
- Batch payment `POST /work-period-payments` - array of objects in body request
- Query payment `

[2021-07-19 15:22] yoution commented on #402
@sdgun @nikolay83 , sorry, I can not reproduce it
![image](https://user-images.githubusercontent.com/3863914/126184819-53b31dc1-6b3b-4f10-ba99-4969a1fdea35.png)

[2021-07-19 15:24] sdgun commented on #402
@yoution Please note, this happens when you click that continue button.

[2021-07-19 16:20] yoution commented on #402
@sdgun because the description text are too long, so BE shows error

[2021-07-19 21:36] eisbilir commented on #409
#411
topcoder-platform/taas-es-processor#85

[2021-07-20 12:27] SathyaJayabal opened #412 "Auto Withdraw Feature"
if member is placed in a gig with more than 20hr/week, all open applications will be automatically updated to withdrawn status.

Add new  JC statuses `withdrawn` and `withdrawn-prescreen`

Implement following automation logic:
Trigger: When a user is placed in a job and the hours per week for the job > 20
Action:
 Search for all JC records for the user id
 update JC with statuses `applied`, `skill

[2021-07-20 15:37] nikolay83 commented on #402
@yoution A validation error message be displayed in this case and won't allow the user to proceed?
Could you please add it?

[2021-07-20 16:53] maxceem commented on #409
Paid via https://www.topcoder.com/challenges/2e158479-6e38-4fd8-b731-336cb677cceb

[2021-07-20 16:59] maxceem commented on #410
@eisbilir we've got an update for this task. We should also allow processing payments for the current week. So we only don't allow processing payment for the future weeks.

[2021-07-20 17:11] eisbilir commented on #410
@maxceem Do we still apply UTC+12 to determine current week?

[2021-07-20 19:46] maxceem commented on #410
yes, @eisbilir.

to make sure that user any timezone can process payments for the current week.

[2021-07-20 22:44] nikolay83 commented on #402
@sdgun @yoution
but is the description longer than 100K char? Why?

[2021-07-21 01:56] yoution commented on #402
@nikolay83 I find the issue
https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L795
https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L983
I will fix it

[2021-07-21 04:07] sdgun commented on #402
@nikolay83 It's only 1999 chars

[2021-07-21 04:55] sdgun opened #415 "Roles created from taas-roles are not retrieved by get role API when the request has niche rates"
Steps
Create a new role by calling  [post] taas-roles API
Call [get]  taas-roles API with the ID of new role

Responds with role is not found message

https://user-images.githubusercontent.com/4592712/126433006-aa2593ed-dbbb-4570-a499-76633a63315b.mp4

[2021-07-21 05:09] sdgun opened #416 "Update taas-roles API doesn't support niche rates"
When calling Update taas-roles API with niche rates, it throws an error

![image](https://user-images.githubusercontent.com/4592712/126434124-69b7106d-bebe-4886-bdf8-c3285c90e0e4.png)

[2021-07-21 06:25] sdgun commented on #415
Verified in Dev, issue is fixed.

[2021-07-21 06:56] maxceem commented on #410
Challenge https://www.topcoder.com/challenges/5dcae49b-7003-4bcd-99bb-617c42d0a4bc has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 06:56] maxceem commented on #410
Challenge https://www.topcoder.com/challenges/5dcae49b-7003-4bcd-99bb-617c42d0a4bc has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 07:32] sdgun commented on #402
Verified in dev, not fixed

[2021-07-21 08:29] yoution commented on #402
@nikolay83 @sdgun please check my video
I found this issue happend, bacase the skills api is not stable,
https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L776
https://monosnap.com/file/lU9rH40uJ15XbHJqDPILJwWgyaPUeH

[2021-07-21 08:37] sdgun commented on #416
Verified in Dev.

[2021-07-21 10:02] SathyaJayabal commented on #412
@LieutenantRoger, New statuses `withdrawn` and `withdrawn-prescreen` verified.
<img width="843" alt="Screenshot 2021-07-21 at 3 31 07 PM" src="https://user-images.githubusercontent.com/58783823/126471364-5075bf8c-fc2b-46f8-ab66-44afe4e3a420.png">

<img width="1039" alt="Screenshot 2021-07-21 at 3 30 53 PM" src="https://user-images.githubusercontent.com/58783823/126471357-8ceda81f-fdf1-4bbf-935f-cc

[2021-07-21 13:31] maxceem opened #420 "[$40] Error in ES-Processor during local setup"
During local testing I've noticed that there is an error happens in ES Processor which doesn't happen on DEV or PROD.

When I create a new Resource Booking the corresponding Work Periods are created automatically. It could happen that Kafka Event about created Work Period comes earlier than event about create Resource Booking. In such cases we retry creating Work Period in ES after some time as pe

[2021-07-21 14:12] maxceem commented on #410
Challenge https://www.topcoder.com/challenges/4790ba42-647e-48f0-85d5-4e190cd797d8 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:12] maxceem commented on #410
Challenge https://www.topcoder.com/challenges/4790ba42-647e-48f0-85d5-4e190cd797d8 has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:14] maxceem commented on #410
Challenge https://www.topcoder.com/challenges/4790ba42-647e-48f0-85d5-4e190cd797d8 eisbilir has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:22] maxceem opened #421 "Show `On Boarding Week` in Alert column"

[2021-07-21 14:23] #421 closed

[2021-07-21 15:50] eisbilir commented on #420
Recreation of containers is not needed after this fix, just run `npm run services:up`

[2021-07-21 19:28] nikolay83 commented on #402
@yoution
By "skills api is not stable" do you mean it's a bug in TeamService code and is it an issue with an instance it is run at?

[2021-07-22 02:42] yoution commented on #402
@nikolay83 `https://api.topcoder-dev.com/v5/skills` this api is not stable

[2021-07-22 05:54] sandhiyakavi commented on #410
Verified in Dev Env. Working as expected.

Single payment:
![image](https://user-images.githubusercontent.com/55895538/126593411-b847d7b3-d2ae-404c-8e51-5186ed28529e.png)
![image](https://user-images.githubusercontent.com/55895538/126593969-6be48cc5-34d5-423c-989f-16290df1fc24.png)

Multiple payment:
![image](https://user-images.githubusercontent.com/55895538/126594367-25e8b06c-e53d-4373-818b-d0b0

[2021-07-22 07:02] maxceem commented on #410
Challenge https://www.topcoder.com/challenges/4790ba42-647e-48f0-85d5-4e190cd797d8 has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-22 07:02] maxceem commented on #410
Payment task has been updated: https://www.topcoder.com/challenges/4790ba42-647e-48f0-85d5-4e190cd797d8
*Payments Complete*
Winner: eisbilir
Copilot: maxceem
Challenge `4790ba42-647e-48f0-85d5-4e190cd797d8` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-22 07:47] nikolay83 commented on #402
@urwithat @maxceem could you please advise?

[2021-07-22 08:02] maxceem commented on #402
@nikolay83 from the video https://monosnap.com/file/lU9rH40uJ15XbHJqDPILJwWgyaPUeH it's not clear what causes this issue, so it's hard to say.

[2021-07-22 08:17] sandhiyakavi commented on #409
Verified in Dev Env  through FE https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/72

[2021-07-22 08:46] SathyaJayabal commented on #412
verified on dev
https://docs.google.com/spreadsheets/d/1qvpHH3ZWEhOwS1ma1-YA_weCtE7gW6Oz/edit#gid=850824118

[2021-07-22 08:53] maxceem commented on #420
Hi @eisbilir

so far I've merged you PR and it works, but I'm still thinking on how to avoid creating the second config file.

There is a couple of ideas.

1.
We can supply .env file to the docker-compose like this `"services:up": "docker-compose -f ./local/docker-compose.yml --env-file .env up -d"`  see documentation https://docs.docker.com/compose/environment-variables/#the-env-file.

It looks l

[2021-07-22 09:23] eisbilir commented on #420
Good solutions, let me try both

[2021-07-22 11:21] urwithat commented on #402
@yoution - the issue i see in `taas-api` logs is related to character length:
`TeamService roleSearchRequest ERROR : value too long for type character varying(2000)`

Can you share your postman curl, i could try to replicate.

@nikolay83 - We need to handle validation of character length in the api., should not return back `Internal server error`

[2021-07-22 11:28] urwithat commented on #402
Here is the curl that returns `internal servcer error`:

curl --location --request POST 'https://api.topcoder-dev.com/v5/taas-teams/sendRoleSearchRequest' \
--header 'Authorization: Bearer tokenHere' \
--header 'Content-Type: application/json' \
--data-raw '{
    "jobDescription": "Data Science Data Visualization Big data Database Nulla maximus placerat turpis ut cursus. Pellentesque aliquet variu

[2021-07-22 12:31] yoution commented on #402
@urwithat  In terms of phenomenon，if you remove some characters it works, but BE has no characters length restriction.
I can not reproduce the issue locally again, https://monosnap.com/file/l219bh8isJ7JrpLCshCebTZayfuhlW
I think the skill api issue about stability has been fixed.
if you input more characters, will match more skills, and then search skills in the `role` model
https://github.com/top

[2021-07-22 14:58] eisbilir commented on #420
@maxceem
#425 followed solution 1.

[2021-07-22 15:08] eisbilir commented on #402
@urwithat Can I make a comment if you don't mind. It's clearly related to character length. I suspect following migration script has not run yet:
https://github.com/topcoder-platform/taas-apis/blob/dev/migrations/2021-07-15-role-search-request-make-job-description-length-100K.js

[2021-07-23 05:58] urwithat commented on #402
@eisbilir, @nikolay83 - Thank you for identifying missing migration script execution on dev, have executed the migration script now.
@sdgun can you please verify on dev

[2021-07-23 06:35] sdgun commented on #402
Verified in Dev with the max chars 100k, this issue is fixed.

[JD.txt](https://github.com/topcoder-platform/taas-apis/files/6866912/JD.1.txt)

[2021-07-23 09:58] sandhiyakavi opened #426 "Challenge deadlines displayed as Invalid date for the payment challenges created"
Description:

Payment challenge created has 'Invalid date' displayed under the challenge deadlines.

sample: https://www.topcoder-dev.com/challenges/327eb39d-0a8a-4563-a24b-d97a024f06be
https://www.topcoder-dev.com/challenges/85cf9523-331f-4e95-b246-2a09c6e47a95

![image](https://user-images.githubusercontent.com/55895538/126766423-ea75ccf3-9be6-4efb-96a5-32fb55d7039d.png)

[2021-07-23 11:34] maxceem commented on #420
Challenge https://www.topcoder.com/challenges/a769e0af-9944-4e8d-ba6f-4ed7c26e00db has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-23 11:34] maxceem commented on #420
Challenge https://www.topcoder.com/challenges/a769e0af-9944-4e8d-ba6f-4ed7c26e00db has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-23 11:36] maxceem commented on #420
This issue only to improves the local setup process. It cannot be QAed, so I'm closing it.

[2021-07-23 11:36] #420 closed

[2021-07-23 11:36] maxceem commented on #420
Payment task has been updated: https://www.topcoder.com/challenges/a769e0af-9944-4e8d-ba6f-4ed7c26e00db
*Payments Complete*
Winner: eisbilir
Copilot: maxceem
Challenge `a769e0af-9944-4e8d-ba6f-4ed7c26e00db` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-26 07:51] SathyaJayabal commented on #405
verified on prod. This is used by the earn app api, to get completed jobs
<img width="1440" alt="Screenshot 2021-07-26 at 1 05 06 PM" src="https://user-images.githubusercontent.com/58783823/126952781-ff1119ed-31cb-4c64-b79b-e7bd6321b4f0.png">

[2021-07-26 07:51] #405 closed

[2021-07-26 07:52] SathyaJayabal commented on #404
verified on prod. This is used by the earn app to get job candidates with multiple statuses
<img width="1440" alt="Screenshot 2021-07-26 at 1 05 06 PM" src="https://user-images.githubusercontent.com/58783823/126953020-626af506-1181-4a0b-b1c3-df656cefcf86.png">

[2021-07-26 07:52] #404 closed

[2021-07-26 08:28] sdgun commented on #402
Verified in production, this issue is fixed.

[2021-07-26 08:28] #402 closed

[2021-07-26 08:29] sdgun commented on #416
Verified in production.

[2021-07-26 08:29] #416 closed

[2021-07-26 08:29] sdgun commented on #415
Verified in production.

[2021-07-26 08:29] #415 closed

[2021-07-26 11:49] SathyaJayabal commented on #412
verified on prod.

![Topcoder Micro Frame 2021-07-26 17-00-38](https://user-images.githubusercontent.com/58783823/126984075-6a394142-5a37-4889-8c3c-73af5e837966.png)

[2021-07-26 11:49] #412 closed

[2021-07-27 12:59] maxceem opened #428 "[$40] Allow up to 10 "Working Days""
This issue is to support a new requirement of the frontend https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/79.

### Task

Allow creating/updating `WorkPeriod.daysWorked` to the maximum value of `10` instead of `5` by all the endpoints.

### General Requirements

Please, follow general requirements which are applicable for this task https://github.com/topcoder-platform/ta

[2021-07-27 17:01] maxceem opened #429 "[$100] Fix script to import job from RCRM"
Some time ago we've implemented a script to import data from RCRM to TaaS API https://github.com/topcoder-platform/taas-apis/tree/dev/scripts/recruit-crm-job-import via this task https://github.com/topcoder-platform/taas-apis/issues/101.

Since that we've done various updates to the Job and ResourceBookings models.

We have to update the script to it can work with updated models correctly.

At the

[2021-07-27 17:07] maxceem commented on #429
@eisbilir @xxcxy @cagdas001 this is open to pick up.

It's quite urgent, please, only pick it up only if you can complete it during 12 hours. Please, comment here so everyone else knows that you are working on this task.

Thanks.

[2021-07-27 17:56] maxceem opened #430 "[$30] Additional Payments"
### Background

We need to support this frontend feature via API https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/82

At the moment we can only process payments to the resource bookings for some amount of days worked via UI https://monosnap.com/file/HOmkcBnEVYmz3j0n32CcQ25TFQmQT5.

Sometimes managers would like to process additional payments which would not be counted for

[2021-07-27 19:41] maxceem opened #431 "[$100] Edit payments fields"
### Background

At the moment we do not allow editing work period payments (only `status`). But to fulfill the need of this frontend task https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/80 we should support editing `amount` and `days`.

### Task

#### Update payment endpoint

- `PATCH /work-period-payments` endpoints should allow updating the next fields if the `status`

[2021-07-27 19:56] maxceem commented on #429
@eisbilir @xxcxy @cagdas001 there are also other issues which could be picked up https://github.com/topcoder-platform/taas-apis/issues?q=is%3Aopen+is%3Aissue+label%3ACF+milestone%3A%22UAT+Feedback+for+TaaS+Admin+App%22

[2021-07-28 08:37] maxceem commented on #429
Challenge https://www.topcoder.com/challenges/14d1c446-351a-40c4-9dbb-3a71c75ee390 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 08:37] maxceem commented on #429
Challenge https://www.topcoder.com/challenges/14d1c446-351a-40c4-9dbb-3a71c75ee390 has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 11:11] maxceem commented on #429
There appeared to be issue with updating ES during running this script:

Ideally, we have to update ES processor to use retry logic for job-update and resourceBooking-update, like we did for workPeirod-create. But to speed up the things we would go with workarounds:

1. if we create a Job with numPostition == 1 we would create it directly with assgigned status, so the event doesn't trigger update

[2021-07-28 11:24] yoution commented on #431
@maxceem  please assign to me

[2021-07-28 11:27] maxceem commented on #431
Challenge https://www.topcoder.com/challenges/d90c1f7c-aab0-469b-af98-eb23e23fe3e8 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 11:27] maxceem commented on #431
Challenge https://www.topcoder.com/challenges/d90c1f7c-aab0-469b-af98-eb23e23fe3e8 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 11:49] maxceem commented on #430
Challenge https://www.topcoder.com/challenges/d96427ea-8e45-4ce7-8867-abc6894fae3c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 11:49] maxceem commented on #430
Challenge https://www.topcoder.com/challenges/d96427ea-8e45-4ce7-8867-abc6894fae3c has been assigned to Narekvar90.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 11:53] eisbilir commented on #429
#432

[2021-07-28 12:05] maxceem commented on #428
Challenge https://www.topcoder.com/challenges/59e7a71c-a4b0-40ef-aa14-3d4a02c6f0fe has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 12:05] maxceem commented on #428
Challenge https://www.topcoder.com/challenges/59e7a71c-a4b0-40ef-aa14-3d4a02c6f0fe has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-28 13:52] maxceem commented on #431
Hey, @yoution we have some addition for this task. Apart from the 2 fields mentioned in this task `amount` and `days` we would like also to be able to update 3 more fields:
- `memberRate` - float, CANNOT be `null`, should be more than `0` if we pass it
- `customerRate`- float, CAN be `null`, should be more than `0` if we pass it
- `billingAccountId` - integer number, CANNOT be `null`
   - when we

[2021-07-28 14:00] maxceem opened #433 "[$80] Update payments in bulk"
### Background

We need to support updating billing account for multiple payments at once to implement this task https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/81

### Task

### Update Create Endpoint

We already have `POST /work-period-payments` endpoint which support creating a single payment or a batch of payments by sending it one object `{}` in the body or list of

[2021-07-28 14:19] eisbilir commented on #428
https://github.com/topcoder-platform/taas-apis/pull/434

[2021-07-28 14:28] narekcat commented on #430
Hi @maxceem .
I have fixed this issue, please see pull request https://github.com/topcoder-platform/taas-apis/pull/435.

[2021-07-29 20:17] maxceem commented on #430
Increasing the payment to $30 as forgot to mention one more requirement https://github.com/topcoder-platform/taas-apis/pull/435#pullrequestreview-717999533

[2021-07-30 08:10] sandhiyakavi commented on #410
Verified on Prod through FE https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/73

[2021-07-30 08:10] #410 closed

[2021-07-30 08:10] sandhiyakavi commented on #409
Verified on Prod through FE https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/72

[2021-07-30 08:10] #409 closed

[2021-07-31 08:21] maxceem commented on #428
@eisbilir thanks a lot for catching these situations I've missed in the task https://github.com/topcoder-platform/taas-apis/pull/434#discussion_r679213816.

I've increased the payment to $40.

[2021-07-31 09:11] maxceem commented on #428
Payment task has been updated: https://www.topcoder.com/challenges/59e7a71c-a4b0-40ef-aa14-3d4a02c6f0fe
*Payments Complete*
Winner: eisbilir
Copilot: maxceem
Challenge `59e7a71c-a4b0-40ef-aa14-3d4a02c6f0fe` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-31 09:11] maxceem commented on #429
Payment task has been updated: https://www.topcoder.com/challenges/14d1c446-351a-40c4-9dbb-3a71c75ee390
*Payments Complete*
Winner: eisbilir
Copilot: maxceem
Challenge `14d1c446-351a-40c4-9dbb-3a71c75ee390` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-31 09:11] maxceem commented on #430
Payment task has been updated: https://www.topcoder.com/challenges/d96427ea-8e45-4ce7-8867-abc6894fae3c
*Payments Complete*
Winner: Narekvar90
Copilot: maxceem
Challenge `d96427ea-8e45-4ce7-8867-abc6894fae3c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-31 09:11] maxceem commented on #431
Payment task has been updated: https://www.topcoder.com/challenges/d90c1f7c-aab0-469b-af98-eb23e23fe3e8
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `d90c1f7c-aab0-469b-af98-eb23e23fe3e8` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-01 14:37] eisbilir commented on #433
@maxceem
PR https://github.com/topcoder-platform/taas-apis/pull/438

[2021-08-02 09:19] maxceem commented on #433
Challenge https://www.topcoder.com/challenges/bae4a823-144e-41b5-8203-c5536904872d has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-02 09:19] maxceem commented on #433
Challenge https://www.topcoder.com/challenges/bae4a823-144e-41b5-8203-c5536904872d has been assigned to eisbilir.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-02 09:19] maxceem commented on #433
Payment task has been updated: https://www.topcoder.com/challenges/bae4a823-144e-41b5-8203-c5536904872d
*Payments Complete*
Winner: eisbilir
Copilot: maxceem
Challenge `bae4a823-144e-41b5-8203-c5536904872d` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-02 09:24] maxceem commented on #390
@sandhiyakavi closing this issue as it has been already tested in Admin App:

![image](https://user-images.githubusercontent.com/146016/127837976-00d55c75-a828-4c16-a8e0-e96f5e3b56d3.png)

[2021-08-02 09:24] #390 closed

[2021-08-02 12:46] nkumar-topcoder opened #442 "Invoice Alert : Notify when all the Booked candidates for the given job is weekly paid."
When weekly payment for all the booked candidates for the given job is made. Notify or alert to invoice team.

**Example :** 4 resources are booked (`placed` status)  for 4 weeks for  position of `java developer`.  Invoice team have to be notified  when all 4 resource weekly payment are made so that they raise a `single` consolidated **invoice** to client rather having **separate invoice** for eac

[2021-08-02 12:58] nkumar-topcoder opened #443 "Display Indicative payment process date and time."
Currently at `taas-admin payment`, we only track when payment was created/scheduled and don't track what time it was processed.
Since payment process is scheduled activity,  the exact process time depends on scheduler Cron set at environment variables.  The **goal** is to capture and display **indicative** process date and time and not exact time.

![image](https://user-images.githubusercontent.co

[2021-08-03 06:57] sdgun opened #444 "A JD search for skill 'User Interface (Ui)' is returning the skill 'UI Prototype'"
**Steps**

1. Go to https://platform.topcoder-dev.com/taas/createnewteam/jd
2. Search for 'User Interface (Ui)'

It's returning the skill 'UI Prototype'

https://user-images.githubusercontent.com/4592712/127971487-054bf909-388f-4bbf-af52-8071a8b746da.mp4

[2021-08-05 05:50] sandhiyakavi commented on #395
@maxceem For all the newly created WP, the 'sentSurvey' field of WP model is getting displayed as true by default ( status 'pending')

Ex: https://platform.topcoder-dev.com/taas/myteams/18160/rb/26616d88-5e53-445d-a7df-35fd595768ff

![image](https://user-images.githubusercontent.com/55895538/128298054-9fba171c-e982-45e0-a1d6-8b4758c6045a.png)

[2021-08-05 10:00] sandhiyakavi commented on #395
Verified on Dev Env.

The Survey is sent to the resource whose "paymentStatus == completed" and "sentSurvey == false" and "sentSurveyError == null" and "ResourceBooking.sendWeeklySurvey == true"

Verified the Test cases in https://docs.google.com/spreadsheets/d/1pdyOKCmIbHK8mGmKyp3gcQ6Uc28SEulD/edit#gid=1938764403

[2021-08-06 11:46] sandhiyakavi commented on #426
It is displaying correctly now.

<img width="959" alt="invalid_error_gone" src="https://user-images.githubusercontent.com/55895538/128505905-bd9ae39a-4aaa-4370-8f52-55cb20a6245a.png">

[2021-08-06 11:46] #426 closed

[2021-08-10 02:41] sandhiyakavi opened #461 "Weekly survey is getting sent repeatedly to the resources"
Description:

Weekly survey is getting sent repeatedly to the resources

[2021-08-10 04:59] sandhiyakavi commented on #461
Verified in dev Env. The Weekly survey is send only once.

[2021-08-10 12:07] maxceem opened #468 "[$10] Env variable to switch off weekly survey"
Add an env variable that would switch off sending weekly surveys for work periods. Similar like we can switch off payments https://github.com/topcoder-platform/taas-apis/blob/hotfix/send-survey-workperiods/config/default.js#L199

[2021-08-10 12:07] maxceem commented on #468
@yoution would you like to pick this up?

[2021-08-10 12:27] yoution commented on #468
@maxceem please assign to me

[2021-08-11 09:59] maxceem opened #474 "API Triggered Notifications"
## Context

### Project Context

TaaS (Talent as a Service) is Topcoder project which let customers to hire top freelancers for gigs and directly manage the talents.

### Challenge Context

The TaaS workflow looks like this:

- customers create **Projects** (**Teams**), [page to create a Project](https://connect.topcoder-dev.com/new-project/talent-as-a-service)
- inside a **Project** (**Team**) cu

[2021-08-11 11:32] maxceem opened #475 "Client view Job Candidate Notification"
### Background

We would like to send a email notification to the Job Candidate when client has viewed they profile.

To indicate that client has viewed Job Candidate profile we would use the event when client has downloaded Job Candidate resume in TaaS App.

![image](https://user-images.githubusercontent.com/146016/129019540-f208a1c2-9b1c-4013-a999-9bb56153774d.png)

The resume URL comes from the

[2021-08-11 12:41] maxceem opened #476 "Update Notification Email Templates"
Update email templates as per screenshots:
- Upcoming Resource Booking Expiration  https://monosnap.com/file/ercM44QjA8rVRkKYFgAQGflLtuOYwB
- Post Interview Candidate Action Reminder https://monosnap.com/file/K0Lj5faVHLTgWMZIHPW6pMP4fweqBs
- Interview Completed https://monosnap.com/file/7ZPFtfu7X7VMg36lvAWW3Q6XxxOgdZ
- Interview Coming Up https://monosnap.com/file/4d1uu3qyc1aBY5SL66mmyWnBiKJLFE
-

[2021-08-11 13:31] maxceem opened #477 "Send in-app (web) notifications"
- **Post Interview Candidate Action Reminder**
  - TO: team members
  - Content: `Candidate action required for <strong>{userHandle}</strong> in job <strong>{Job Title}</strong> of the team <strong>{Team Name}</strong>`
  - LinkTo: `https://platform.topcoder-dev.com/taas/myteams/{projectId}/positions/{jobId}/candidates/interviews`, example https://platform.topcoder-dev.com/taas/myteams/17993/posit

[2021-08-11 15:41] maxceem commented on #477
Inside TaaS App https://platform.topcoder-dev.com/taas/myteams and TaaS Admin App https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2021-08-08&by=user_handle&order=asc&perPage=10&page=1 we have to show TaaS related notifications instead of "community" related notifications which are currently shown.

To do so, we have to implement a few things:
1. Each of the apps TaaS App https:

[2021-08-11 16:55] yoution commented on #475
@maxceem please assign to me

[2021-08-12 02:34] yoution commented on #475
@maxceem `inside data we have to pass: Job Name, Job Candidate user handle.`
how can we get the `job name` ? we only have `candidate Id` currently

[2021-08-12 09:27] sandhiyakavi commented on #428
Verified in dev Env through FE topcoder-platform/micro-frontends-taas-admin-app#79.

[2021-08-12 12:03] sandhiyakavi commented on #461
Issue resolved in Prod.

cc: @maxceem @nkumar-topcoder

[2021-08-12 12:04] #461 closed

[2021-08-12 12:04] maxceem commented on #429
@nkumar-topcoder do you think we can close this issue? Or would you like to keep it open?

[2021-08-12 12:07] sandhiyakavi commented on #395
Working as expected in Prod.

cc: @maxceem @nkumar-topcoder

[2021-08-12 12:07] #395 closed

[2021-08-12 12:18] yoution commented on #475
@maxceem
1. ` if the user is not the one who is JobCandidate. `, if I write  `currentUser.userId !== jobCandidate.userId` , is it correct?
the the former is number, the latter is uuid?
2. `Update email template`, is there any web tools I can review the template?

[2021-08-12 12:26] maxceem commented on #475
@yoution

1. No. There are 2 kind of user ids UUID and numeric from different API. We have a method which get UUID by numeric id https://github.com/topcoder-platform/taas-apis/blob/feature/notifications-api/src/common/helper.js#L961-L969

2. The template is basically regular HTML with `handlebars` templates. We have 2 ways to view rendered template:
    1. Run script https://github.com/topcoder-pl

[2021-08-13 07:36] SathyaJayabal opened #486 "Upgrade to new Skills API from Ubahn Skills and enrich disintegration"
Upgrade to new Skills API  from Ubahn Skills and enrich disintegration

[2021-08-13 07:36] SathyaJayabal commented on #486
https://github.com/topcoder-platform/taas-apis/pull/478

[2021-08-13 08:29] lakshmiathreya commented on #426
@SathyaJayabal @sandhiyakavi -  this was fixed by https://github.com/topcoder-platform/community-app/issues/5655 right?

[2021-08-13 10:39] maxceem commented on #468
@yoution paid via https://www.topcoder.com/challenges/4f814496-4e3e-4bc9-a4e6-75159944f3b8

[2021-08-14 05:31] sdgun commented on #369
@urwithat @nikolay83 Looks like this needs some investigation, this is happening again on the JD flow. Reducing the priority since it happens only on one role. You can see in the below video a role which is not present in the existing role list is returned(rates are also different from any existing role).

https://user-images.githubusercontent.com/4592712/129435171-48be50ce-b39b-4bc4-bed9-ac284408

[2021-08-14 12:13] maxceem commented on #477
### Send In-App notifications from TaaS API Notifications Scheduler

We already send email notifications for
- Post Interview Candidate Action Reminder
- Upcoming Resource Booking Expiration

Additionally to email we also have to show notifications inside application, like this https://monosnap.com/file/LxairgU4K6NPdGN4Id9h7MZ2ceksQ8. For the UI side it's already implemented. The only things we ha

[2021-08-16 10:56] sandhiyakavi commented on #430
Verified on Dev Env

1. Able to process additional payments.
![image](https://user-images.githubusercontent.com/55895538/129553146-339b9cdc-6ebd-4afc-9a86-44899860d7fb.png)

2. Error message displayed if amount not provided.
![image](https://user-images.githubusercontent.com/55895538/129553048-42a83b9a-8937-490d-86c0-fbc5f9366b9a.png)

[2021-08-16 11:43] maxceem commented on #475
@yoution the QA is still pending, but payment has been processed https://www.topcoder.com/challenges/823fce23-97ab-4b00-a0bb-491da746b3cb

[2021-08-16 11:45] maxceem commented on #474
@xxcxy the QA is till pending on DEV, but I've processed the payment https://www.topcoder.com/challenges/064a0d07-46d9-4ff1-bd06-8f0ca8dc72ce

[2021-08-16 12:32] SathyaJayabal commented on #486
@vikasrohit ,
1. Skills associated with a job are displayed on the Team details page. but the same are not displyed on the job detail or the edit job page.
example:
https://platform.topcoder-dev.com/taas/myteams/18176
https://platform.topcoder-dev.com/taas/myteams/18176/positions/019a328e-d328-4e6f-8724-3f211ec24ced/edit
https://platform.topcoder-dev.com/taas/myteams/18176/positions/019a328e-d328-

[2021-08-16 12:42] maxceem commented on #476
@tejad paid via https://www.topcoder.com/challenges/79139c7c-0f6a-479c-bef1-44cd17003fde

[2021-08-16 12:47] maxceem commented on #477
First part https://github.com/topcoder-platform/taas-apis/issues/477#issuecomment-896934900 has been paid via https://www.topcoder.com/challenges/a18d33cf-d820-4e76-8fb5-6b4600082a30 for @nqviet.

@tejad payment for the second part as per comment https://github.com/topcoder-platform/taas-apis/issues/477#issuecomment-898886697 has been paid via https://www.topcoder.com/challenges/79139c7c-0f6a-479c

[2021-08-16 12:49] SathyaJayabal commented on #486
@vikasrohit ,
2. While creating a team with selcting a role, we have the skills associated with the role displayed correctly, but we get an error while creating a team
Example:
https://platform.topcoder-dev.com/taas/createnewteam/role -> select .NET Engineer
<img width="1440" alt="Screenshot 2021-08-16 at 6 11 29 PM" src="https://user-images.githubusercontent.com/58783823/129565425-0e793d71-8c6a-4

[2021-08-16 12:52] SathyaJayabal commented on #486
3. We get an error while trying to create a team with job description
<img width="1440" alt="Screenshot 2021-08-16 at 6 21 20 PM" src="https://user-images.githubusercontent.com/58783823/129566670-fb23ceb4-e8b0-40a2-baf1-be62c1023256.png">

[2021-08-16 13:01] SathyaJayabal commented on #486
4. There are some discrepancies with the skills data. for example, please compare the skills returned for serach term java.
<img width="1440" alt="Screenshot 2021-08-16 at 6 28 35 PM" src="https://user-images.githubusercontent.com/58783823/129567482-84975f0b-8fea-49b2-beff-91e6882798fb.png">
<img width="1440" alt="Screenshot 2021-08-16 at 6 28 22 PM" src="https://user-images.githubusercontent.com/

[2021-08-17 05:31] sandhiyakavi commented on #433
Verified on Dev Env

1. If send array of WP payments for POST/{{URL}}/work-period-payments, error shown
![image](https://user-images.githubusercontent.com/55895538/129666682-4cd825b6-6e06-4ea7-86b8-1dbb076062f7.png)

2. POST/{{URL}}/work-period-payments works fine for single payment.
![image](https://user-images.githubusercontent.com/55895538/129667249-852b713e-cad1-4767-b220-9d2ae8ef42d1.png)

3.

[2021-08-17 09:45] sandhiyakavi commented on #431
Verified the issue through FE https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/80

[2021-08-18 06:27] sdgun opened #502 "Interview coming up email content/title are different in the emails sent to attendees(interviewers) and names missing in the title for member"
**Steps**
Have two interviewers in the interview
check the two emails sent to them 1 hour before the interview time

Email content is different, also the title is missing the candidate name in one email(looks like the same email sent to the member is coming to the second interviewer)

Team: https://platform.topcoder-dev.com/taas/myteams/18361
Interview: https://platform.topcoder-dev.com/taas/mytea

[2021-08-18 06:57] sdgun opened #504 "Interview completed email is not sent at the expected time and it seems like Post Interview Action Reminder from the email body"
**Steps**
Interview: https://platform.topcoder-dev.com/taas/myteams/18361/positions/17a74bde-a156-4c66-8fcf-557e2c8e19e1/candidates/interviews

Below are the emails received by the host, see the time it is received(just 1.5hrs after interview reminder, which means 30 mins after the interview. In the requirement the expectation is 4 hours after interview time):

![image](https://user-images.githubu

[2021-08-18 07:11] sdgun opened #505 "Candidates available for review email is not sent to the members with project access"
**Steps**
Team: https://platform.topcoder-dev.com/taas/myteams/18361/positions/17a74bde-a156-4c66-8fcf-557e2c8e19e1/candidates/to-review
One candidate is scheduled for an interview and the other one is in pending but no email has received to any of the members in the project

Email of project member taasintake11 :
![image](https://user-images.githubusercontent.com/4592712/129853913-8c887267-1a3b-4

[2021-08-18 07:44] sdgun opened #506 "Candidates were viewed by Client email notification is not received when the resume of the user is downloaded(1st time)"
**Steps**
Log in from a project member
Download the resume of the user in Review status

Should send the email notification to the member, but it is not sent

Team: https://platform.topcoder-dev.com/taas/myteams/18361/positions/17a74bde-a156-4c66-8fcf-557e2c8e19e1/candidates/to-review

[2021-08-18 08:03] sdgun opened #507 "Job start date is one day behind the actual date in TAAS(sometimes)"
Team: https://platform.topcoder-dev.com/taas/myteams/18361/positions/e9a270d1-a18d-403f-af94-b1f93d9f4f63
The job start date in above is 18th August, but in the email it is 17th August

![image](https://user-images.githubusercontent.com/4592712/129861267-6390dce6-090a-47d6-8b73-da8bc744d9bb.png)

[2021-08-18 10:14] sandhiyakavi commented on #486
Verified on Dev Env.

Test results: https://docs.google.com/spreadsheets/d/1vFG9Nltqp2chMi6OWZZtXSDIguH-tBp6/edit#gid=1753008439

All the above issues are fixed.

[2021-08-18 11:26] vikasrohit commented on #486
Awesome!! Thanks for validating all the cases @sandhiyakavi @SathyaJayabal

[2021-08-18 11:39] vikasrohit opened #508 "Performance improvement in fetching skill details"
Currently at multiple places we are fetching the skills by id to pull up their addition details (mostly skill name). With recent extraction of skills api out of ubahn cluster and code, we have to do more such operations in the code. Now these are not performance optimized and can be very slow when the number of skills for users/jobs increases. So, ideally we should fetch all skills before hand and

[2021-08-18 11:56] sdgun opened #509 "[$10] When a job start date is not defined, the job start date in the slack notification should be shown 'TBD'"
**Steps**
Select a candidate to a job from TAAS app(position should not have a start date)
Check the slack notification on 'Job Candidate is Selected'

Job Start Date: undefined in the slack notification, it should be 'TBD'

![image](https://user-images.githubusercontent.com/4592712/129893878-e4be7ecd-c463-4371-a13f-5c8836db6a4a.png)

[2021-08-18 12:02] vikasrohit commented on #508
fyi @maxceem @wdprice @nkumar-topcoder

[2021-08-18 12:05] vikasrohit commented on #508
Here is potential fix https://github.com/topcoder-platform/taas-apis/pull/500/files but we need to add caching as well to actually make that performant otherwise this PR is in fact increasing the latency by 100%.

[2021-08-18 17:39] maxceem commented on #502
@wdprice @urwithat could you please help to clarify the logic here.

The current logic is like this:
- The person who creates invitation is the host and only this person get email with the full list of attendees like this:

    ![image](https://user-images.githubusercontent.com/146016/129945784-742cd74c-1799-4292-8ae8-bacfd88cb773.png)

- All other people who were listed in the invitation and the

[2021-08-18 17:55] maxceem commented on #505
This email is sent daily, let's try to wait for 24 hours if the emails would come.

[2021-08-18 17:58] maxceem commented on #509
Sum up:

If Job start date is not defined, we have to show `TBD`. In all the `emails`, `in-app` and `slack` notifications where we show Job Start Date.

@yoution would you like to handle this change?

[2021-08-18 18:28] maxceem commented on #506
Would be fixed by https://github.com/topcoder-platform/taas-app/issues/492

[2021-08-18 23:00] yoution commented on #509
@maxceem please assign to me

[2021-08-19 02:29] yoution commented on #509
@maxceem I am not  familiar with the all process,  we should change the code here?
https://github.com/topcoder-platform/taas-es-processor/blob/dev/src/services/JobCandidateProcessorService.js#L139
if `startDate` is null, set to `TBD`

[2021-08-19 04:48] sdgun opened #510 "When creating a TAAS project from connect app, new job created email is sent"
**Steps**
Create a TAAS project from connect by adding some positions
Check the email of the project created user

 New job created emails are sent for each position, but it shouldn't be sent

Ex-https://connect.topcoder-dev.com/projects/18387

[2021-08-19 05:49] sdgun opened #511 "[$20] Issue in the email title when the team name has symbols"
**Steps**
Created a team with name 'Don't delete/modify(Notification testing)' from taas intake app
In the email notification, the name is displayed as below

![image](https://user-images.githubusercontent.com/4592712/130014813-13617900-705f-41fd-a422-45a64a5c7f9e.png)

[2021-08-19 07:32] maxceem commented on #509
@yoution no, we send `emails`, `in-app` and `slack` notifications like this https://github.com/topcoder-platform/taas-apis/blob/dev/src/eventHandlers/JobCandidateEventHandler.js#L175-L218 and like this https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/NotificationsSchedulerService.js#L415-L427.

You can find all such places by `sendNotification` and by `NOTIFICATIONS_CREATE_TOPI

[2021-08-19 09:51] sdgun opened #512 "Interview completed in app notification is sent to the connect project member"
**Steps**
The email sent just after(expected after 4 hrs) interview completion is not supposed to be sent as an in app notification. But it is sent now

Interview - https://platform.topcoder-dev.com/taas/myteams/18361/positions/17a74bde-a156-4c66-8fcf-557e2c8e19e1/candidates/interviews

![image](https://user-images.githubusercontent.com/4592712/130048143-2aaa607f-40e1-4a8e-b525-a5002cc2f95e.png)

[2021-08-19 11:29] sandhiyakavi commented on #486
Verified on PRod Env. Working as expected.
![image](https://user-images.githubusercontent.com/55895538/130060963-f55e4b05-b1dc-4c6c-b1ab-4230f291a926.png)
![image](https://user-images.githubusercontent.com/55895538/130061025-0a563f16-e70f-48fc-b032-4f6be08b464e.png)
![image](https://user-images.githubusercontent.com/55895538/130061102-45a687a3-02b0-4800-82ef-521d7ee3252d.png)
![image](https://user

[2021-08-19 11:29] #486 closed

[2021-08-20 05:35] sdgun commented on #475
Verified in Dev, issue reported https://github.com/topcoder-platform/taas-apis/issues/506. Will close this once the issue is fixed.

[2021-08-20 06:14] sdgun opened #515 "Issues in Post interview action reminder email/in app notification"
Ex Team/interview: https://platform.topcoder-dev.com/taas/myteams/18361/positions/e9a270d1-a18d-403f-af94-b1f93d9f4f63/candidates/interviews

The above interview was done on 19th Aug and in app notification 'Post interview action reminder' is already sent on 19th  but no email on the same has been sent yet

according to the requirement ''Post interview action reminder' should be sent 'Daily, start

[2021-08-20 06:37] sdgun opened #516 "In app notifications are not received for upcoming booking expirations"
Team - https://platform.topcoder-dev.com/taas/myteams/18164

Team member 'Tcconadmin' has received  upcoming booking expiration email notification on 16th August but no in app notifications on this

![image](https://user-images.githubusercontent.com/4592712/130190841-3acd1cae-b4d5-40ff-bb9d-832eceb6c37b.png)

![image](https://user-images.githubusercontent.com/4592712/130190893-a521ebbf-6942-4bae-a

[2021-08-20 06:39] sdgun commented on #477
Verified in Dev, reported issues:

https://github.com/topcoder-platform/taas-apis/issues/516
https://github.com/topcoder-platform/taas-apis/issues/515
https://github.com/topcoder-platform/taas-apis/issues/512

[2021-08-20 06:50] sdgun commented on #474
Verified in Dev, reported https://github.com/topcoder-platform/taas-apis/issues/510

[2021-08-20 06:57] maxceem commented on #512
@sdgun we have 2 kind of notifications after interview:
1. `Interview Completed` - should be send in 4 hours after interview if interview status is not `completed` to remind user to complete interview
2. `Post Interview Action Reminder` - should be send Daily, starting one day after the most recent interview for `Completed` interview to remind user to make a decision  Select/Decline/Schedule Anoth

[2021-08-20 07:08] sdgun commented on #476
Verified in Dev and following issues exist; couldn't verify Candidates are available for review and Post Interview Candidate Action Reminder  templates due to https://github.com/topcoder-platform/taas-apis/issues/515, https://github.com/topcoder-platform/taas-apis/issues/505

**Interview coming up:**

Expected:
![image](https://user-images.githubusercontent.com/4592712/130193175-ba520adb-48b6-48ff

[2021-08-20 07:25] sdgun commented on #512
@maxceem It looks like this in app notification was sent on the same date(18th) when it is supposed to be started sending from 19th(interview date 18th and in app date 18th)

[2021-08-20 07:36] maxceem commented on #510
@urwithat just would like to confirm that we have to fix this: emails should not come about jobs created during project creation in Connect App?

[2021-08-20 07:38] maxceem commented on #509
Challenge https://www.topcoder.com/challenges/25ae68d9-7a20-4b9b-a43e-f443d5e39c53 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 07:38] maxceem commented on #509
Challenge https://www.topcoder.com/challenges/25ae68d9-7a20-4b9b-a43e-f443d5e39c53 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 07:42] maxceem commented on #509
@sdgun fix and ready for testing on DEV.

[2021-08-20 09:43] maxceem commented on #512
Sum up:
- we need to update the logic of `Post Interview Action Reminder` it should be send daily, **starting one day after the most recent interview in particular job**.
- update demo script https://github.com/topcoder-platform/taas-apis/blob/dev/scripts/demo-email-notifications/index.js so it has 2 examples: 1 interview after which 1 days has not passed yet, and 1 interview after which one 1 day

[2021-08-20 09:44] maxceem commented on #512
@tejad would you like to fix this issue as per https://github.com/topcoder-platform/taas-apis/issues/512#issuecomment-902571953 above?

[2021-08-20 10:05] tejad commented on #512
Hey @maxceem, I'm unavailable for 3 days as I have to be out of station.

[2021-08-20 10:09] maxceem commented on #512
Thanks for letting me know, no problem.

@xxcxy would you like to take this one?

[2021-08-20 10:18] urwithat commented on #510
This is expected behaviour

[2021-08-20 10:18] sandhiyakavi commented on #433
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:18] #433 closed

[2021-08-20 10:19] sandhiyakavi commented on #431
Verified on Prod Env through Frontend. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:19] #431 closed

[2021-08-20 10:19] urwithat commented on #502
This is expected behaviour

[2021-08-20 10:21] sandhiyakavi commented on #428
Verified on Prod Env through Frontend. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:21] #428 closed

[2021-08-20 10:21] sandhiyakavi commented on #430
Verified on Prod Env through Frontend. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:21] #430 closed

[2021-08-20 10:32] maxceem commented on #505
@sdgun it should be fixed now. You might receive a few emails every 30 minutes during testing this issue on DEV.

[2021-08-20 10:33] maxceem commented on #476
@sdgun this should be fixed now, email template has been updated.

[2021-08-20 10:37] xxcxy commented on #512
Yes, i can take this one.

[2021-08-20 10:38] maxceem commented on #512
Challenge https://www.topcoder.com/challenges/d31897b2-7489-4eea-85b5-270f1eb1a155 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 10:38] maxceem commented on #512
Challenge https://www.topcoder.com/challenges/d31897b2-7489-4eea-85b5-270f1eb1a155 has been assigned to xxcxy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 11:54] xxcxy commented on #512
@maxceem I've created a PR, please review when you have time.
https://github.com/topcoder-platform/taas-apis/pull/518

[2021-08-20 12:08] maxceem commented on #511
### background

This is general issue which caused by escaping login in Projects API see details https://github.com/appirio-tech/connect-app/issues/3485#issuecomment-576497775.

There are 2 encoding happens as per https://github.com/appirio-tech/connect-app/issues/3485#issuecomment-597449604
1. Inside SendGrid and we fixed it by replacing `{{subject}}` with `{{{subject}}}` in sendgrid template.

2

[2021-08-20 12:09] maxceem commented on #511
@xxcxy one more task if you like as per https://github.com/topcoder-platform/taas-apis/issues/511#issuecomment-902646176 - only second part is needed as per `Task` description.

[2021-08-20 12:14] xxcxy commented on #511
Yes. I can take it.

[2021-08-20 12:18] maxceem commented on #511
Challenge https://www.topcoder.com/challenges/fe13c765-0e88-4cc9-beca-04a53a8d74e7 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 12:18] maxceem commented on #511
Challenge https://www.topcoder.com/challenges/fe13c765-0e88-4cc9-beca-04a53a8d74e7 has been assigned to xxcxy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 12:37] xxcxy commented on #511
@maxceem I've created a PR, please review when you have time.
https://github.com/topcoder-platform/taas-apis/pull/519

[2021-08-20 14:49] maxceem commented on #507
This is quite a complex issue, need to discuss solution with Atif, Nagendra, Will. We will take care of this during cool down period.

[2021-08-20 15:00] maxceem commented on #506
This issue has been fixed by https://github.com/topcoder-platform/taas-app/issues/492 and it works.

We are going to come with a technically better solution during cool down period which would be tracked here https://github.com/topcoder-platform/taas-app/issues/495

[2021-08-23 03:39] sdgun commented on #505
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/130386865-3b85d705-c3e3-42bb-a2b8-5fbb92200071.png)

[2021-08-23 04:02] sdgun commented on #511
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/130388431-1154ab47-569c-46ac-819d-c6423a7edac9.png)

[2021-08-23 04:10] sdgun commented on #516
Verified in Dev, has received this notification.

![image](https://user-images.githubusercontent.com/4592712/130388953-1657f759-36bf-451d-a059-6d8a5b982f90.png)

[2021-08-23 04:26] sdgun commented on #509
Verified in dev.

![image](https://user-images.githubusercontent.com/4592712/130389893-c9014bb8-8708-4d9f-a781-96475d09d364.png)

![image](https://user-images.githubusercontent.com/4592712/130389917-74ef3fac-49c6-48ce-9dc2-fcb22357979b.png)

[2021-08-23 04:55] sdgun commented on #506
@maxceem To test this I created a new position and downloaded the resume, but I don't see any emails being sent to the member.

This is what I used for testing.
https://platform.topcoder-dev.com/taas/myteams/18388/positions/95d44a8b-babc-468f-b804-3f418c433270/candidates/to-review

[2021-08-23 06:36] #510 closed

[2021-08-23 06:37] #502 closed

[2021-08-23 08:22] maxceem commented on #506
@sdgun which user did you use to download the resume? Just in case we have to use a user without any Topcoder roles with only one general role `Topcoder User`. If you let me know the user I may check the user roles for you.

[2021-08-23 08:30] sdgun commented on #506
@maxceem I tried with
taasintake6, taasintake5 and taasintake8

[2021-08-23 13:55] maxceem commented on #506
@sdgun there appeared to be some issue. It's fixed now on DEV.

To verify you would have to create a new Job Candidate, as this one was already marked as viewed.

[2021-08-23 13:56] maxceem commented on #511
Payment task has been updated: https://www.topcoder.com/challenges/fe13c765-0e88-4cc9-beca-04a53a8d74e7
*Payments Complete*
Winner: xxcxy
Copilot: maxceem
Challenge `fe13c765-0e88-4cc9-beca-04a53a8d74e7` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-23 13:56] maxceem commented on #509
Payment task has been updated: https://www.topcoder.com/challenges/25ae68d9-7a20-4b9b-a43e-f443d5e39c53
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `25ae68d9-7a20-4b9b-a43e-f443d5e39c53` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-24 04:36] sdgun commented on #504
@maxceem I am not seeing the interview completed email being sent at all in dev now. If this is working in prod may be we can close this out.

Interview: https://platform.topcoder-dev.com/taas/myteams/18591/positions/df2b16ff-4934-43b4-b934-40343b760767/candidates/interviews

Primary interviewer's email:
![image](https://user-images.githubusercontent.com/4592712/130556390-b46b537c-0684-4897-86d7-a

[2021-08-24 04:42] sdgun commented on #476
Verified in Dev.

[2021-08-24 04:42] #476 closed

[2021-08-24 04:54] sdgun commented on #506
@maxceem Still doesn't work in dev, I checked by creating a new position https://platform.topcoder-dev.com/taas/myteams/18591/positions/be7ae556-65ee-4907-8a4a-12fe68f1d226/candidates/to-review, can this only be an issue in dev?

[2021-08-24 05:07] sdgun commented on #512
Based on the test data set up, all interviews completed yesterday and as expected no in app notification on 'Post Interview Action Reminder' is received to the project user, will close this issue after verifying the in app notification which is to be received tomorrow.

[2021-08-24 05:10] #511 closed

[2021-08-24 05:10] sdgun commented on #505
Closing the issue -unable to verify in production,

[2021-08-24 05:10] #505 closed

[2021-08-24 05:11] sdgun commented on #516
Closing the issue -unable to verify in production,

[2021-08-24 05:11] #516 closed

[2021-08-24 05:11] sdgun commented on #509
Closing the issue -unable to verify in production,

[2021-08-24 05:11] #509 closed

[2021-08-24 05:12] sdgun commented on #474
Closing the issue -unable to verify in production,

[2021-08-24 05:12] #474 closed

[2021-08-26 08:32] sandhiyakavi opened #522 "Not able to get interview by the updated xaiId from Db."
Description:

Not able to get interview by the updated xaiId from Db but able to get through ES.

Steps to Reproduce:

1. Change the status of Jobcandidate to interview and requestinterview.
2. Patch the xaiId of the interview.
3. GET interview by xaiId.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/130929229-6b83f52b-e434-4a14-a21e-fb67af0e715b.png)
![image](https://us

[2021-08-26 10:19] sandhiyakavi opened #523 "WorkPeriodPayment getting hanged at scheduled status"
Description:

All WorkPeriodPayments are getting hanged at scheduled status and WP status not changing to 'in-progress'. Seems the payment scheduler is not working.

![image](https://user-images.githubusercontent.com/55895538/130945826-ba8177aa-7e4f-46fd-a407-866a750c319d.png)
![image](https://user-images.githubusercontent.com/55895538/130945975-bca77dd4-1437-4e2c-8600-1ba9dd0e0dbe.png)

[2021-08-26 10:55] sandhiyakavi opened #524 "Jobcandidates status update in Taas app is not getting updated in rcrm"
Description:

Jobcandidates status update in Taas app is not getting updated in rcrm.

Description:

![image](https://user-images.githubusercontent.com/55895538/130950644-822de68e-dba8-43b7-a0ff-4993ccf6d79e.png)
![image](https://user-images.githubusercontent.com/55895538/130950710-5b5b75f8-126c-4950-aa93-f455b3949fc3.png)

[2021-08-27 05:56] SathyaJayabal opened #525 "Interview status from x.ai is not synced back to Taas"
Interview status form x.ai is not synced back to Taas
Example:
job id: d88cbada-5ca5-46e9-aba7-331302f8cd76
candidate id:
1011a326-0ad0-4442-ad1f-5754c4c6a269
interview id:
98b7bd86-ed44-4ebb-b07b-eaa1fee225bc

Interview has been scheduled, but status is still as scheduling on Taas
<img width="566" alt="Screenshot 2021-08-27 at 11 24 07 AM" src="https://user-images.githubusercontent.com/58783823/1

[2021-08-27 07:49] SathyaJayabal opened #526 "Issues with role (GET,PATCH,DELETE)"
Go to https://platform.topcoder-dev.com/taas-admin/roles
Editing or Deleting an existing role throws the "Internal Server Error" error

Note: This is not issue if you create and then edit or delete the newly created role
<img width="1440" alt="Screenshot 2021-08-27 at 1 10 10 PM" src="https://user-images.githubusercontent.com/58783823/131091436-100dd540-50dc-41ba-9209-8ff7a9676a13.png">
<img width

[2021-08-30 04:00] sdgun commented on #506
Thanks @maxceem Checked with taasintake5 and received this email

![image](https://user-images.githubusercontent.com/4592712/131283514-7b164086-a963-4970-a86a-27b7f561a5e1.png)

[2021-08-30 04:00] #506 closed

[2021-08-30 04:43] sdgun commented on #475
Verified in Dev.

[2021-08-30 04:43] #475 closed

[2021-08-30 04:44] sdgun commented on #477
All above issues are fixed in Dev.

[2021-08-30 04:44] #477 closed

[2021-08-30 12:19] yoution commented on #526
@sandhiyakavi @phead198708  bacause the skill api has changed, but in this branch, still using the old skill spi
https://github.com/topcoder-platform/taas-apis/commit/a65cffc2e3501f848c1be27f32793180d17d2b63#diff-935c8da89f7048db2f73efa59dbe00e7f67cb7c47e03d216c0a43b07150afa01L1224

[2021-08-30 12:31] yoution commented on #526
when search by id and without id, I can not reproduce the issue.
![image](https://user-images.githubusercontent.com/3863914/131339195-de7910dc-4d12-45fa-8657-23cf0865c5da.png)

[2021-08-30 12:44] yoution commented on #525
@SathyaJayabal  can you tell me how to sync form x.ai  to Taas, I can not find the code related to it

[2021-08-30 13:07] SathyaJayabal commented on #525
@nikolay83 , can you help with this please?

[2021-08-30 13:10] SathyaJayabal commented on #526
@yoution , please try with existing ids for example
`34be858c-b9b7-4d0c-8275-32a4e5622d90`

Issue still exists
<img width="1440" alt="Screenshot 2021-08-30 at 6 39 32 PM" src="https://user-images.githubusercontent.com/58783823/131344068-236b0fca-ab75-4967-9059-f8d872f6251c.png">

[2021-08-31 00:21] yoution commented on #523
thanks, I forgot to change the code in scheduler, I will fix it soon

[2021-08-31 02:02] yoution commented on #522
@sandhiyakavi I found the reason, because `xaiId` and normal `id` are all uuid format, so search in db will treat `xaiId` as `id`,  but this issue is not caused by me, does it need to be fixed?
https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/InterviewService.js#L174,L190

[2021-08-31 02:08] yoution commented on #522
@sandhiyakavi   or maybe the code is right, and `xaiId` you input in the postman is wrong? it should not be `uuid` format?

[2021-08-31 02:12] yoution commented on #525
@sandhiyakavi I can not login to the `xai` system, can you check the api, when you change the status?

[2021-08-31 03:38] SathyaJayabal commented on #525
@yoution , pls check here.
https://github.com/topcoder-platform/taas-apis/blob/bf00b256428844dd3b5dee82094af56d37a31e78/src/services/InterviewService.js

example:
https://github.com/topcoder-platform/taas-apis/blob/bf00b256428844dd3b5dee82094af56d37a31e78/src/services/InterviewService.js#L340

[2021-08-31 03:57] SathyaJayabal commented on #525
@yoution , do you have a test user(on dev) for whom you have the access to their email. Please give me the user's ahndle and email address. I can set up the interview for that user. You will have to check the email from x.ai and then select a time slot for the interview. This will should update the interview status to"scheduled".

[2021-08-31 03:58] yoution commented on #525
@SathyaJayabal i don't have

[2021-08-31 04:05] yoution commented on #525
@SathyaJayabal I register a dev user, yoution, and zhuyan207@gmail.com, please try

[2021-08-31 04:10] SathyaJayabal commented on #525
@yoution , I  have messaged you on slack.

[2021-08-31 05:00] sandhiyakavi commented on #522
Closing the issue as it is working fine with the correct uuid format, Seems the one mentioned in the postman sample  is old format.

![image](https://user-images.githubusercontent.com/55895538/131444671-f8629f06-e0d1-4a92-8028-06b0a42665c6.png)

[2021-08-31 05:00] #522 closed

[2021-08-31 05:28] sachin-maheshwari commented on #523
@yoution done ?

[2021-08-31 05:29] yoution commented on #523
yeah, done

[2021-08-31 05:37] sachin-maheshwari commented on #523
merged code ? PR ?

[2021-08-31 05:38] yoution commented on #523
wait 5 minutes

[2021-08-31 05:45] yoution commented on #526
@SathyaJayabal I donot change the code about the issue, you can try after new deployment

[2021-08-31 05:51] yoution commented on #525
@sachin-maheshwari  I call the `udpateInterview` api locally, it can update correctly,
so currently I don't know how `x.ai` update the `taas` project, which api does `x.api` invoke?

[2021-08-31 07:06] SathyaJayabal commented on #525
@yoution @sachin-maheshwari, the issue seems to be resolved now. I am able to see the details of the scheduled interview on Taas app.
<img width="1434" alt="Screenshot 2021-08-31 at 12 29 32 PM" src="https://user-images.githubusercontent.com/58783823/131457401-39b3c768-1682-4f9c-bf88-b651369587c6.png">

[2021-08-31 07:07] SathyaJayabal commented on #525
I ma closing this and will reopen if we face the issue again.

[2021-08-31 07:07] #525 closed

[2021-08-31 11:32] SathyaJayabal commented on #526
Not sure if the new deployment is done, but issue still exists.

[2021-08-31 11:47] sachin-maheshwari commented on #526
@yoution I am not getting your point, skill-api beta url is available in our branch "shapeup4-cqrs-update" or I missed anything in merging the code ?

[2021-08-31 12:09] sachin-maheshwari commented on #526
@SathyaJayabal  deployed the changes on DEV. Please verify now.

[2021-08-31 12:10] sachin-maheshwari commented on #523
@sandhiyakavi deployed on DEV. Please verify now.

[2021-08-31 15:52] maxceem opened #528 "Split email template and update text"
### Background

We have 12 kind of email notifications, which are at the moment presented using 1 HTML template https://github.com/topcoder-platform/taas-apis/blob/dev/data/notifications-email-template.html.
This email template is inserted into sendgird and we render different email depend on the data we pass there.

Such a big single template is hard to edit from Sendgrid by managers, also, some

[2021-09-01 04:06] sandhiyakavi commented on #523
Verified on Dev Env. Workperiod payments are getting completed successfully.

<img width="960" alt="scheduled" src="https://user-images.githubusercontent.com/55895538/131610126-17fbc5ea-e1aa-49a1-92fa-fb1effa4edc8.png">
<img width="960" alt="completed_status" src="https://user-images.githubusercontent.com/55895538/131610130-11be2fe1-89ed-4019-8545-5b9b71b28245.png">

[2021-09-01 04:30] xxcxy commented on #528
there are only 10 email notifications in the doc. @maxceem

[2021-09-01 04:34] sandhiyakavi commented on #526
@sachin-maheshwari Still all the above issues exist.

[2021-09-01 04:36] sandhiyakavi commented on #524
@sachin-maheshwari  This issue still exists

[2021-09-01 04:38] sachin-maheshwari commented on #526
@phead198708 / @yoution can you guys please check.

[2021-09-01 04:38] sachin-maheshwari commented on #524
@yoution @phead198708 please check this.

[2021-09-01 04:40] yoution commented on #524
i will check

[2021-09-01 04:53] yoution commented on #524
@sachin-maheshwari https://github.com/topcoder-platform/taas-es-processor/pull/98
did you deploy this project?

[2021-09-01 04:58] sachin-maheshwari commented on #524
Sorry, deploying now.

[2021-09-01 05:20] yoution commented on #526
@sandhiyakavi @sachin-maheshwari  it's a little strange, I can not reproduce the issue locally, I can reproduct in `dev`,
and I copy the data to postman, I can not reproduce
![image](https://user-images.githubusercontent.com/3863914/131616085-031f03f3-fa70-42a3-8d5c-15ac50a21c65.png)

[2021-09-01 05:27] yoution commented on #526
@sandhiyakavi it seems work now ,after deploy the `process-es`, please check again

[2021-09-01 05:32] maxceem commented on #528
@xxcxy the other 2 keep as it is, no need to change the text for them.

[2021-09-01 05:35] sandhiyakavi commented on #526
@yoution Issue is still existing

![image](https://user-images.githubusercontent.com/55895538/131617447-9f0c6435-fbb1-4d15-ab0d-5a942c9cb744.png)

[2021-09-01 05:37] yoution commented on #526
i will check again

[2021-09-01 05:40] yoution commented on #526
@sandhiyakavi https://monosnap.com/file/skPEQ96ATtapEezNGm15aafchPCPX9
it can work now in my computer

[2021-09-01 05:43] sandhiyakavi commented on #526
@yoution It was already working if we create a new role, then edit/ delete it.

We are getting error if we try to edit/delete an already existing roles as mentioned in https://github.com/topcoder-platform/taas-apis/issues/526#issue-980975081

[2021-09-01 05:51] sandhiyakavi commented on #524
Verified in Dev Env. It's working as expected.

![image](https://user-images.githubusercontent.com/55895538/131618947-7735e12e-62d9-4af6-8681-accf805f11ba.png)

[2021-09-01 05:56] xxcxy commented on #528
done. https://github.com/topcoder-platform/taas-apis/pull/529
@maxceem

[2021-09-01 06:00] yoution commented on #526
@sandhiyakavi because the role is in Db and not in es.
but why does the role will return in search API?
![image](https://user-images.githubusercontent.com/3863914/131619722-8c05daf1-e608-4e0f-9b26-309627c1bf7d.png)

[2021-09-01 06:07] SathyaJayabal commented on #526
@nkumar-topcoder @sachin-maheshwari , why dont we reindex roles once and then test

[2021-09-01 06:13] yoution commented on #526
but it's a little strange, if the role not in es, it will not return in `search api`, but currently it return, why ?

[2021-09-01 06:19] maxceem commented on #528
Thanks @xxcxy, sorry, I was not clear enough. The other 2 - don't update text.
But we need to split them into separate templates too.

So we should have 12 separate email templates in total.

[2021-09-01 06:22] nkumar-topcoder commented on #526
@SathyaJayabal I have re-index JC, RB and Roles.  Pls check

[2021-09-01 06:36] maxceem commented on #528
one more thing @xxcxy regarding mapping of the text to email template. The text which goes before table should be small like text below table. Next to the icon we place only "Speech bubble" text.

![image](https://user-images.githubusercontent.com/146016/131622966-3781ad97-01a2-4e40-93cd-eee81e98c233.png)

So it should look like this:

![image](https://user-images.githubusercontent.com/146016/1316

[2021-09-01 06:37] maxceem commented on #528
just in case, there should be space after grey area and before table:

![image](https://user-images.githubusercontent.com/146016/131623690-3258fac8-c53c-4429-a14c-f6d20821db8c.png)

[2021-09-01 08:02] xxcxy commented on #528
done.
file address: https://drive.google.com/file/d/1zpfy7BDxcwFEY0W0t2UUJRh21vNi_Xfm/view?usp=sharing

[2021-09-01 09:03] sandhiyakavi opened #530 "CQRS standards and updates"

[2021-09-01 15:27] maxceem opened #531 "Make the right padding in email notifications consistent"
I've noticed that there there is no right padding now:
![image](https://user-images.githubusercontent.com/146016/131699450-deefd3ee-f8ff-4939-a798-124c22a8f385.png)

- We would like to make it the same like left padding 20px so text respect it.
- Also, not table has 95% width, but it should be 100% width and go until padding 20px.
- This has to be done in all 12 email templates

[2021-09-02 08:34] sandhiyakavi opened #535 "Editing RB dates with large periods showing Network error"
Description:
Editing RB dates with large periods showing Network error but the contents are getting saved and the WP's are getting created/altered correctly

![image](https://user-images.githubusercontent.com/55895538/131810881-1c56892c-730d-4860-852f-adbfd413c525.png)

sample: https://platform.topcoder-dev.com/taas/myteams/18689/rb/94cec0c3-1c65-4997-9ca8-f2a7ec4d889b/edit
RB id: 94cec0c3-1c65-49

[2021-09-02 15:42] maxceem commented on #504
@sdgun I've made some improvements and it should work good now. Could you please give it a try again.

Also, please check interview coming up emails too, as they also might be affected by the fix.

[2021-09-03 04:27] sdgun opened #537 "Shows Network Error when updating and deleting some existing roles"
**Steps**
Go to https://platform.topcoder-dev.com/taas-admin/roles
Edit or delete an existing role (ex- ANGULAR DEVELOPER

[2021-09-03 05:21] sdgun opened #538 "Blank page when searching with skills that do not match all the skills in existing roles(skill and JD flows)"
**Steps**
Go to https://platform.topcoder-dev.com/taas/createnewteam/
On skills flow or JD flow select/enter skills that do not match all existing skills of any given role(ex- .NET, ASP.NET, Ab initio)
Select the skills from the identified skills pop up
Click search

Shows a blank page with console error

![image](https://user-images.githubusercontent.com/4592712/131954172-2344470f-f206-452b-8c81-

[2021-09-03 06:24] sdgun commented on #504
I had 2 interviews set up and received the emails on interview completion as expected after 4 hours of interview time, also received the interview coming up emails.

![image](https://user-images.githubusercontent.com/4592712/131959878-960631e2-a84e-4735-acad-4b1aba943c4f.png)

[2021-09-03 06:24] #504 closed

[2021-09-03 07:42] sandhiyakavi opened #539 "Getting "Network issue" for Bulk payments"
Description:

Getting "Network issue" for Bulk payments (query)/ multiple payments with many resources. But the WP's are getting processed. This error is not happening for single payments.

<img width="791" alt="network error_payment" src="https://user-images.githubusercontent.com/55895538/131969130-e2973c48-9a85-406a-9848-d1be690cc8d1.png">

[2021-09-03 14:40] sdgun commented on #538
Closing since this is working after creating custom role.

[2021-09-03 14:40] #538 closed

[2021-09-06 04:14] sdgun opened #540 "Issues with Post Interview Action Reminder email notification when interview 2 is scheduled"
**Steps**
**Issue 1**
In the below instance, noticed two records on the same candidate interview 1 and 2. When we schedule interview 2 we shouldn't receive post interview reminder on interview 1)

![image](https://user-images.githubusercontent.com/4592712/132159902-c5bdd046-22a1-4d8c-87df-e9174d304b69.png)

Job title: ABC
Link to the interview: https://platform.topcoder-dev.com/taas/myteams/18690/

[2021-09-07 05:00] sandhiyakavi commented on #539
Verified in Dev Env. Issue is resolved

<img width="955" alt="query" src="https://user-images.githubusercontent.com/55895538/132286789-c8ff0f5b-5200-41ee-8251-c54be674496c.png">

<img width="960" alt="bulk" src="https://user-images.githubusercontent.com/55895538/132286048-362a23f1-5a9c-4ce0-ae63-09b018af5433.png">

[2021-09-08 05:04] sandhiyakavi commented on #535
Verified in Dev Env. Issue is resolved

<img width="955" alt="RB_test" src="https://user-images.githubusercontent.com/55895538/132449347-28282a19-cefe-4abf-9a2d-bdf55107cf20.png">

[2021-09-08 08:12] maxceem commented on #528
Paid via https://www.topcoder.com/challenges/03f225e6-7b60-4bb4-af0c-409621a7bc8f

[2021-09-08 08:15] maxceem commented on #531
Paid via https://www.topcoder.com/challenges/6741f8c1-0c0c-4935-bfcc-e9760d81faf6

[2021-09-08 08:19] maxceem opened #541 "Interview completed email notification should not be sent if action was taken on the Job Candidate"
We have email of type `'taas.notification.interview-awaits-resolution'` which is sent 4 hours after interview start time to remind manager to take an action on the candidate after the interview https://github.com/topcoder-platform/taas-apis/blob/revert-532-feature/revert-splitting-email-templates/src/services/NotificationsSchedulerService.js#L276-L334

Though if manager already took action, such r

[2021-09-08 08:21] maxceem commented on #540
We also must ensure, that we don't send duplicate notification for interview completed reminder ('taas.notification.interview-awaits-resolution'). It should also only include the last round of the interview and not list all the interview rounds per Job Candidate.

[2021-09-08 11:18] maxceem opened #543 "Support filtering jobs by `isApplicationPageActive`"
### Background

We have endpoint to get a list of Jobs: `GET /jobs`. It support [various filters](https://github.com/topcoder-platform/taas-apis/blob/feature/shapeup4-cqrs-update/src/services/JobService.js#L592-L608) but it doesn't support filtering by [isApplicationPageActive](https://github.com/topcoder-platform/taas-apis/blob/feature/shapeup4-cqrs-update/src/models/Job.js#L101).

### Task

- `G

[2021-09-08 11:24] maxceem commented on #543
@yoution @eisbilir this task is open for pick up. Please, comment if you like take it and could solve it during 12 hours.

[2021-09-08 11:48] yoution commented on #543
@maxceem please assign to me

[2021-09-08 12:03] maxceem commented on #543
@yoution assigned

[2021-09-08 20:40] maxceem commented on #507
### Sum up:

#### Update TaaS API

- We already had similar issue for WorkPeriods and ResourceBookings. The solution was to update date format from `type: Sequelize.DATE` to `Sequelize.DATEONLY,` so we don't store time and timezone anymore and only store date in format `2021-12-29`.
- To solve this issue we have to update the format of the Job `startDate` from `type: Sequelize.DATE` to `type: Sequ

[2021-09-08 20:40] maxceem commented on #507
### Sum up:

#### Update TaaS API

- We already had similar issue for WorkPeriods and ResourceBookings. The solution was to update date format from `type: Sequelize.DATE` to `Sequelize.DATEONLY,` so we don't store time and timezone anymore and only store date in format `2021-12-29`.
- To solve this issue we have to update the format of the Job `startDate` from `type: Sequelize.DATE` to `type: Sequ

[2021-09-08 23:05] yoution commented on #507
@maxceem please assign to me

[2021-09-09 04:02] SathyaJayabal opened #546 "Pointing to v5 skills api instead of v5.1"
Pointing to v5 skills api instead of v5.1
https://github.com/topcoder-platform/taas-apis/pull/542

[2021-09-09 04:03] SathyaJayabal commented on #546
verified on dev
https://docs.google.com/spreadsheets/d/1vFG9Nltqp2chMi6OWZZtXSDIguH-tBp6/edit#gid=1753008439

[2021-09-09 05:29] yoution commented on #507
demo video
https://monosnap.com/file/UqQYFUJo0cp8fVw8qnpdsZvSfsJ1KH
https://monosnap.com/file/KdcClfdxVMXKBiGjm1dRWoC5DqeWk6

[2021-09-09 06:05] SathyaJayabal commented on #546
verified for member role on prod

[2021-09-09 06:05] #546 closed

[2021-09-09 11:03] maxceem commented on #543
thanks @yoution works perfectly!

[2021-09-09 12:39] maxceem commented on #543
@yoution paid via https://www.topcoder.com/challenges/519e08a9-1af6-4d9f-89d2-95cb38d51c02

[2021-09-09 14:45] maxceem commented on #540
Paid via https://www.topcoder.com/challenges/c9133133-ce3f-4aa5-a762-7cd8c705c0fe

[2021-09-09 14:48] maxceem commented on #541
Paid via https://www.topcoder.com/challenges/1d17ae3f-26b8-4416-88e1-82b956339ab3

[2021-09-09 14:50] maxceem commented on #541
@sdgun this is ready for QA.

QA Guideline:
- verify that Interview Awaits Resolution email notifications doesn't come if we approve or decline corresponding Job Candidate
- for regression, verify that if we don't approve/decline corresponding Job Candidate, then Interview Awaits Resolution would come

[2021-09-09 14:52] maxceem commented on #540
@sdgun the first part of this issue is ready for review.

QA guidelines:
- check that if we schedule 2-3 rounds then Post Interview Action Reminder email list only the latest round for the Job Candidate
- verify the same for Interview Awaits Resolution email

[2021-09-10 09:20] maxceem commented on #507
DEV PRs:
- TaaS API https://github.com/topcoder-platform/taas-apis/pull/548
- TaaS ES Processor https://github.com/topcoder-platform/taas-es-processor/pull/102
- TaaS App https://github.com/topcoder-platform/taas-app/pull/501

[2021-09-10 09:23] maxceem commented on #507
## QA Guidelines:

The fix for this this issue affects every place where show or edit Job Start Date, so we have to do regression testing for all such places.

#### TaaS App https://platform.topcoder-dev.com/taas/myteams

- create/view/edit jobs with start date inside existent team like this https://platform.topcoder-dev.com/taas/myteams/17993
- create new team using link https://platform.topcoder

[2021-09-10 10:04] maxceem commented on #507
@yoution payments have been processed:
- backend part https://www.topcoder.com/challenges/ff46b94d-01fd-4b1c-8be7-03270e7180b7
- frontend part https://www.topcoder.com/challenges/27a2122f-b24c-4597-9b44-679b89a51f76

[2021-09-10 14:27] sdgun opened #549 "Duplicate Attendees in the interview related email notifications"
**Steps**
Check an Interview Coming Up or Interview Awaits Resolution email

Duplicate Attendees are displayed and some attendee names are shown F_NAME L_NAME

![image](https://user-images.githubusercontent.com/4592712/132869275-3ad8b74f-c6ce-47cb-901e-10c086c4da40.png)

![image](https://user-images.githubusercontent.com/4592712/132869369-293e7f6b-8f07-4ae6-9568-29f77cc89ca2.png)

[2021-09-13 03:53] #549 closed

[2021-09-13 07:57] sdgun commented on #540
Verified Post Interview Action Reminder email and  Interview Awaits Resolution email with 1st, 2nd and 3rd interviews, both emails only had the latest round for the job candidate.

[2021-09-13 07:57] #540 closed

[2021-09-13 08:07] sdgun commented on #541
Verified Interview Awaits Resolution email by selecting/declining candidates - Emails were not received
Verified Interview Awaits Resolution email by not taking any actions - Emails were received

[2021-09-13 08:07] #541 closed

[2021-09-13 11:22] maxceem opened #550 "GET "/taas-teams/{{projectId}}/jobs/{{jobId}}" doesn't return more than 10 Job Candidates"
### Description

We have and endpoint `GET /taas-teams/{{projectId}}/jobs/{{jobId}}` which returns a Job with Job Candidates inside `candidates` property:

![image](https://user-images.githubusercontent.com/146016/133074345-3ac67938-3f9d-42de-b9d3-fb92f727146e.png)

Though at the moment it doesn't return more than 10 Job Candidates even though there more Job Candidates associated.

### Steps to re

[2021-09-13 11:24] maxceem commented on #550
@yoution @xxcxy @eisbilir this task is open for pickup. Please, comment if you may solve it during 12 hours and I'll assign you.

Branch to work: `dev`.

[2021-09-13 11:43] yoution commented on #550
@maxceem please assign to me

[2021-09-13 12:45] maxceem commented on #550
@yoution assigned

[2021-09-13 13:59] maxceem commented on #550
@yoution paid by https://www.topcoder.com/challenges/675b1a8e-20c7-4dac-a8bc-90d2ad34c8fe

[2021-09-17 07:26] sdgun commented on #507
Verified the issue and performed a targeted regression on the mentioned areas.

[2021-09-24 06:10] sdgun opened #556 "Filtering Jobs by jobLocation doesn't work"
**Steps**
Call Get https://api.topcoder-dev.com/v5/jobs?jobLocation=India

It brings jobs with all locations, not only the jobLocation=India

![image](https://user-images.githubusercontent.com/4592712/134626647-26441173-d1e8-492d-910d-36259587414e.png)

[2021-09-24 09:04] SathyaJayabal opened #557 "POST: Does not save the new job flag fields"
1. Use Post to create a JOB with job flag fields.
<img width="1440" alt="Screenshot 2021-09-24 at 2 31 53 PM" src="https://user-images.githubusercontent.com/58783823/134648624-7ad4dd55-3d05-4772-8a8c-7a4622872ca2.png">
Job is created and the response has the correct data for the job flag fields

2. User GET to view the job created in step 1
<img width="1440" alt="Screenshot 2021-09-24 at 2 32 11 P

[2021-09-24 14:48] LieutenantRoger commented on #556
@sdgun @SathyaJayabal This issue is resolved and has been deployed, it's using wildcard to do the filter of the job based on jobLocation

[2021-09-24 14:51] LieutenantRoger commented on #557
Suspect this is an issue with the zap syncing system. @SathyaJayabal  will work with @nkumar-topcoder @sushilshinde to work through the syncing process of the zap system next Week.

[2021-09-25 03:15] SathyaJayabal commented on #557
@LieutenantRoger , check out this scenario please.
1. Patch details for the new flags with some values.
2. Now patch the job and update any other field, example , start date
3. All the new fields data is now default values.

I guess for the POST case, same thing is happening
When user creates job with flag details it gets created correctly
When RCRM patches the external id of the job, these flag d

[2021-09-27 05:43] sdgun commented on #556
@LieutenantRoger Do we only support one location at a time? like Location=US and EU,India

[2021-09-27 06:54] LieutenantRoger commented on #556
Yes, Location is a dropdown list with single select option, so we don't support multiple location. So if you fill `US and EU,India` It will try to match a location contains `US and EU,India`

[2021-09-27 06:55] LieutenantRoger commented on #556
The behavior shall be the same with this page: https://www.topcoder.com/gigs for location dropdown for your reference.

[2021-09-27 07:27] sdgun commented on #556
Verified in Dev, issue is fixed.

[2021-09-27 15:06] LieutenantRoger commented on #557
@SathyaJayabal I think I have fixed this one and the dev env has been deployed.

[2021-10-01 06:27] SathyaJayabal opened #563 "Add support for specialJob filter"
https://docs.google.com/document/d/1kndArEmXkSrcW2E5tsscHpJ8ATxdTubBPyjKcAppaSM/edit
Summary:
When this param is presented, we need to return all the jobs meeting the criterias, so it shall be just 1 page with all the valid jobs.
This param should hit either featured=true job or showInHotList=true job

When there are other params presented, they shall be the ‘AND’ relationship with our new param s

[2021-10-01 06:28] SathyaJayabal commented on #563
Verified on dev
https://docs.google.com/spreadsheets/d/1pdyOKCmIbHK8mGmKyp3gcQ6Uc28SEulD/edit#gid=2147308202

[2021-10-05 07:47] SathyaJayabal commented on #72
@maxceem, during a recent tests, we noticed one  discrepancy. The Connect Manager was able to create jobs in projects that they are not a member of (in prod)
project : 18831
user: TCConManager

cc @lakshmiathreya

[2021-10-06 07:32] maxceem opened #564 "Notification sent to the job owner even though no Job Candidates were assigned"
![image](https://user-images.githubusercontent.com/146016/136159817-4f4442d9-2605-4f5d-8683-0d1f52f76b93.png)

incorrect notification sent: Notification email is being sent to owner of the Job  (connect project creater) even though Job candidate is not assigned. The alert is shared as though candidate is assigned to Job. (even if no candidate is assigned).
I cross verified and it’s happenining for

[2021-10-11 07:21] SathyaJayabal opened #568 "API changes to support Gigs listings on Earn App"
API changes to support Gigs listings on Earn App

[2021-10-11 10:01] #556 closed

[2021-10-11 10:06] sandhiyakavi commented on #563
No special jobs in Production to test

[2021-10-11 10:13] #557 closed

[2021-10-11 10:14] #568 closed, assigned to nobody

[2021-10-18 09:31] SathyaJayabal opened #575 "Add support for two new Job fields rcrmStatus rcrmReason"
1. Update the Job Model with the new two flags and implement the data model migration scripts, the new fields are:

rcrmStatus: default null, valid enum(‘Open’, ‘On Hold’, ‘Canceled’, ‘Draft’, ‘Closed’),
rcrmReason: default null

2. Support to filter based on the rcrmStatus field in the query param.

3.  For PUT operation, we will default these to null if they are not present in the payload

4.  F

[2021-10-18 09:33] SathyaJayabal opened #576 "ZAP update to sync RCRM status and reason to Job fields rcrmStatus and rcrmReason"
ZAP update to sync RCRM status and reason to Job fields rcrmStatus and rcrmReason

[2021-10-21 14:03] maxceem opened #586 "[$100] Send Email Notifications when meeting scheduled"
Branch: `feature/interview-update`.

#### Background

I've noticed one thing regarding Zoom link and Nylas workflow.
When the meeting is scheduled by Nylas both Customer (host) and Job Candidate (guest) receive email with the same Zoom Link. Though to be able to connect using Zoom, host has to use special host link and guest has to use another kind of link for guests. Until host doesn't join meeti

[2021-10-21 14:14] maxceem opened #587 "[$250] Cancel and Re-schedule interview meetings"
## Expected outcome

Implement functionality to cancel and re-schedule interviews by Customer and Job Candidate.

## Task

When we send emails confirming meeting to Customer and Job Candidate we have to include links which could be followed to Cancel or Re-schedule interview.

## TaaS API

To support cancel and reschedule features we have to do 2 additional things when processing create event webh

[2021-10-21 14:16] maxceem opened #588 "Include calendar/event metadata into notification emails"
![image](https://user-images.githubusercontent.com/146016/138296080-bb1697e8-b27f-45bc-8f33-a816e499e9c0.png)

[2021-10-21 14:28] maxceem opened #589 "Zoom accounts has to be used using round-robin"
Branch: `feature/interview-update`

As per requirements in this challenge https://www.topcoder.com/challenges/af9a1041-7a78-484d-87d3-5aec9e87b578?tab=details we have to use another Zoom account every time when we schedule a meeting.

It's implemented, but a bit different. After we use the last account in the list we have to start from the first account again. So if we have 3 Zoom accounts then ea

[2021-10-21 14:46] maxceem opened #590 "[$75] Missing fields of connected calendars"
Branch: `feature/interview-update`

There are various cases when after adding or deleting calendars, some calendars are missing in the UserMeetingSettings record. Expected behaviour: each calendar should always have the next 5 fields:
- `id` <- calendar id
- `accountId`
- `accountProvider`
- `accessToken`
- `isPrimary`

### Failed Cases

1. - User doesn't have UserMeetingSettings
   - We add Micro

[2021-10-21 15:27] maxceem commented on #590
Assigned to @mahidulalvi-bonic

[2021-10-23 13:01] maxceem opened #592 "[$50] Don't delete connected calendars, just flag as deleted"
Branch `feature/interview-update`.

We have endpoint to delete connected calendars which was implemented in this challenge https://www.topcoder.com/challenges/af9a1041-7a78-484d-87d3-5aec9e87b578?tab=details

- `DELETE /taas/user-meeting-settings/:userId/calendars/:calendarId`
- Instead of actually deleting calendars we should keep them, and just mark them as deleted, like with flag `isDeleted: tr

[2021-10-25 09:50] #576 closed, assigned to nobody

[2021-10-25 09:51] #575 closed, assigned to nobody

[2021-10-26 20:08] maxceem opened #605 "[$50] Unify email template naming"
Branch: `feature/interview-update`

Recently we've added a lot of email templates and it become very hard to match environment variables like of email sendgrid templates, with notification topic and email template html file name:
For example notification regarding profile view:
- Environment variable is `NOTIFICATION_CLIENT_VIEWED_PROFILE_SENDGRID_TEMPLATE_ID`
- Topic is `taas.notification.job-can

[2021-10-29 05:38] sdgun opened #608 "Interview invitation email is not sent after scheduling interviews"
**Steps**

- Select 'Schedule interview' action from CANDIDATES TO REVIEW page for a candidate
- Select a date and time
- Continue and confirm

Interview invitation email is not sent after scheduling interviews

Position - https://platform.topcoder-dev.com/taas/myteams/18968/positions/44df97b2-c9d0-41d4-80b8-95dbb0fd25c2/candidates/interviews

Invitation sent by the user - taasintake12
Candidate -

[2021-10-29 11:26] #608 closed, assigned to nobody

[2021-10-30 12:35] maxceem opened #609 "[$100] Send Interview email rendering time in the timezone of the receiver (host/guest)"
At the moment we are sending all the Interview related emails showing time in the timezone of the host.

When we send email to the **guest**, we have to render all these times in the timezone of the **guest**. And when send emails to the **host** use timezone of the **host**.

We already know the the timezone of the `host` which we store inside `interview.timezone` field. We also have to gather ti

[2021-10-30 12:35] maxceem commented on #586
@nkumar-topcoder would need your help to check Sendgrid.
- it looks like templates `taas.notification.interview-link-for-guest` and `taas.notification.interview-link-for-host` are mixed up. Could you please check that these templates in Sendrid have source code from the correct html file. And that env variable for it has corresponding id in AWS env file.
- also, we would need to set subject in Sen

[2021-11-01 05:02] sdgun commented on #605
@maxceem Is this something we can test from UI?

[2021-11-01 06:43] sandhiyakavi commented on #592
Verified in Dev Env. The id is same for the account deleted and added again.

![image](https://user-images.githubusercontent.com/55895538/139632103-494fae79-0d4f-43d4-b352-7740f0970003.png)

[2021-11-01 07:38] sdgun commented on #589
@maxceem In Dev we always see the zoom meetings from same account(Md Mahidul..) Can this be tested in Dev?

[2021-11-01 07:41] sandhiyakavi commented on #590
@maxceem I am currently able to view only 4 fields and accessToken field is missing and accountId field is displayed as email

![image](https://user-images.githubusercontent.com/55895538/139638029-716c2883-5f64-463a-a9a7-ab6c9f579f14.png)

[2021-11-01 07:54] maxceem commented on #605
@sdgun no, this is a code organisation issue, so cannot be QAed.

[2021-11-01 08:43] maxceem commented on #589
@sdgun yes, this can be tested.

For now we use account from Md Mahidul because Topcoder not yet provided official accounts. But technically it already works and can be tested.

One of the important cases to verify here, that customer can really connect with JC using their links.

[2021-11-01 08:48] maxceem commented on #590
@sandhiyakavi that's an expected behaviour. I think we can treat this issue as internal technical issue, if scheduling/calendar connection work well, it means that we get all the necessary fields.

`accountId` and `accessToken` should never be returned by API to the client as per [challenge-2](https://www.topcoder.com/challenges/d4c83668-988f-4492-a1f5-66b119782406?tab=details), because they give

[2021-11-01 09:16] sdgun commented on #589
Verified joing meetings as customer and JC from the links sent in the emails. No issues in connecting but noticed the meeting is set to a recurring meeting even though there is only one occurance.

![image](https://user-images.githubusercontent.com/4592712/139649402-2f00e8eb-422f-496b-8305-84d123b8c354.png)

[2021-11-01 09:30] sandhiyakavi commented on #589
@maxceem Both candidate as well as Customer are asked to join only as attendee and not as host, The customer is asked to sign in and join as attendee (not as host of the meeting) with the meeting password.

customer got below screen's on clicking the Zoom link.
![image (6)](https://user-images.githubusercontent.com/55895538/139650854-7f79ffb9-4a44-477b-9e9b-1fc412999d7b.png)

![image (5)](https://

[2021-11-01 11:16] sandhiyakavi opened #610 "Field isPrimary is true for both Google as well as Nylas calendars."
Description:

Field isPrimary in user-meeting-settings model  is true for both Google as well as Nylas calendars.

Steps to Reproduce:

1. Connect a google account using Connect Calendar.
2. Make changes in  the availability time displayed in Manage Availability modal.
3. Schedule the meeting.
4. Check  isPrimary field using GET/taas-teams/user-meeting-settings/{{userid}}

![image](https://user-im

[2021-11-02 07:18] maxceem commented on #605
Closing as it cannot be tested during QA.

[2021-11-02 07:18] #605 closed

[2021-11-03 06:34] sdgun commented on #586
@maxceem Now we can see the subject in the email but in the email sent to the host, we see below issue

![image](https://user-images.githubusercontent.com/4592712/140018024-706184d8-ea58-4f03-8672-c1fe0c2dbe4f.png)

[2021-11-03 07:42] maxceem commented on #589
@sandhiyakavi it works good to me, see demo video https://monosnap.com/file/KlC0AvTMxlgFGqHJvjF5gHQ4xaqy0z (I use Windows virtual machine to simulate 2 different computers)

Did you open these link on one computer or 2 different computers?

[2021-11-03 08:03] sandhiyakavi commented on #589
@maxceem I used one computer but I didn't open both links at the same time. I opened only Customer link then closed it and opened Candidate link. Don't know why I was not able to host. Better we will check again and update here.

[2021-11-03 08:33] sdgun commented on #586
@maxceem The issues mentioned in my comment [above](https://github.com/topcoder-platform/taas-apis/issues/586#issuecomment-954648138) are present in the expired email notification too

[2021-11-03 08:51] sdgun commented on #589
I verified this using two devices, worked as expected.

[2021-11-03 09:10] maxceem commented on #589
@sdgun we use this type of meeting because so we don't have to define exact time for zoom meeting as previously it was technically impossible. Now I think we can embed meeting time into zoom meeting, so it should be possible to remove this text.

Though I suggest logging it as a separate issue as the solution is not very easy.

[2021-11-03 09:11] maxceem commented on #586
@sdgun could you please share the screenshot of expired email example?

[2021-11-03 09:36] sdgun opened #612 "Zoom meeting is set to a recurring meeting"
When joing meetings as customer and JC from the links sent in the emails, noticed the meeting is set to a recurring meeting even though there is only one occurance.

![image](https://user-images.githubusercontent.com/4592712/140037033-a97414e0-211d-4bcb-99c8-b6b4f6d80ef5.png)

[2021-11-03 09:36] sdgun commented on #589
Created https://github.com/topcoder-platform/taas-apis/issues/612 on above issue.

[2021-11-03 09:50] sdgun commented on #586
@maxceem Please ignore the issue on expired notification, there was a miscommunication, we don't have the issues mentioned in my comment in expired notifications.

[2021-11-03 11:01] maxceem commented on #610
@sdgun this should be fixed now and ready for QA on DEV.

[2021-11-03 11:09] sdgun opened #613 "Issues with email notification 'Client has viewed your Topcoder profile'"
In this email, the subject is different from the design and the spacing is not added to the email body

Design:
![image](https://user-images.githubusercontent.com/4592712/140050006-293e6692-197c-4178-94fe-036cf80eee97.png)

Email:
![image](https://user-images.githubusercontent.com/4592712/140050086-57968f3a-6a73-46c4-b901-e0854323c8a6.png)

[2021-11-03 12:15] sdgun opened #614 "Clarification on notification sent after placement"
In the notification we send to the customer upon candicate placement, Resource Booking Start Date and Resource Booking End Date are included, but these dates are empty at the time of email being sent so in the email they will always be empty.

![image](https://user-images.githubusercontent.com/4592712/140058191-3e53a506-46a6-493f-9275-8fb980578624.png)

[2021-11-04 16:40] sdgun opened #615 "[$100] Some notifications are not received"
Didn't observe the below notifications coming:

Candidates are available for review (`taas.notification.candidates-available-for-review`) - Team - https://platform.topcoder-dev.com/taas/myteams/18973/positions/1448cb0c-fd69-4842-941f-7a3d934bdf52

Interview reminders-host/guest (hour before/day before) - (`taas.notification.interview-coming-up-guest` and `taas.notification.interview-coming-up-host

[2021-11-05 09:46] maxceem opened #616 "[$50] Replace webhook which listens to created events"
Branch: `dev`

When Job Candidate selects time for the interview on a page like this https://monosnap.com/file/9cXE031FqlogxlmPYXdUclZO5dkIfD

Once time is selected, Nylas internally creates an event and triggers global Nylas webhook which we listen to in TaaS App [here](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/NylasWebhookService.js#L201), save selected time and change

[2021-11-05 09:47] maxceem opened #617 "Interview Improvements - Summary"
Branch: `dev`

- https://github.com/topcoder-platform/taas-apis/issues/618
- https://github.com/topcoder-platform/taas-apis/issues/616
- https://github.com/topcoder-platform/taas-apis/issues/619
- https://github.com/topcoder-platform/taas-apis/issues/587
- https://github.com/topcoder-platform/taas-apis/issues/609

[2021-11-05 09:53] maxceem opened #618 "[$75] Fix updating interview method on webhooks"
At the moment when we listen to Nylas webhooks and update interview we are using method [updateInterviewStatus](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/NotificationsSchedulerService.js#L658-L667).
But the implementation of this method is incorrect. It only updates `status` in the DB but it updated all the fields in the ES.

It method says that is only updates status bu

[2021-11-05 10:04] maxceem opened #619 "[$75] Use `metadata` to identify Nylas update events instead of parsing `description`"
When event is created inside Nylas Page listen to it using webhook in `partiallyUpdateInterviewByWebhook` as per https://github.com/topcoder-platform/taas-apis/issues/616.

But the event to update event we still listen to the global event and to get interview id we still have to parse event description which is not super reliable. To make it more reliable and to support potential features we have

[2021-11-05 11:17] #617 closed

[2021-11-05 12:53] maxceem commented on #613
@sdgun this has to be fixes now and ready for QA.

[2021-11-05 13:11] sdgun commented on #613
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/140514599-6f30722b-277c-4de5-9eb4-33ea55980eae.png)

@maxceem However the first time clicking the link 'Open Applications.' in this email is throwing this error and the page goes blank, does this have something to do with our changes?

![image](https://user-images.githubusercontent.com/4592712/140515412-ee6ae8b7-772b-4941

[2021-11-05 13:23] maxceem commented on #613
@sdgun could please try in incognito mode or reload the page using `Ctrl/Cmd+Shift+R` to clear cache?

It seems that Gigs App changed something which breaks it for uses who used this app previously. And we need to clear cache in order to use this page again.

fyi @LieutenantRoger

[2021-11-05 13:38] maxceem commented on #586
@sdgun this has to be fixed now and ready for QA https://github.com/topcoder-platform/taas-apis/issues/586#issuecomment-958685451

[2021-11-05 13:43] maxceem commented on #614
@sdgun I've got confirmation from Nagendra that we never have start/end date at the moment when RB is placed. So I removed start/end dates from this email. It's ready for QA.

[2021-11-05 13:48] maxceem opened #620 "Issue when connecting Google/Microsoft calendar and then removing it"
Step to reproduce:
- Don't create any interview so user doesn't have Nylas account (use fresh user for this)
- Connect Google or Microsoft calendar
- Schedule some interview using this calendar
- Remove connected calendar
- Is scheduled interview fine? Can we cancel and reschedule it?
- What if we schedule a new interview now, would be Nylas Virtual Calendar created?

[2021-11-05 17:05] sdgun commented on #613
@maxceem The above I tried in incognito mode, anyway I tried with another user again after clearing cache and saw the same issue.

![image](https://user-images.githubusercontent.com/4592712/140550165-2793e796-d6c8-4374-b0a8-2ecbae7364ad.png)

[2021-11-05 17:07] sdgun opened #621 "Interview scheduled email is not sent"
Sheduled some interviews today and for any of them didn't receive the interview scheduled email from JC or customer.

Interviews:
https://platform.topcoder-dev.com/taas/myteams/18969/positions/0efdcf55-3b3f-490e-aa77-66523acb5dd8/candidates/interviews

[2021-11-05 17:11] sdgun commented on #586
@maxceem Interview scheduled email is not sent now

Example Interviews:
https://platform.topcoder-dev.com/taas/myteams/18969/positions/0efdcf55-3b3f-490e-aa77-66523acb5dd8/candidates/interviews

[2021-11-05 17:11] #621 closed

[2021-11-05 17:16] sdgun commented on #614
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/140551645-bbd1cc12-0c50-4da7-9bae-6a146da1a35b.png)

[2021-11-06 00:08] mahidulalvi-bonic commented on #618
Hi @maxceem, I created this PR https://github.com/topcoder-platform/taas-apis/pull/622 for the issue. The requirements say I need to update Swagger docs, but method 'updateInterviewStatus' is an internal one, so I am not sure. Please let me know.

[2021-11-06 00:38] mahidulalvi-bonic commented on #618
There are  recent changes in Interview Service 'partiallyUpdateInterviewStatus' method which has Joi validation rules different from the requirement in this issue. Should I change those?

[2021-11-06 03:46] mahidulalvi-bonic commented on #618
So I am back to the Swagger update requirement, where should I update it? Its an internal method, right?

[2021-11-06 06:55] maxceem commented on #618
@mahidulalvi-bonic sorry if I wasn't clear, we already have method [InterviewService.partiallyUpdateInterviewById](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/InterviewService.js#L510-L574) which is not internal. So what I mean was
- remove method [updateInterviewStatus](https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/NotificationsSchedulerService.js#L

[2021-11-06 14:34] mahidulalvi-bonic commented on #618
Got it, in some cases, the method will be called by machine - when executing cron jobs etc. What should be saved as the data.updatedBy in these cases?

[2021-11-06 14:37] maxceem commented on #618
We would use special id of the M2M token. You may generate `currentUser` object to pass into this method like this https://github.com/topcoder-platform/taas-apis/blob/dev/src/services/TeamService.js#L760

[2021-11-06 15:08] mahidulalvi-bonic commented on #618
@maxceem, I have updated the PR https://github.com/topcoder-platform/taas-apis/pull/622. Please let me know.

[2021-11-06 15:09] mahidulalvi-bonic commented on #618
How do you test from Nylas webhooks? Is there a way to trigger API calls from webhooks instead of simulating in Postman?

[2021-11-06 15:14] maxceem commented on #618
No, I don't trigger webhook manually, I trigger by selecting time on the Nylas page after setting up the whole workflow. Here is how I do it:
- Run TaaS API
- Use `ngrok http 3000` to get public URL of local TaaS API
- Config this URL inside Nylas Dashboard
- Schedule interview using Postman:

    ![image](https://user-images.githubusercontent.com/146016/140614521-0cb3ef01-1af6-4159-a602-65b66c173

[2021-11-06 16:17] mahidulalvi-bonic commented on #618
I tested it using this flow, I think its working correctly by reading console logs & checking DB record.

[2021-11-06 16:19] mahidulalvi-bonic commented on #618
Yesterday I tested it manually by calling the webhooks endpoint in the API. It was working although that endpoint expects data in a different format as given by Nylas servers.

[2021-11-06 16:19] maxceem commented on #618
Great, thanks. I'll verify it tomorrow morning now.

From the code of view it looks good, so you may continue with other tasks. You may use the same branch so you make other fixes, already using updates you've already done.

[2021-11-06 16:20] mahidulalvi-bonic commented on #618
Got it. Thanks.

[2021-11-07 04:51] mahidulalvi-bonic commented on #616
@maxceem, I have updated the PR #622 with the fixes for this issue.

[2021-11-07 11:45] mahidulalvi-bonic commented on #619
@maxceem, I have updated the PR https://github.com/topcoder-platform/taas-apis/pull/622 with the fixes for this issue as well.

[2021-11-07 13:11] mahidulalvi-bonic commented on #616
@maxceem, I couldn’t find any X-Nylas-... key in the request headers of the new webhook endpoint for created events. So this route is currently open and not enforcing authentication.

[2021-11-07 13:15] maxceem opened #623 "Add authentication for a new Nylas Page webhook."

[2021-11-07 13:15] maxceem commented on #616
Good catch. Thanks for letting me know. We would think about implementing some authentication for it, logged issue for now https://github.com/topcoder-platform/taas-apis/issues/623

[2021-11-08 08:12] mahidulalvi-bonic commented on #587
Hi @maxceem, I created these two PRs for this issue.
https://github.com/topcoder-platform/taas-apis/pull/622
https://github.com/topcoder-platform/taas-app/pull/574

[2021-11-08 08:18] maxceem commented on #587
Thank you @mahidulalvi-bonic I'm checking it out.

[2021-11-08 13:26] mahidulalvi-bonic commented on #609
@maxceem, what is the last time for this issue? Some additional time would be great.

[2021-11-08 13:38] maxceem commented on #609
@mahidulalvi-bonic by when do you think you may complete it?

[2021-11-08 13:51] maxceem commented on #609
Ok, that would be fine.

Just in case I've updated one requirement, instead of removing all the interviews during migration to "migration script should copy value from hostTimezone to guestTimezone during migrating the existent interview records".

also, could you please, get the latest changes from our `dev` branch to your dev branch as I've made some fix there

[2021-11-08 13:56] mahidulalvi-bonic commented on #609
Yes, will do. Thanks.

[2021-11-08 16:06] maxceem commented on #615
@sdgun this has to be fixed by https://github.com/topcoder-platform/taas-apis/issues/618 and is ready for QA

[2021-11-09 01:39] mahidulalvi-bonic commented on #623
Working on this, looking into scheduler API.

[2021-11-09 04:59] sdgun commented on #613
@maxceem can we close this is not an issue from our side?

@LieutenantRoger Is this a known issue?

[2021-11-09 05:11] mahidulalvi-bonic commented on #623
Hi @maxceem, I pushed the fixes in PR https://github.com/topcoder-platform/taas-apis/pull/622.

[2021-11-09 06:36] mahidulalvi-bonic commented on #623
@maxceem, I think there might be an issue in the future with this method.

So currently, the token is set in scheduler page record at the time of creating invite/interview record. If the invitation was sent on the 1st day of a month, and the candidate/host later schedules the interview on the 7th day.

On the 3rd day, lets say you want to change the token set in env var(as a secure practise/due to

[2021-11-09 08:08] maxceem commented on #613
@sdgun IMHO this is not from our side, because even if you directly try to earn app you would get the same issue. We just follow link to the earn app.

[2021-11-09 09:10] sdgun commented on #615
@maxceem Still not getting these notifications, the below interview completed today and no email received on interview reminder, completion.

https://platform.topcoder-dev.com/taas/myteams/18976/positions/322a3141-4a96-4473-980f-2c67d2ca2e08/candidates/interviews

Also no email received on candidate available for review(https://platform.topcoder-dev.com/taas/myteams/18976)

Post Interview Action R

[2021-11-09 10:27] mahidulalvi-bonic commented on #609
Customer can access the calendar before the candidate, theoretically.. Then we would store customer's timezone to guest timezone.

[2021-11-09 10:33] maxceem commented on #609
In practice I cannot see how it would happen. When customer schedules interview we only send link to select time to the candidate. So at this moment customer doesn't know where to select time.

[2021-11-09 13:06] mahidulalvi-bonic commented on #609
@maxceem, some interview email templates don't show the timezone such as
`taas.notification.interviews-overlapping.html`

Here the 'Start time' is shown in EDT. Should I also update these? Note, so far I only found two templates which actually shows the timezones..

[2021-11-09 13:11] maxceem commented on #609
@mahidulalvi-bonic

we don't have to update `taas.notification.interviews-overlapping.html` as this is for Topcoder stuff and they always use EDT.

I've mentioned email templates in the task description https://github.com/topcoder-platform/taas-apis/issues/609#issue-1040136970

Most of them don't mention `timezone` that's fine. What we have to update is time which we show there.
Now we usually sho

[2021-11-09 13:38] maxceem commented on #609
@mahidulalvi-bonic just in case, please, create new PRs to branch `feature/interview-update-part-2`. Your previous PR has been already merged there.

[2021-11-09 14:55] mahidulalvi-bonic commented on #609
@maxceem, I pushed this PR https://github.com/topcoder-platform/taas-apis/pull/628 with the fixes.

[2021-11-09 14:56] mahidulalvi-bonic commented on #609
I am not really sure how to see this, how do you trigger emails in demo?

[2021-11-09 15:11] maxceem commented on #609
What this demo script does it creates such data in the DB so this notifications would be triggered during the next run CRON.

Foe example we want to test interview coming up notification which is sent 1 hour before the interview. For this purpose we create interview record in the DB with start time 1 hour 5 minutes from now. So I’m 5 minutes this notification would be triggered by TaaS API.

The s

[2021-11-09 15:20] mahidulalvi-bonic commented on #609
So I don't need to make any changes there, right? Or do I need to adjust the times etc?

[2021-11-09 15:22] maxceem commented on #609
This script becomes quite outdated for these notifications. So we have to update it so it triggers them again.

[2021-11-10 11:12] maxceem commented on #620
Fixed by https://github.com/topcoder-platform/taas-apis/commit/27eaa64ac74d121e037b255420b2012f7f832bde

[2021-11-11 05:24] sdgun commented on #620
@maxceem I don't see any way to cancel and reschedule interviews, do we have this functionality implemented?